  <!-- [header --> 
       <div class="header_top">
    <div class="container">
      <!-- Contact Details -->
      <div id="contact-details">
        <ul>
          <li>A Logística Simplificada</li>
        </ul>
      </div>
      <ul id="owl-tt-menu" class="owl-tt-menu">
     
        <li> <a href="#">Português</a> 
          <ul class="owl-tt-submenu">
            <li><a href="../en/{{this.name}}.html" class="flags ">English</a></li>
            <li><a href="../sp/{{this.name}}.html" class="flags ">Español</a></li>
            <li><a href="../fr/{{this.name}}.html" class="flags ">Français</a></li>
            <li><a href="../ch/{{this.name}}.html" class="flags">中文</a></li>
            
          </ul>
        </li>
        <li> <a href="login-page.html" target="_blank" >Iniciar sessão</a>
          
        </li>
      </ul>
      <div class="social-top"> <a href="http://www.twitter.com/delmarcargo" target="_blank" class="fa fa-twitter"></a> <a href="http://www.facebook.com/delmarcargo" target="_blank" class="fa fa-facebook"></a> <a href="http://www.youtube.com/delmarcargo" target="_blank" class="fa fa-youtube"></a>    <a href="https://plus.google.com/+Delmarcargo" target="_blank" class="fa fa-gplus"></a> <a href="http://www.linkedin.com/company/delmar-international-inc." target="_blank" class="fa fa-github"></a> </div>
      <!-- Social Icons -->
      <div class="clear"></div>
    </div>
  </div>
   
  
  <div id="modal" class="popupContainer" >
		<header class="popupHeader">
			<span class="header_title">Login</span>
	<span class="modal_close"><i class="fa fa-times"></i></span>		</header>
		
		<section class="popupBody">
			<!-- Social Login -->
			<div class="social_login">
				<div class="">
					<a href="#" class="social_box fb">
						<span class="icon"><i class="fa fa-facebook"></i></span>
						<span class="icon_title">Connect with Facebook</span>
						
					</a>

					<a href="#" class="social_box google">
						<span class="icon"><i class="fa fa-google-plus"></i></span>
						<span class="icon_title">Connect with Google</span>
					</a>
				</div>

				<div class="centeredText">
					<span>Or use your Email address</span>
				</div>

				<div class="action_btns">
					<div class="Login-one_half"><a href="#" id="login_form" class="flat md grey">Login</a></div>
					<div class="Login-one_half last"><a href="#" id="register_form" class="flat md grey">Sign up</a></div>
				</div>
			</div>
		</section>
	</div>
  
    <!-- Navigation -->
  <div id="nav">
    <div class="nav-sticky">
      <div class="container navbar navbar_ clearfix">
        <div class="navbar-inner">
          <div class=" row">
            <!--============================== OWL MENU =================================-->
            <div class="owl-contener col-md-12  clearfix">
              <!-- Logo -->
              <h1 class="brand fleft"><a href="index.html"><img src="{{language.dir}}img/logo.png" alt=""></a><span>Delmar International Inc.</span></h1>
              <!-- Search Field -->
              <div class="search-header">
                <form id="search-header" method="get" action="#" accept-charset="utf-8">
                  <input type="text" name="s" placeholder="Search..." class="search-form_it">
                  <input type="submit" value="" id="search-form_is">
                </form>
              </div>
              <div class="cat-title"></div>
              <ul class="owl-menu menu-content">
				<!--=========== Single Menu ===============-->
                <li class="single-dropdown loginvisibility"> <a href="login-page.html">Iniciar sessão
                  <div class="skewed_slide"></div>
                  </a>
                  
                </li>
                <!--=========== Single Menu ===============-->
                <li class="single-dropdown"> <a href="{{language.dir}}services.html">Principais Serviços
                  <div class="skewed_slide"></div>
                  </a>
                  
                </li>
                <!--=========== Single Menu ===============-->
                <li class="single-dropdown"> <a href="{{language.dir}}news.html">Notícias
                  <div class="skewed_slide"></div>
                  </a>
                </li>
                <!--=========== Mega Menu ===============-->
                <li class="single-dropdown"> <a href="{{language.dir}}our-company.html">Nossa Empresa 
                  <div class="skewed_slide"></div>
                  </a>
                
                </li>
                <!--=========== Blog ===============-->
                <li class="single-dropdown"><a href="{{language.dir}}links.html">Links
                  <div class="skewed_slide"></div>
                  </a>
                  
                </li>
                <!--=========== Portfolio ===============-->
                <li class="single-dropdown"><a href="{{language.dir}}contact-delmar.html">Contato
                  <div class="skewed_slide"></div>
                  </a>
                 
                </li>
                <!--=========== Contact Menu ===============-->
                
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
       <!-- ]header -->