---
name: "news"
title: "Delmar in the news"
desc: "Realidades e Últimas Notícias envolvidos na indústria da Delmar , bem como , arquivos , ferramentas de marketing, sobre nós , e canal YouTube da Delmar"
keywords: "doca cruz, agenciamento de carga, trabalhos de agenciamento de carga, frete aéreo, serviços Truckload, Canadá camionagem, América do Norte transporte por caminhão, desembaraço aduaneiro, despachante aduaneiro, despachantes aduaneiros, costumes corretora Canadá, desembaraço aduaneiro Montreal, México costumes, os costumes China, Canadá aduaneiro, transporte corretor, corretor, corretora, frete, agente de carga, carro de frete, transitário, transitários, frete encaminhamento Canadá, transmissão internacional de mercadorias, o transporte, carga, carregamento, expedição, carga, carga, transporte, frete, carga, frete, carga , gestão de carga, transporte de carga, taxa de carga, citações carga, portador, portadores, distribuição, logística, logística, serviços de logística, logística global, transporte global, soluções de logística global, disposição, fornecimento, abastecimento, rastreamento, trilha, comércio, serviços de informação , serviços de consultoria, ar, oceano, entreposto aduaneiro, de ônibus, serviço de contentores, gabinetes de estudos personalizados, serviços, exportação nacionais, ACI, AMS, PARS, PAPS, serviços de importação, internacional, embalagem e crating, carro piscina, o transporte ferroviário, os agentes de navio a vapor, navio a vapor , serviços de transporte rodoviário, transporte por caminhão, caminhão, materiais perigosos, transporte, navio porta-contentores, expedição, expedição, armazenamento, armazenagem, depósito, reposição, repositing, importação, exportação, comercialização, distribuição complexos, expedição, transporte de mercadorias, bens de transportar, o transporte de mercadorias, EUA, Canadá, Montreal, México, China, Taiwan, Vietnã, Hong Kong, Filipinas, Brasil, Camboja, Barbados, cobertura global, compromisso social, ação sustentável, caridade, multimodal, flexibilidade, soluções personalizadas, a carga perecível tempo, o fornecimento, oferta cadeia, soluções de cadeia de fornecimento, IATA, CIFFA, C_TPAT, PIP, WCA, de carga do mundo, DCMS, ordem de compra, serviços de LTL, luvas brancas, de consolidação, roll out, capacidade de distribuição, de mesa, decks etapa, roll-tite flecibility, ao longo dimensional , conhecimento, experiência, Delmar International Inc., Delmar, Delmar Delmarcargo, de carga, grupo Delmar, Delmar, Delmar internacionais do grupo, transpacífico, importação, exportação, transload, RI, porto, vela, recipiente, embarcação, últimas notícias, arquivos, notícias, publicações, ferramentas de marketing, folheto Delmar, Delmar três dobras, endereço, sobre nós, YouTube, canal Delmar YouTube, canais, direitos autorais, marketing, DCMS"
author: "Adriana Molano, Isabel Quintela, Margarita Mayoral"
format-detection: "telephone=no"
viewport: "width=device-width, initial-scale=1, maximum-scale=1" 

rootdir: ""
---
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js"
type="text/javascript"></script>
<style type="text/css">
@import url("gfdynamicfeedcontrol.css");
   body {
     font-family: "Arial", sans-serif;
     font-size: 13px;
   }
   #main {
     width : 800px;
     min-width : 280px;
     margin-left: 30px;
   }
   input.search-input {
     width : 438px;
     color: #9CADD0;
     padding-left: 1px;
     padding-right: 1px;
     margin-bottom : 15px;
     margin-top : 10px;
   }
   #feedGadget {
     width : 440px;
     font-size: 16px;
     color: #9CADD0;
   }
   #feedGadgetHorizontal {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
	line-height: 1.5em;
     width : 550px;
     font-size: 16px;
     color: #9CADD0;
     margin-top : 15px;
   }
   .gfg-title{
   visibility: hidden;
   }
   .gfg-subtitle{
   visibility:hidden;}
   .gf-title {
   font-size: 20px;
   text-transform: uppercase;
   margin-bottom: 22px;
   }
   .gf-result {
   margin-bottom: 22px;
   width : 400px;
   border-bottom: 1px solid #dcdcdc;
   text-decoration: none;
   }
   .gfg-list{
   margin-bottom: 22px;
   width: 360px;
   Text-decoration: none;
   }
   .gfg-listentry{
     margin-bottom: 55px;
	 padding-bottom: 22px;
   border-bottom: 1px solid #dcdcdc;
   width : 400px;
   }
   .gfg-listentry-highlight 
   .gfg-listentry-odd{
   margin-bottom: 20px;}
   .gf-author {
   font-size: 13px;
   color: #black;
   margin-bottom: 20px;
   }
   .gf-relativePublishedDate {
	font-size: 13px;
   color: #black;
   margin-bottom: 20px;
   }
   .gf-snippet {
   font-size: 13px;
   color: #000000;
   margin-bottom: 22px;
   text-transform: none;
   font-family: 'Arial', sans-serif;
   font-weight: 350;
   text-transform: lowercase;
   line-height: 1.6em;
   }
   .blog-entry {
   border-bottom: none;
   padding-bottom: 5px;
   }
   h3 {
   font-size: 20px;
   text-transform: uppercase;
   margin-bottom: 22px;
   color: #428bca;
   cursor: auto;
   }
   h3>h4 {
   font-size: 14px;
   color: #000000;
   margin-bottom: 18px;
   text-transform: none;
   font-family: 'Arial', sans-serif;
   font-weight: 300;
   line-height: 1.6em;
   }
   h3>h4>h5>h6>p {
   font-size: 13px;
   color: #000000;
   margin-bottom: 22px;
   text-transform: none;
   font-family: 'Arial', sans-serif;
   font-weight: 350;
   text-transform: lowercase;
   line-height: 1.6em;
   }
</style>
<script type="text/javascript">
function load() {
	var feed ="http://blog.delmarcargo.com/feed/";
	var options ={ 
		numResults : 3,
		displayTime : 6000,
		fadeOutTime : 500,
		scrollOnFadeOut : false,
		stacked : true
		}
	new GFdynamicFeedControl(feed, "feedGadgetHorizontal", options);
}
google.load("feeds", "1");
google.setOnLoadCallback(load);
</script>
<script type="text/javascript">
function load() {
	var feed ="http://blog.delmarcargo.com/feed/";
	var options ={ 
		numResults : 3,
		displayTime : 100000,
		fadeOutTime : 500,
		scrollOnFadeOut : false,
		horizontal : false,
		stacked : true,
		sortByDate : true,
		}
	new GFdynamicFeedControl(feed, "feedGadget", options);
}
google.load("feeds", "1");
google.setOnLoadCallback(load);
</script>
<script type="text/javascript">
    google.load("feeds", "1");
    function initialize() {
	 var feed = new google.feeds.Feed("http://blog.delmarcargo.com/category/English/feed/");
		 feed.setNumEntries(3);
      feed.load(function(result) {
        if (!result.error) {
          var container = document.getElementById("feed");
          for (var i = 0; i < result.feed.entries.length; i++) {
            var entry = result.feed.entries[i];
            var div = document.createElement("div");
			var h3 = document.createElement("h3");
			var h4 = document.createElement("h4");
			var h5 = document.createElement("h5");
			var h6 = document.createElement("h6");
			var p = document.createElement("p");
			var a = document.createElement("a");
			var href = document.createElement("href")
            div.appendChild(document.createTextNode(entry.title));
			a.setAttribute('class','gfg-listentry gfg-listentry-odd');
			a.setAttribute('href',entry.link);
			h3.appendChild(document.createTextNode(entry. title));
			h4.appendChild(document.createTextNode(entry.publishedDate));
			h5.appendChild(document.createTextNode(entry.author));
			h6.appendChild(document.createTextNode(entry.categories));
			p.appendChild(document.createTextNode(entry.contentSnippet));	
			container.appendChild(a).appendChild(h3).appendChild(h4).appendChild(h5).appendChild(h6).appendChild(p);		
          }
        }
      });
    }
    google.setOnLoadCallback(initialize);
	google.setOnLoadCallback(OnLoad);
	google.setOnLoadCallback(handler);
    </script>
  <!-- [header --> 
             <div class="header_top">
    <div class="container">      
      <div id="contact-details">
        <ul>
          <li>A Logística Simplificada</li>
        </ul>
      </div>
      <ul id="owl-tt-menu" class="owl-tt-menu">     
        <li> <a href="#">Português</a> 
          <ul class="owl-tt-submenu">
            <li><a href="../en/{{this.name}}.html"  >English</a></li>
            <li><a href="../sp/{{this.name}}.html"  >Español</a></li>
            <li><a href="../fr/{{this.name}}.html"  >Français</a></li>
            <li><a href="../ch/{{this.name}}.html"  >中文</a></li>           
          </ul>
        </li>
                <li> <a href="login-page.html" target="_blank" >Iniciar sessão</a>
			<ul class="owl-tt-submenu">
            <li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
            <li><a href="aci-ams.html" >ACI-AMS</a></li>
            
          </ul>
          
        </li>
      </ul>
      <div class="social-top"> <a href="http://www.twitter.com/delmarcargo" target="_blank" class="fa fa-twitter"></a> <a href="http://www.facebook.com/delmarcargo" target="_blank" class="fa fa-facebook"></a> <a href="http://www.youtube.com/delmarcargo" target="_blank" class="fa fa-youtube"></a>    <a href="https://plus.google.com/+Delmarcargo" target="_blank" class="fa fa-gplus"></a> <a href="https://www.linkedin.com/company/delmar-international-inc-" target="_blank" class="fa fa-github"></a> </div>      
      <div class="clear"></div>
    </div>
  </div>
  <div id="nav">
    <div class="nav-sticky">
      <div class="container navbar navbar_ clearfix">
        <div class="navbar-inner">
          <div class=" row">            
            <div class="owl-contener col-md-12  clearfix">             
			  <h1 class="brand fleft"><a href="index.html"><img src="../img/logo.png" alt=""></a><span>Delmar International Inc.</span></h1>              
              <div class="cat-title"></div>
              <ul class="owl-menu menu-content">				
                <li class="single-dropdown loginvisibility"> 
                 <a href="#">Português</a> 
          <ul class="owl-submenu" style="width: 250px;">
            <li><a href="../en/{{this.name}}.html"  >English</a></li>
            <li><a href="../sp/{{this.name}}.html"  >Español</a></li>
            <li><a href="../fr/{{this.name}}.html"  >Français</a></li>
            <li><a href="../ch/{{this.name}}.html"  >中文</a></li>           
          </ul>
        </li>
				<li class="single-dropdown loginvisibility">
						<a href="#">Siga-nos</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="http://www.twitter.com/delmarcargo" target="_blank" >Twitter</a></li>
							<li><a href="http://www.facebook.com/delmarcargo" target="_blank" >Facebook</a></li>
							<li><a href="http://www.youtube.com/delmarcargo" target="_blank" >Youtube</a></li>
							<li><a href="https://plus.google.com/+Delmarcargo" target="_blank" >Google + </a></li>
							<li><a href="https://www.linkedin.com/company/delmar-international-inc-" target="_blank" >Linkedin</a></li>
						</ul>
				</li>
                <li class="single-dropdown loginvisibility">    

                    <a href="login-page.html">Iniciar sessão</a> 
                    <ul class="owl-submenu" style="width: 100%;">
							<li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
							<li><a href="aci-ams.html" >ACI-AMS</a></li>
						</ul>
                </li> 
                  
                <li class="single-dropdown"> 
                    <a href="services.html">Principais Serviços</a>  
                    <ul class="owl-submenu" style="width: 100%;">
						<li><a href="services.html#agenciamentocarga" >Agenciamento de carga</a></li>
						<li><a href="services.html#conformidadeaduaneira" >Conformidaded aduaneira</a></li>
						<li><a href="services.html#servicosterrestre" >Serviços Terrestre</a></li>
						<li><a href="services.html#distribuicao" >Armazenagem e distribuição </a></li>
						<li><a href="services.html#technologia" >Tecnologia</a></li>
					</ul>
                </li> 
                  
                  
                <li class="single-dropdown"> <a href="news.html">Notícias</a>
                  <ul class="owl-submenu" style="width: 100%;">
									<li><a href="news.html" >Últimas Notícias</a></li>
									<li><a href="news.html#publications" >Publicações</a></li>
									<li><a href="news.html#press" >Saiu na imprensa</a></li>
									<li><a href="news.html#videos" >Vídeos</a></li>
								</ul>   
                </li>
                  
                <li class="single-dropdown"> 
                    <a href="our-company.html">Nossa Empresa</a> 
                    <ul class="owl-submenu" style="width: 100%;">
								<li><a href="our-company.html#cobertura" >Cobertura global</a></li>
								<li><a href="our-company.html#careers" >Oportunidade de emprego</a></li>
								<li><a href="our-company.html#compromisso" >Compromisso social</a></li>
								<li><a href="our-company.html#sustentavel" >Ação sustentável</a></li>
								<li><a href="our-company.html#missao" >Declaração de Missão</a></li>
							
					</ul>
                </li>                
                
                  <li class="single-dropdown">
                      <a href="links.html">Links</a> 
                      <ul class="owl-submenu" style="width: 100%;">
							
								<li><a href="links.html#canada" >CANADÁ</a></li>
								<li><a href="links.html#usa" >ESTADOS UNIDOS</a></li>	
					</ul>  
                </li>                
                <li class="single-dropdown contact"><a href="contact-delmar.html">Contato
                  <div class="skewed_slide"></div>
                  </a>                 
                </li>                               
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
       <!-- ]header -->
<div class="content" style="background-color:#FFFFFF;">   
	
    <section id="ultimas" data-title="News">		
			<div class="d_section d_news_latest" >
				<div class="d_top parallax">
					<div class="container">
						<div class="d_titlebar">
							
								<h1>NOTÍCIAS E MÍDIA</h1>
								<p></p>
						
						</div>
					</div>
				</div></div>
	<div class="d_dividerbar cyan" ></div>	
	<div class="d_dividerbar white"></div>
   
   
    <div class="container">	
            <div class="row">
             <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    
                    <div class="col-lg-8">
                    <div class="all-entrys" >
						<div class="entry-header ">
                                <h2>Últimas notícias</h2>
                        </div>
                        <div class="blog-entry">
							<div id="feed"> 
							</div>
							<div class="entry-content">
                                <div class="entry-content-details">
                                    <ul>
                                    </ul>
                                </div>
                            </div>                   
						</div>
                    </div>   
                </div>
                    
                    
                <div class="col-lg-4">
                    <div class="sidebar">
                        
<!--
                        <div class="widget">
                            <h3 class="widget-title">Arquivo</h3>
                            <div class="recent-post">
                                
                                <h4><a class="btn" role="button" href="#" target="_blank" >&nbsp;&nbsp;&nbsp;Maio 2015 »&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></h4>
                                
                            </div>
                            <div class="recent-post">
                                
                                <h4><a class="btn" role="button" href="#" target="_blank" width="133">&nbsp;&nbsp;&nbsp;Abril 2015 »&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></h4>
                                
                            </div>
                            <div class="recent-post">
                                
                                <h4><a class="btn" role="button" href="#" target="_blank" width="133">&nbsp;&nbsp;Março 2015 »&nbsp;&nbsp;&nbsp;</a></h4>
                                
                            </div>
							<div class="recent-post">
								<h4><a class="btn" role="button" href="#" target="_blank" width="133">Fevereiro 2015 »</a></h4>
							</div>
                        </div>
-->
		<div class="span3" style="padding-top: 90px;">
						
                            <div class="widget" id="twitter_update_list">
							<h3><a href="https://twitter.com/delmarcargo">Últimos Tweets</a></h3>
								<a class="twitter-timeline" href="https://twitter.com/DelmarCargo" width="240" height="600" font-family="'Arial', sans-serif" line-height="1.6em" data-widget-id="638425832348778496" data-chrome="noheader">Tweets por @DelmarCargo</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							<ul class="twitter_widget" data-user="teslathemes" data-posts="2">
								<li>
							</ul>    
						</div>
                </div>
                    </div>
                </div>
            </div>
 <div class="col-lg-2"></div>
                    
                    
	  </div>
      </div>
      </section>
   <!-- latests -->
	<section id="publicações" style="background-color:#FFFFFF;">
		<div class="d_dividerbar cyan" >  </div>
		<div class="d_section d_news_publications">
				<div class="d_top parallax">
					<div class="container">
						<div class="d_titlebar" >
							<h1 id="publicações" name="publicações">PUBLICAÇÕES</h1>
						</div>
					</div>
				</div>
	
			<div class="d_dividerbar cyan" ></div>	
			<div class="d_dividerbar white"></div>
			<div class="container">
				<div class="row">
                <div class="col-lg-2"></div>
					<div class="col-lg-8">
									<h2> Ferramentas de marketing</h2>
									<p> Temos o prazer de oferecer material de marketing para download relativos à Delmar International Incorporated. 
										Qualquer uso deste conteúdo está sujeito aos  <a href="legal.html">Termos e condições da Delmar.</a></p>
                        						</div>
						<div class="col-lg-2"></div>
					</div>   
                 <div class="container">
                <div class="col-lg-2"></div>
					<div class="col-lg-8">
                        <div class="col-lg-4" style="text-align:center;">
										<a href="http://www.delmarcargo.com/sales/marketing/pdf/DelmarWorldwide_PT.pdf" target="_blank"><img src="../img/services/global.jpg"  width="146px" height="198px" border="0" ></a>
                                             <div class="d_location">
										<p><strong>Lista de endereços global</strong><br>[pdf | 1 MB]</p>
									</div>
                                             </div>
                                             <div class="col-lg-4" style="text-align:center;">  
										<a href="http://www.delmarcargo.com/sales/marketing/pdf/Brochure_PT.pdf" target="_blank"><img src="../img/services/brochure.jpg"  width="146px" height="198px" border="0" ></a>
                            <div class="d_location">
										<p><strong>Brochura de Delmar</strong><br>[pdf | 5 MB]</p>
									</div>  
								</div>
                                 <div class="col-lg-4" style="text-align:center;">
										<a href="http://www.delmarcargo.com/sales/marketing/pdf/2015_Trifold_PT.pdf" target="_blank"><img src="../img/services/trifold.jpg"  width="146px" height="198px" border="0" ></a>
                                             <div class="d_location">
										<p><strong>Folder com dos dobras de Delmar</strong><br>[pdf | 2.5 MB]</p>
									</div></div>
                                </div>
                    <div class="col-lg-2"></div>
                     </div>
   <div class="container">
                <div class="col-lg-2"></div>
					<div class="col-lg-8" style="text-align:center;">  
                                        <div class="pub-entry">
										<h4 style="text-align=center;">Ver todas as  <a href="http://www.delmarcargo.com/sales/marketing/" target="_blank">ferramentas de Marketing.</a></h4>
										</div>
                                    </div>
                    <div class="col-lg-2"></div>
                        </div>
                 </div>
      </section>
		</div>                     									
	</section> <!-- publications -->
	<section id="press" style="background-color:#FFFFFF;">
		<div class="d_dividerbar" >  </div>
		<div class="d_section d_news_press" >
			<div class="d_top parallax">
				<div class="container">
					<div class="d_titlebar">
						<h1 id="press" name="press">SAIU NA IMPRENSA </h1>
					</div>
				</div>
			</div>
			<div class="d_dividerbar" >  </div>
			<div class="d_dividerbar white" >  </div>
			<div class="container">
                <div class="col-lg-2"></div>
					<div class="col-lg-8">
									<h2>Leia sobre nós</h2>
									<p> Temos o prazer de lhe disponibilizar para download a cobertura de imprensa e os artigos relecionados à Delmar Internacional Incorporated. <br/>
										Qualquer uso deste conteúdo está sujeito aos <a href="legal.html">Termos e condições da Delmar.</a></p>
                        </div>
						<div class="col-lg-2"></div>
					</div>   
                        <div class="container">
                <div class="col-lg-2"></div>
					<div class="col-lg-8">
                        <div class="col-lg-4" style="text-align:center;">
										<a href="http://www.scribd.com/doc/259280893/Technology-Key-for-forwarders-in-Mexico" target="_blank"><img src="../img/services/cover3.jpg"  width="146px" height="198px" border="0" ></a>
                                             <div class="d_location">
										<p style="color:#b9b9b9;"><strong>2015</strong></p>
									</div>
                                             </div>
                                             <div class="col-lg-4" style="text-align:center;">  
										<a href="http://www.scribd.com/doc/248546814/Delmar-Internacional-inaugura-corporativo-en-Mexico" target="_blank"><img src="../img/services/cover2.jpg"  width="146px" height="198px" border="0" ></a>
                            <div class="d_location">
										<p style="color:#b9b9b9;"><strong>2014</strong></p>
									</div>
								</div>
                                 <div class="col-lg-4" style="text-align:center;">
										<a href="http://www.scribd.com/doc/247266120/Empresa-Internacional-Inaugura-Corporativo-en-Mexico" target="_blank"><img src="../img/services/cover1.jpg"  width="146px" height="198px" border="0" ></a>
                                             <div class="d_location">
										<p style="color:#b9b9b9;"><strong>2014</strong></p>
									</div></div>
                                </div>
                    <div class="col-lg-2"></div>
                     </div>
                     			 <div class="container">
                <div class="col-lg-2"></div>
					<div class="col-lg-8" style="text-align:center;">  
                                        <div class="pub-entry">
										<h4 style="text-align=center;">Você pode também visualizar todo esse conteúdo -  no <a href="http://www.scribd.com/delmarcargo" target="_blank">Scribd.</a></h4>
										</div>
                                    </div>
                    <div class="col-lg-2"></div>
                                          </div>
									</div>
                        
  
	</section> <!-- press -->
	<section id="videos" style="background-color:#FFFFFF;">
		<div class="d_dividerbar cyan" >  </div>
		<div class="d_section d_news_video" >
			<div class="d_top parallax">
				<div class="container">
					<div class="d_titlebar">
						<h1 id="videos" name="videos">VÍDEOS </h1>
					</div>
				</div>
			</div>
			<div class="d_dividerbar cyan" >  </div>
			<div class="d_dividerbar white" >  </div>
			<div class="container">
				<div class="row">
                 <div class="col-lg-2"></div>
					<div class="col-lg-8">
						<div class="all-entrys">
							<div class="blog-entry" style="border-bottom:none;">
								<div class="entry-header">
									<h1><a href="single-post.html"></a></h1>
								</div>
								<div class="entry-cover">
									<h3>Evolução da logística - Delmar International Services</h3>
									<iframe  width="560" height="315"   src="https://www.youtube.com/embed/kgxcB5T-Nrg" frameborder="0" allowfullscreen></iframe>
								</div>
								<div class="entry-content">
									<div class="entry-content-details">
										<ul>
											<li class="details-date"><span>Data:</span> Março 2015</li>
											<li class="details-author"><span>Autor:</span> Admin</li>
											<li class="details-comments"><span>Comentários:</span> <a href="#">(2)</a></li>
											<li class="details-tags"><span>Tags:</span> <a href="#">Delmar</a>, <a href="#">Cargo</a>, <a href="#">transporte</a>, <a href="#">Agenciamento</a> </li>
										</ul>
									</div>
									<p> Selecionar a opção de transporte mais eficiente e econômica pode ser algo desafiador. Na Delmar, trabalharmos com você para criar soluções flexíveis, que resultam no serviço mais confiável e personalizado do setor.</p>
								</div>
								<div class="entry-footer">
									<a href="https://www.youtube.com/user/Delmarcargo" class="d_button5">Nosso canal do YouTube</a>
								</div>
							</div>
						</div>
					</div>
                   <div class="col-lg-2"></div>
				</div>
			</div>
		</div>
        
         <div class="d_dividerbar white"></div>
              
  </section> <!-- video -->
</div>

<!-- video -->
{{#content "script"}}
<!-- [footer -->
<div class="secondb">
   <div class="container">
      <div class="row-fluid" align="center">
              <a href="http://www.ciffa.com/" target="_blank"><img src="../img/footer/ciffalogo_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://cscb.ca/" target="_blank"><img src="../img/footer/cscb_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbp.gov/border-security/ports-entry/cargo-security/c-tpat-customs-trade-partnership-against-terrorism" target="_blank"><img src="../img/footer/ct-pat_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.iata.org/Pages/default.aspx" target="_blank"><img src="../img/footer/iata_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbsa-asfc.gc.ca/security-securite/pip-pep/menu-eng.html" target="_blank"><img src="../img/footer/pip_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="https://www.wcaworld.com/eng/home.asp" target="_blank"><img src="../img/footer/wca_03.png" alt="" style="padding: 0px 35px;"></a>
      </div>
    </div>
  </div>
    <footer id="footer">
    <div class="container">
      <div class="row">     
          <div class="container">
			<div class="row">		
				<div class="footer-copyright">
					© 2015 Delmar International Inc. Direitos autorais | <a href="legal.html" target="_blank">Avisos Legais </a>
				</div>
			</div>
        </div>
          
        </div>
      </div>
  </footer>
  <!-- ]end of footer -->
 
{{/content}}
