---
name: "our-company"
title: "About Delmar International Inc"
desc: "Providing freight forwarding, Customs Brokerage, commercial cargo transportation and logistics services since 1965. Our success relies on our ability to provide quality services, coupled with an intimate understanding of our clients’ needs."
keywords: "cross dock, freight forwarding, freight forwarding jobs, air freight, Truckload services, Canada trucking, North America trucking, customs brokerage, customs broker, customs brokers, customs brokerage Canada, customs brokerage Montreal, customs Mexico, customs China, customs Canada, transportation broker, broker, brokerage, freight, freight agent, freight car, freight forwarder, freight forwarders, freight forwarding Canada, international freight forwarding, shipment, payload, loading, consignment, lading, load, transport, freight rate, charge, freightage, cargo, cargo management, cargo transportation, cargo rate, cargo quote, carrier, carriers, distribution, logistics, logistic, logistics services, global logistic, global transportation, global logistics solutions, provision, supplying, supply, tracking, track, trading, information services, consulting services, air, ocean, bonded warehouse, bus, container services, custom consultants, domestic, export services, ACI, AMS, PARS, PAPS, import services, international, packing and crating, pool car, rail, steamship agents, steamship, trucking services, trucking, truck, dangerous materials, shipping, container ship, dispatch, despatch, storage, warehousing, warehouse, reposition, repositing, import, export, marketing, complex distributions, dispatch, goods transport, goods carry, goods shipping, USA, Canada, Montreal, Mexico, China, Taiwan, Vietnam, Hong Kong, Philippines, Brazil, Cambodia, Barbados, social commitment, sustainable action, charity, multimodal, flexibility, customized solutions, time sensitive cargo, supply, supply chain, supply chain solutions, IATA, CIFFA, C_TPAT, PIP, WCA, world cargo, DCMS, purchase order, LTL services, white gloves, consolidation, roll out, distribution capabilities, flatbed, step decks, roll-tite flecibility, over dimensional, expertise, experience, Delmar International Inc., Delmar, Delmarcargo, Delmar cargo, Delmar group, Delmar International, Delmar-group, transpacific, import, export, transload, RI, port, sailing, container, vessel, mission statement, vision, values, going green, social commitment, Delmar worldwide, global coverage, careers, jobs, charity"
author: "Adriana Molano, Isabel Quintela, Margarita Mayoral"
format-detection: "telephone=no"
viewport: "width=device-width, initial-scale=1, maximum-scale=1" 
rootdir: ""
---
  <!-- [header --> 
       <div class="header_top">
    <div class="container">
      <!-- Contact Details -->
      <div id="contact-details">
        <ul>
          <li>Logistics Made Simple</li>
        </ul>
      </div>
      <ul id="owl-tt-menu" class="owl-tt-menu">
     
        <li> <a href="#">English</a>
          <ul class="owl-tt-submenu">
            <li><a href="../fr/{{this.name}}.html" >Français</a></li>
            <li><a href="../sp/{{this.name}}.html" >Español</a></li>
            <li><a href="../pt/{{this.name}}.html" >Português</a></li>
            <li><a href="../ch/{{this.name}}.html" >中文</a></li>
            
          </ul>
        </li>
        <li> <a href="login-page.html" target="_blank" >Login</a>
			<ul class="owl-tt-submenu">
            <li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
            <li><a href="aci-ams.html" >ACI-AMS</a></li>
            
          </ul>
          
        </li>
      </ul>
      <div class="social-top"> <a href="http://www.twitter.com/delmarcargo" target="_blank" class="fa fa-twitter"></a> <a href="http://www.facebook.com/delmarcargo" target="_blank" class="fa fa-facebook"></a> <a href="http://www.youtube.com/delmarcargo" target="_blank" class="fa fa-youtube"></a>    <a href="https://plus.google.com/+Delmarcargo" target="_blank" class="fa fa-gplus"></a> <a href="https://www.linkedin.com/company/delmar-international-inc-" target="_blank" class="fa fa-github"></a> </div>
      <!-- Social Icons -->
      <div class="clear"></div>
    </div>
  </div> 
   <div id="nav">
    <div class="nav-sticky">
      <div class="container navbar navbar_ clearfix">
        <div class="navbar-inner">
          <div class=" row">
            <div class="owl-contener col-md-12  clearfix">
              <!-- Logo -->
			  <h1 class="brand fleft"><a href="index.html"><img src="../img/logo.png" alt=""></a><span>Delmar International Inc.</span></h1>
			  <div class="cat-title"></div>
			  <ul class="owl-menu menu-content">
				<li class="single-dropdown loginvisibility">
						<a href="#">English</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="../fr/{{this.name}}.html" >Français</a></li>
							<li><a href="../sp/{{this.name}}.html" >Español</a></li>
							<li><a href="../pt/{{this.name}}.html" >Português</a></li>
							<li><a href="../ch/{{this.name}}.html" >中文</a></li>
						</ul>
				</li>
				<li class="single-dropdown loginvisibility">
						<a href="#">Follow Us</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="http://www.twitter.com/delmarcargo" target="_blank" >Twitter</a></li>
							<li><a href="http://www.facebook.com/delmarcargo" target="_blank" >Facebook</a></li>
							<li><a href="http://www.youtube.com/delmarcargo" target="_blank" >Youtube</a></li>
							<li><a href="https://plus.google.com/+Delmarcargo" target="_blank" >Google + </a></li>
							<li><a href="https://www.linkedin.com/company/delmar-international-inc-" target="_blank" >Linkedin</a></li>
						</ul>
				</li>
                <li class="single-dropdown loginvisibility"> 
					<a href="login-page.html">Login</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
							<li><a href="aci-ams.html" >ACI-AMS</a></li>
						</ul>
                </li>
                <li class="single-dropdown"> 
					<a href="services.html">Services</a>
					<ul class="owl-submenu" style="width: 250px;">
						<li><a href="services.html" >International Freight Forwarding</a></li>
						<li><a href="services.html#custombrokerage" >Customs Brokerage Services</a></li>
						<li><a href="services.html#trucking" >Trucking and Ground Services</a></li>
						<li><a href="services.html#warehousing" >Warehousing and Distribution</a></li>
						<li><a href="services.html#technology-1" >Our Technology</a></li>
					</ul>
					
                </li>
                <li class="single-dropdown"> 
					<a href="news.html">News and Media</a>
				  <ul class="owl-submenu" style="width: 100%;">
									<li><a href="news.html" >Latest News</a></li>
									<li><a href="news.html#publications" >Publications</a></li>
									<li><a href="news.html#press" >In the Press</a></li>
									<li><a href="news.html#videos" >Videos</a></li>
								</ul>
                </li>
				<li class="single-dropdown"> <a href="our-company.html">Our Company</a>
				  <ul class="owl-submenu" style="width: 100%;">
								<li><a href="our-company.html" >Global Coverage</a></li>
								<li><a href="our-company.html#careers" >Careers</a></li>
								<li><a href="our-company.html#commitment" >Social Commitment</a></li>
								<li><a href="our-company.html#goinggreen" >Going Green</a></li>
								<li><a href="our-company.html#ourcompany" >Our Company</a></li>
							
					</ul>
                </li>
              <li class="single-dropdown"><a href="links.html">Links</a>
                 <ul class="owl-submenu" style="width: 100%;">
							
								<li><a href="links.html#canada" >Canada</a></li>
								<li><a href="links.html#usa" >USA</a></li>	
					</ul>  
                </li>
                <li class="single-dropdown"><a href="contact-delmar.html">Contact Us
                  <div class="skewed_slide"></div>
                  </a>
                </li>
             </ul>
			  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



                
                
                
       <!-- ]header -->
 <div class="content" style="background-color:#FFFFFF;">
			<section id="global" datat-title="Global Coverage">
			<div class="d_section d_corp_global">
				<div class="d_top parallax">
					<div class="container">
						<div class="d_titlebar">
							<h1>GLOBAL COVERAGE</h1>
						</div>
					</div>
				</div>
			
				<div class="d_dividerbar cyan" >  </div>
                <div class="d_dividerbar white" >  </div>
                
                <div class="container" >
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
								<h2 >Delmar Worldwide</h2>
								<p style="text-align:justify;">Office Listing:  &nbsp;<a href="worldwide.html" >HTML</a>&nbsp; | &nbsp;<a href="http://www.delmarcargo.com/sales/marketing/pdf/DelmarWorldwide_EN.pdf" target="_blank" >PDF</a> &nbsp;| &nbsp;<a href="http://www.delmarcargo.com/sales/marketing/jpg/DelmarWorldwide_EN.jpg" target="_blank" >JPG</a></p>
														
						</div>
						<div class="col-lg-2"></div>
					</div>
                
                
				<div class="container">

                  
                     <div class="row">
					
					<div class="col-lg-2"></div>
						<div class="col-lg-8">
<!-- <iframe width='100%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/adrimolano.im4niioa/attribution,geocoder,share.html?access_token=pk.eyJ1IjoiYWRyaW1vbGFubyIsImEiOiJYM184OTFrIn0.t_KBgy9neVfMKsNIeh5UJA'></iframe>-->
                            
<iframe  width='100%' height='480' frameBorder='0' src='https://www.google.com/maps/d/embed?mid=zKI4TYIH-KuM.kTUeogNXsoM4' ></iframe>
                         </div>
                          
                        <div class="col-lg-2"></div>
                        </div>

			</div>
            </div>
                 <div class="d_dividerbar white" >  </div>
		</section>
     
        <!-- careers -->
    	<section id="careers" datat-title="Careers">
			<div class="d_dividerbar" ></div>
			<div class="d_section d_corp_careers">
				<div class="d_top parallax">
					<div class="container">
						<div class="d_titlebar">
							<h1 id="careers" name="careers">CAREERS</h1>
						</div>
					</div>
				</div>
				<div class="d_dividerbar cyan" >  </div>
				<div class="d_dividerbar white"></div>
					<div class="container" >
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
								<h2 >Join our Family!</h2>
								<p style="text-align:justify;">If you are searching for an exciting and challenging career opportunity, then you are at the right place. At Delmar, our goal is for everyone to develop a successful career with opportunities for growth, competitive rewards and a balance between work and home life.</p>
								<p style="text-align:justify;">As a global company, we embrace cultural diversity and recognize the value that each individual has to offer. We want our employees to wake up every day with the passionate belief that their work is contributing to both the evolution of the company, and to their own personal development. </p>
								<p style="text-align:justify;">If you are interested in joining the Delmar family, please apply directly by clicking on the job posting below and submitting your application.</p>
								<h2 >View All Jobs</h2>
								<p>*Coming Soon</p>							
						</div>
						<div class="col-lg-2"></div>
					</div>
				<div class="d_dividerbar white"></div>
			</div>
	</section> 
     
       <!-- social -->
     
         <section id="commitment" data-title="SOCIAL COMMITMENT" style="background-color:#FFFFFF;">
			<div class="d_dividerbar" ></div>
			<div class="d_section d_corp_commitment">
				<div class="d_top parallax">
					<div class="container">
						<div class="d_titlebar">
							<h1 id="commitment" name="commitment">SOCIAL COMMITMENT</h1>
						</div>
					</div>
				</div>
				<div class="d_dividerbar"></div>
				<div class="d_dividerbar white"></div>
                
              <div class="container" style="background-color:#FFFFFF;">
					<div class="col-lg-2"></div>
					<div class="col-lg-8">					
						<p style="text-align:justify">Delmar believes strongly in giving back. While it is always challenging to choose which causes and organizations to fund, It remains incumbent on all of us to do what we can for those who are less fortunate and to help make the world a safer happier place. In addition to funding, we also feel strongly that it is essential to give of oneself. For years we have done exactly that by encouraging our management, their families, our associates, employees and executives to support something they believe in. This is our way of ensuring them that Delmar supports their causes and will be there to see them through.</p>
							<p style="text-align:justify">In an effort to encourage others in this regard and to help promote those institutes and organizations which we believe do an outstanding job helping to heal the planet and its inhabitants, we are pleased to provide but a brief listing and some links of our favorites.</p>
						<div class="d_dividerbar white"></div>
					</div>
					<div class="col-lg-2"></div>
				</div>  
                
                
                
                
                
				
                <div class="container" style="background-color:#FFFFFF;">     
					<div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-8" >
								<div class="col-lg-3"  style="padding-left:0px;">
									<div class="team-member">
										<div class="team-member-cover d_org d_left" id="icrf">
											<a href="http://www.icrfmontreal.org/" target="_blank" ><img src="../img/spacer.png" alt="ICRF" width="100%" height="100%" border="0" ></a>
										</div>
									</div>
								</div>
								<div class="col-lg-3" style="padding-left:0px;">
									<div class="team-member">
										<div class="team-member-cover d_org d_left" id="canadian_cancer_society">
											<a href="http://www.cancer.ca/?sc_lang=en" target="_blank" ><img src="../img/spacer.png" alt="Canadian Cancer Society" width="100%" height="100%" border="0" ></a>
										</div>
									</div>
								</div>
								<div class="col-lg-3" style="padding-left:0px;">
									<div class="team-member">
										<div class="team-member-cover d_org d_left" id="diabete_quebec">
											<a href="http://www.diabete.qc.ca/english/main.html" target="_blank" ><img src="../img/spacer.png" alt="Diabete Quebec" width="100%" height="100%" border="0" ></a>
										</div>
									</div>
								</div>
								<div class="col-lg-3" style="padding-left:0px;">
									<div class="team-member">
										<div class="team-member-cover d_org d_left" id="end_breast_cancer">
											<a href="http://www.endcancer.ca/index.html" target="_blank"><img src="../img/spacer.png" alt="End Breast Cancer" width="100%" height="100%" border="0" ></a>
										</div>
									</div>
								</div>
						</div>
						<div class="col-lg-2"></div>
					</div>
                    
                    
					<div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="geart_and_stroke">
										<a href="http://www.heartandstroke.com" target="_blank"><img src="../img/spacer.png" alt="Heart and Stroke" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="jdrf">
										<a href="http://jdrf.org/" target="_blank"><img src="../img/spacer.png" alt="JDRF" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="jerusalem">
										<a href="http://www.marchtojerusalem.org/" target="_blank"><img src="../img/spacer.png" alt="March to Jerusalem" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="jewish_general_hospital">
										<a href="http://www.jgh.ca/" target="_blank"><img src="../img/spacer.png" alt="Jewish General Hospital" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2"></div>
					</div>
					
                    
                    
                    <div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="jewish_rehab">
										<a href="http://hjr-jrh.qc.ca/?page=home-2" target="_blank"><img src="../img/spacer.png" alt="Jewish Rehabilitation Hospital" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="just_for_kids">
										<a href="http://jfkfoundation.ca/" target="_blank"><img src="../img/spacer.png" alt="Just for Kids Foundation" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="lespoir">
										<a href="http://hopeandcope.ca/" target="_blank"><img src="../img/spacer.png" alt="Hope and Cope" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="lung_association">
										<a href="http://www.lung.ca/" target="_blank"><img src="../img/spacer.png" alt="The Lung Association" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2"></div>
					</div>
                    
                    
					<div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="maimonides">
										<a href="http://www.donaldbermanmaimonides.net/" target="_blank"><img src="../img/spacer.png" alt="Maimondes" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="march_of_dimes">
										<a href="http://www.marchofdimes.ca/EN/Pages/default.aspx" target="_blank"><img src="../img/spacer.png" alt="March of Dimes" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="mcgill">
										<a href="http://www.mcgillgcrc.com/" target="_blank"><img src="../img/spacer.png" alt="McGill Cancer Center" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="one_x_one">
										<a href="http://www.onexone.org/" target="_blank"><img src="../img/spacer.png" alt="OneXOne" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2"></div>
					</div>
                    
                    
					<div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="ort_montreal">
										<a href="http://ortmontreal.org/" target="_blank"><img src="../img/spacer.png" alt="ORT Montreal" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="parkinson">
										<a href="http://www.parkinson.ca/site/c.kgLNIWODKpF/b.3531701/k.BCD8/Home.htm" target="_blank"><img src="../img/spacer.png" alt="Parkinson" width="100%" height="100%" border="0" ></a><a href="http://www.icrfonline.org/" target="_blank" ><img src="../img/spacer.png" alt="ICRF" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="red_cross">
										<a href="http://www.redcross.ca/article.asp?id=000005&tid=003" target="_blank"><img src="../img/spacer.png" alt="Canadian Red Cross" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="segal">
										<a href="http://www.segalcentre.org/" target="_blank"><img src="../img/spacer.png" alt="Segal Centre" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2"></div>
					</div>
					
                    
                    
                    <div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="sick_kids">
										<a href="http://www.sickkids.ca/" target="_blank"><img src="../img/spacer.png" alt="Sick Kids" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="sinai_rally">
										<a href="http://sinairally.com/en" target="_blank"><img src="../img/spacer.png" alt="Sinai Rally" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="spca">
										<a href="http://www.spca.com/?lang=en" target="_blank"><img src="../img/spacer.png" alt="SPCA" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="starlight">
										<a href="http://www.starlight.org/" target="_blank"><img src="../img/spacer.png" alt="Starlight" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2"></div>
					</div>
                    
                    
                    
					<div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="sun_youth">
										<a href="http://sunyouthorg.com/en/" target="_blank"><img src="../img/spacer.png" alt="Sun Youth" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="ym-ywha">
										<a href="http://www.ymywha.com/" target="_blank"><img src="../img/spacer.png" alt="YM-YWHA" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="ymca">
										<a href="http://www.ymca.net/" target="_blank"><img src="../img/spacer.png" alt="YMCA" width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
							<div class="col-lg-3" style="padding-left:0px;">
								<div class="team-member">
									<div class="team-member-cover d_org d_left" id="childrens-wish">
										<a href="http://www.childrenswish.ca/en-nat/" target="_blank"><img src="../img/spacer.png"  width="100%" height="100%" border="0" ></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-2"></div>
					</div>
                    
                    
                    
                    </div>
				</div>
               <div class="d_dividerbar white"></div>
			</div>
		</section>    
     
     
     
     
 <!-- goinggreen -->    
     
     
     
     
     
     
     
     
		<section id="goinggreen" data-title="Going Green" style="background-color:#FFFFFF;">
			<div class="d_dividerbar cyan"></div>
			<div class="d_section d_corp_green">
				<div class="d_top parallax">
					<div class="container">
						<div class="d_titlebar">
							<h1 id="goinggreen" name="goinggreen">GOING GREEN</h1>
						</div>
					</div>
				</div>
				<div class="d_dividerbar cyan"></div>
				<div class="d_dividerbar white"></div>
				<div class="container" style="background-color:#FFFFFF;">
					<div class="col-lg-2"></div>
					<div class="col-lg-8">					
						<p style="text-align:justify">At Delmar our colors may be blue and red, but deep down we are green at heart. Thinking green is no longer something that we can avoid, it is essential that people, corporations, governments (everyone) accept responsibility and participate where and when they can to ensure that the air we breathe, the water we drink and the earth we so desperately need to survive be here for future generations. Therefore, Delmar has dedicated this area of our website to help those who wish to become more informed. In addition, Delmar is eager to share avenues for those who wish to take action. Delmar has embarked on a mission to change the way we think and act in order to make sure that we are doing our part.</p>
						<div class="d_dividerbar white"></div>
					</div>
					<div class="col-lg-2"></div>
				</div>
                
				<div class="our-team">
					<div class="container team-member">
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
							<div class="row">
								<div class="col-lg-4">
									<div >
										<a href="http://www.earth911.com/" target="_blank" ><img src="../img/corp/green/earth911Logo.jpg" alt="Earth911" width="167" height="167"  ></a>
									</div>
								</div>
								<div class="col-lg-8">
									<h3 >Earth 911</h3>
										<p style="text-align:justify">Earth911.com is your one-stop shop for all you need to know about reducing your impact, reusing what you've got and recycling your trash. Get involved in our world by checking in for daily news, reading weekly feature stories, surfing product channels and opting into our weekly emails. With our years of experience and industry knowledge, we have the background and resources you need to stay plugged into the green scene: Earth911 was founded in 1991 – was started off as a hot line for recycling, but has grown into the mature, intelligent site you see here today. They maintain a bilingual hot line,<br/>1-800-CLEANUP.</p>
										<a href="http://www.earth911.com/" target="_blank" class="d_button5">Learn More</a>
									<div>&nbsp; </div>									
								</div> 
							</div>
						</div>
						<div class="col-lg-2"></div>
					</div>
				</div>
				<div class="our-team">
					<div class="container team-member">
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
							<div class="row">
								<div class="col-lg-4">
									<div>
										<a href="http://www.mnn.com/" target="_blank" > <img src="../img/corp/green/mnn_logo3.jpg" alt="Mother Nature Network" width="192" height="73"  ></a>
									</div>
								</div>
								<div class="col-lg-8">
									<h3 >Mother Nature Network</h3>
										<p style="text-align:justify">Mother Nature Network is the first and only 24-hour eco-lifestyle television network with a robust online presence and community. Launched in June 2008, our on-air content reaches 50 million homes, offering more than 250 hours of original green lifestyle programming. Both online and on-air, Mother Nature Network's content is entertaining, relevant, and accessible to people of all ages and backgrounds. By representing a broad range of ideas and perspectives, Mother Nature Network is taking an active role in generating conversation and motivating individuals to take action when it comes to improving the environmental status of our planet.
										</p>
										<a href="http://www.mnn.com/" target="_blank" class="d_button5">Learn More</a>
										<div>&nbsp; </div>										
								</div>	
							</div> 
						</div>  
						<div class="col-lg-2"></div>
					</div>
				</div>
                <div class="our-team">
					<div class="container team-member">
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
							<div class="row">
								<div class="col-lg-4">
									<div >
										<a href="http://www.greenplanet.com/" target="_blank" > <img src="../img/corp/green/greenplanet.jpg" alt="Green Planet" width="214" height="99" ></a>
									</div>
								</div>
								<div class="col-lg-8">
									<h3 >Green Planet</h3>
									<p style="text-align:justify"> Green Planet is a "not for profit" organization focused on the principles of researching projects that are commercially viable while providing humanitarian and environmental benefit to a world in need. This is our philosophy, creating projects that work with nature while creating sustainable returns either for the recipients of humanitarian grants or commercial entities. Green Planet will manage the project from beginning to end or is happy to assist in partnering with similarly minded groups as ourselves.</p>
									<a href="http://www.greenplanet.com/" target="_blank"  class="d_button5">Learn More</a>
									<div>&nbsp; </div>
									
								</div>
							</div> 
						</div>  
					</div>
				</div>
				<div class="our-team">
					<div class="container team-member">
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
							<div class="row">
								<div class="col-lg-4">
									<div >
										<a href="http://www.liveearth.org/" target="_blank" > <img src="../img/corp/green/live_earth_logo.png" alt="Live Earth Logo" width="200" height="166" ></a>
									</div>
								</div>
								<div class="col-lg-8">
									<h3>Live Earth.org</h3>
									<p style="text-align:justify">Founded by Emmy-winning producer Kevin Wall, in partnership with former U.S. Vice President Al Gore, Live Earth was built upon the belief that entertainment has the power to transcend social and cultural barriers to move the world community to action. A for-profit company, Live Earth seeks to leverage the power of entertainment through integrated events, media, and the live experience to ignite a global movement aimed at solving the most critical environmental issues of our time.</p>
									<a href="http://www.liveearth.org/" target="_blank" class="d_button5">Learn More</a>
									<div>&nbsp; </div>									
								</div> 
							</div>  
						</div>
					</div>
				</div>
				<div class="our-team">
					<div class="container team-member">
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
							<div class="row">
								<div class="col-lg-4">
									<div >
										<a href="http://www.grrn.org/" target="_blank" > <img src="../img/corp/green/grrn.jpg" alt="Grassroot Recycling Network" width="150" height="50" ></a>
									</div>
								</div>
								<div class="col-lg-8">
									<h3>GRRN or Kids Recycle</h3>
									<p style="text-align:justify">Who is GRRN? The GrassRoots Recycling Network - GRRN -has a vision of the world where waste is not waste – it is a resource. We are the voice of all those who recycle and want to waste less and do more. GRRN is the leading voice calling for Zero Waste (ZW) in the United States by promoting the message that we must go "beyond recycling" and go upstream to the headwaters of the waste stream which is the industrial designer's desk. ZW means not only 100 percent recovery of society's discards, but also a redesign of the products and packaging of our lives such that everything produced for our consumer economy is non-toxic and designed to be recovered for re-use, recycling or composting.</p>
									<a href="http://www.grrn.org/" target="_blank"  class="d_button5" >Learn More</a>
                                    <div>&nbsp; </div>																		
								</div>
							</div>
						</div>
					</div>
				</div>
                <div class="d_dividerbar white"></div>
			</div>
		</section>
		
     
   <!-- mission statement -->      
     

<section id="ourcompany" data-title="Our Company"  style="background-color:#FFFFFF;">		
			<div class="d_section d_corp_mission" >
				<div class="d_top parallax">
					<div class="container" >
						<div class="d_titlebar">							
								<h1 id="ourcompany" name="ourcompany">OUR COMPANY</h1>
								<p></p>							
						</div>
					</div>
				</div>

				<div class="d_dividerbar cyan" > </div>	
				<div class="d_dividerbar white"></div>

				<div class="container" style="background-color:#FFFFFF;">		
					<div class="col-lg-2"></div>
					<div class="col-lg-8">
						<h3 style="text-align:left">Mission Statement</h3>
						<p style="text-align:justify">Providing freight forwarding, Customs Brokerage, commercial cargo transportation and logistics services since 1965.</p>
						<h3 style="text-align:left">Vision</h3>
						<p style="text-align:justify">Our success relies on our ability to provide quality services, coupled with an intimate understanding of our clients’ needs.</p>
						<h3 style="text-align:left">Values</h3>
						<div class="container">
							<div class="col-lg-1"></div>
							<div class="col-lg-6">
								<ul>
									<li>We are passionate about our organization and its reputation.</li>
									<li>We are committed to the success of our clients and our people.</li>
									<li>We build relationships based on trust and respect.</li>
									<li>We continuously improve through innovative solutions.</li>
									<li>We achieve success through teamwork and a strong work ethic.</li>
								</ul>
							</div>
							<div class="col-lg-1"></div>
						</div>
						<div class="d_dividerbar white"></div>
						<p style="text-align:justify">Delmar International Inc. (Delmar) was established as a Canadian Customs Broker in Montreal, Canada in 1965.</p>
						<p style="text-align:justify">Delmar has grown in size and scope and today employs over one thousand employees in twelve countries, offering cargo management and supply chain services.</p>
						<div class="d_dividerbar white"></div>
					</div>
					<div class="col-lg-2"></div>
				</div>
			</div>
		</section> 
        </div>

 <!-- [footer -->
<div class="secondb">
   <div class="container">
      <div class="row-fluid" align="center">
              <a href="http://www.ciffa.com/" target="_blank"><img src="../img/footer/ciffalogo_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://cscb.ca/" target="_blank"><img src="../img/footer/cscb_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbp.gov/border-security/ports-entry/cargo-security/c-tpat-customs-trade-partnership-against-terrorism" target="_blank"><img src="../img/footer/ct-pat_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.iata.org/Pages/default.aspx" target="_blank"><img src="../img/footer/iata_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbsa-asfc.gc.ca/security-securite/pip-pep/menu-eng.html" target="_blank"><img src="../img/footer/pip_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="https://www.wcaworld.com/eng/home.asp" target="_blank"><img src="../img/footer/wca_03.png" alt="" style="padding: 0px 35px;"></a>
      </div>
    </div>
  </div>
      <footer id="footer">
    <div class="container">
      <div class="row">     
          <div class="container">
			<div class="row">			
				<div class="footer-copyright">
					© 2015 Delmar International Inc. All rights reserved | <a href="legal.html" target="_blank">Legal</a>  
				</div>
			</div>
        </div>          
        </div>
      </div>
  </footer>
  <!-- ]end of footer -->
	
