---
name: "index"
title: "Welcome to Delmar International Inc"
desc: "报关，货代，物流，仓储，高级，货物管理，跟踪，咨询和信息服务的全球供应商。 "
keywords: "跨码头，货代，货代岗位，空运，整车业务，加拿大运输，北美卡车运输，报关，报关行，报关行，报关加拿大，报关蒙特利尔，墨西哥报关，报关中国，加拿大海关，运输经纪人，经纪人，经纪，货运，货运代理，货运车，货运代理，货运代理，货运代理加拿大，国际货代，运输，有效载荷，装载，货物，提单，负载，运输，运价，收费，货物运输，货物，货物管理，货物运输，货物率，货物报价，运营商，运营商，分销，物流，后勤，物流服务，国际物流，全球运输，全球物流解决方案，提供，供应，供应，跟踪，跟踪，交易，信息服务，咨询服务，空运，海运，保税仓库，公交车，集装箱服务，定制顾问，国内，出口服务，ACI，AMS，PARS，PAPS，进口服务，国际化，包装及装箱，游泳池汽车，火车，轮船代理，轮船，运输服务，货运，货车，危险品，航运，集装箱船，调度，发货，入库，出库，仓库，复位，的重新定位，进口，出口，销售，分布复杂，调度，货物运输，货物运输，货物托运，美国，加拿大，蒙特利尔，墨西哥，中国，台湾，越南，香港，菲律宾，巴西，柬埔寨，巴巴多斯，覆盖全球，厚德载物，可持续的行动，慈善，多式联运，灵活，个性化的解决方案，对时间敏感的货，供货，货源链，供应链解决方案，IATA，CIFFA，C_TPAT，画中画，WCA，世界货物，DCMS，采购订单，零担服务，白手套，整合，推出，配送能力，平板车，步甲板，滚磷灰石flecibility，在维，专业知识，经验，德尔玛国际公司，德尔玛，Delmarcargo，德尔马货物，德尔马组，德尔马国际，德尔玛组，太平洋，进口，出口，transload，RI，港口，帆船，集装箱，船舶"
jsfile: "index.js"
author: "Adriana Molano, Margarita Mayoral Villa, Isabel Quintela"
format-detection: "telephone=no"
viewport: "width=device-width, initial-scale=1, maximum-scale=1" 
rootdir: ""
---
  <!-- [header --> 
       <div class="header_top">
    <div class="container">
      <div id="contact-details">
        <ul>
          <li>简化物流</li>
        </ul>
      </div>
      <ul id="owl-tt-menu" class="owl-tt-menu">
		<li> <a href="#">中文</a> 
          <ul class="owl-tt-submenu">
            <li><a href="../en/{{this.name}}.html" >English</a></li>
            <li><a href="../sp/{{this.name}}.html" >Español</a></li>
            <li><a href="../pt/{{this.name}}.html" >Português</a></li>
            <li><a href="../fr/{{this.name}}.html" >Français</a></li>
          </ul>
        </li>
        <li> <a href="login-page.html" target="_blank" >登录</a>
        <ul class="owl-tt-submenu">
            <li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >外网登录</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
            <li><a href="aci-ams.html" >ACI-AMS</a></li>
            
          </ul>
          </li>
      </ul>
      <div class="social-top"> <a href="http://www.twitter.com/delmarcargo" target="_blank" class="fa fa-twitter"></a> <a href="http://www.facebook.com/delmarcargo" target="_blank" class="fa fa-facebook"></a> <a href="http://www.youtube.com/delmarcargo" target="_blank" class="fa fa-youtube"></a>    <a href="https://plus.google.com/+Delmarcargo" target="_blank" class="fa fa-gplus"></a> <a href="http://www.linkedin.com/company/delmar-international-inc." target="_blank" class="fa fa-github"></a> </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- Navigation -->
  <div id="nav">
    <div class="nav-sticky">
      <div class="container navbar navbar_ clearfix">
        <div class="navbar-inner">
          <div class=" row">
            <div class="owl-contener col-md-12  clearfix">
				<h1 class="brand fleft"><a href="index.html"><img src="../img/logo.png" alt=""></a><span>Delmar International Inc.</span></h1>
				<div class="cat-title"></div>
				<ul class="owl-menu menu-content">
               <li class="single-dropdown loginvisibility">  
                <a href="#">中文</a> 
          <ul class="owl-submenu" style="width: 100%;">
            <li><a href="../en/{{this.name}}.html" >English</a></li>
            <li><a href="../sp/{{this.name}}.html" >Español</a></li>
            <li><a href="../pt/{{this.name}}.html" >Português</a></li>
            <li><a href="../fr/{{this.name}}.html" >Français</a></li>
          </ul>
        </li>     
         <li class="single-dropdown loginvisibility">
						<a href="#">关注我们</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="http://www.twitter.com/delmarcargo" target="_blank" >Twitter</a></li>
							<li><a href="http://www.facebook.com/delmarcargo" target="_blank" >Facebook</a></li>
							<li><a href="http://www.youtube.com/delmarcargo" target="_blank" >Youtube</a></li>
							<li><a href="https://plus.google.com/+Delmarcargo" target="_blank" >Google + </a></li>
							<li><a href="https://www.linkedin.com/company/delmar-international-inc-" target="_blank" >Linkedin</a></li>
						</ul>
				</li>           
                    <li class="single-dropdown loginvisibility"> 
                    <a href="login-page.html">登录/a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >外网登录</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
							<li><a href="aci-ams.html" >ACI-AMS</a></li>
						</ul>
                </li>
                <li class="single-dropdown"> 
                    <a href="services.html">核心服务</a>
                  <ul class="owl-submenu" style="width: 250px;">
						<li><a href="services.html#international" >国际货运管理</a></li>
						<li><a href="services.html#customs" >海关合规</a></li>
						<li><a href="services.html#ground" >货运</a></li>
						<li><a href="services.html#distribution" >仓储与配送</a></li>
						<li><a href="services.html#technology" >供应链管理</a></li>
					</ul>
                  </li>
              
                <li class="single-dropdown"> 
                    <a href="news.html"> 新闻与媒体</a>
                    <ul class="owl-submenu" style="width: 100%;">
									<li><a href="news.html" >新闻</a></li>
									<li><a href="news.html#publications" >营销手段</a></li>
									<li><a href="news.html#press" >传媒报道</a></li>
									<li><a href="news.html#videos" >视频</a></li>
								</ul>
                </li>
              
                <li class="single-dropdown"> <a href="our-company.html">关于我们 </a>
               <ul class="owl-submenu" style="width: 100%;">
								<li><a href="our-company.html" >全球覆盖范围</a></li>
								<li><a href="our-company.html#careers" >事业</a></li>
								<li><a href="our-company.html#commitment" >帮助他人</a></li>
								<li><a href="our-company.html#goinggreen" >可持续性行动</a></li>
								<li><a href="our-company.html#ourcompany" >公司使命</a></li>
							
					</ul>
              </li>
              
              
                <li class="single-dropdown">
                    <a href="links.html">在线工具</a>
                     <ul class="owl-submenu" style="width: 100%;">
							
								<li><a href="links.html#canada" >加拿大</a></li>
								<li><a href="links.html#usa" >美国</a></li>	
					</ul>  
                  </li>
              
                <li class="single-dropdown"><a href="contact-delmar.html">联系我们
                  <div class="skewed_slide"></div>
                  </a>
                </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ]header -->
<!-- [slideshow -->
 <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
    <div id="rev_slider_1_1" class="rev_slider fullwidthabanner">
      <ul>
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" > <img src="../img/rev/1.jpg" alt="bg_light" data-fullwidthcentering="true">
<!--
          <div class="tp-caption medium_grey sfr"  
					 data-x="606" 
					 data-y="176" 
					 data-speed="300" 
					 data-start="1400" 
					 data-easing="easeOutExpo"  >简化物流</div>
          <div class="tp-caption medium_text_brightgrey sfr"  
					 data-x="606" 
					 data-y="219" 
					 data-speed="300" 
					 data-start="1700" 
					 data-easing="easeOutExpo"  >Text text<br />
            Call to Action</div>
          <div class="tp-caption te-caption sfr"  
					 data-x="606" 
					 data-y="120" 
					 data-speed="300" 
					 data-start="1100" 
					 data-easing="easeOutExpo"  >Depuis 1965</div>
          <div class="tp-caption sfb"  
					 data-x="606" 
					 data-y="310" 
					 data-speed="300" 
					 data-start="2000" 
					 data-easing="easeOutExpo"  ><a href='#' class='tp-button orange small'>Find out more!</a></div>
-->
        </li>
		<li data-transition="fade" data-slotamount="7" data-masterspeed="300" > <img src="../img/rev/3.jpg" alt="bg_light" data-fullwidthcentering="true">
<!--
          <div class="tp-caption medium_grey sfl"  
					 data-x="70" 
					 data-y="176" 
					 data-speed="300" 
					 data-start="1400" 
					 data-easing="easeOutExpo"  >Freight Forwarding</div>
          <div class="tp-caption medium_text_brightgrey sfl"  
					 data-x="70" 
					 data-y="219" 
					 data-speed="300" 
					 data-start="1700" 
					 data-easing="easeOutExpo"  >Find out more about our services<br />
          Quote Calculation mafe simple.</div>
          <div class="tp-caption te-caption sfl"  
					 data-x="70" 
					 data-y="121" 
					 data-speed="300" 
					 data-start="1100" 
					 data-easing="easeOutExpo"  >DCMS</div>
          <div class="tp-caption sfb"  
					 data-x="70" 
					 data-y="310" 
					 data-speed="300" 
					 data-start="2000" 
					 data-easing="easeOutExpo"  ><a href='#' class='tp-button orange small'>Find Out More!</a></div>
-->
		</li>
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" > <img src="../img/rev/4.jpg" alt="bg_light3" data-fullwidthcentering="true">
<!--
		 <div class="tp-caption customfont_color lfr"  
					 data-x="570" 
					 data-y="101" 
					 data-speed="300" 
					 data-start="1100" 
					 data-easing="easeOutExpo" >TITLE 3</div>
          <div class="tp-caption medium_text_brightgrey sfr"  
					 data-x="570" 
					 data-y="226" 
					 data-speed="300" 
					 data-start="1700" 
					 data-easing="easeOutExpo" >DCMS<br />
           Delmar Cargo Management System</div>
          <div class="tp-caption sfb"  
					 data-x="570" 
					 data-y="288" 
					 data-speed="300" 
					 data-start="2000" 
					 data-easing="easeOutExpo"  ><a href='#' class='tp-button orange small'>Find Out More!</a></div>
          <div class="tp-caption medium_whitebg lfr"  
					 data-x="570" 
					 data-y="176" 
					 data-speed="300" 
					 data-start="1400" 
					 data-easing="easeOutExpo"  >One Stop Shop in Logistics</div>
-->
        </li>
      </ul>
    </div>
  </div>
  <!-- ]slideshow -->
  <div class="expending-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-3 animated out" data-animation="flipInX" data-delay="300">
          <section class="expending-cover">
            <div class="expending-item i">
			 <div class="expending-handle iconvisibility"><img alt="img" src="../img/icons/icon1a.png"></div>
              <ul class="expending-ul">
                <li>Multimodal <br>transportation solutions<br>Sea/Air and Air/Sea</li>
              </ul>
              <h2>国际货运管理  </h2>
              <a href="services.html#international">更多信息</a> </div>
          </section>
        </div>
        <div class="col-md-3 animated out" data-animation="flipInX" data-delay="600">
          <section class="expending-cover">
            <div class="expending-item ii">
			<div class="expending-handle iconvisibility"><img alt="img" src="../img/icons/icon2a.png"></div>
              <ul class="expending-ul">
                <li>We provide innovative approaches to customs programs</li>
              </ul>
              <h2>海关合规</h2>
              <a href="services.html#customs">更多信息</a> </div>
          </section>
        </div>
        <div class="col-md-3 animated out" data-animation="flipInX" data-delay="900">
          <section class="expending-cover">
            <div class="expending-item iii">
				<div class="expending-handle iconvisibility"><img alt="img" src="../img/icons/icon3a.png"></div>
              <ul class="expending-ul">
                <li>Complete Over the road transportation and distribution services</li>
              </ul>
              <h2>货运</h2>
              <a href="services.html#ground">更多信息</a> </div>
          </section>
        </div>
        <div class="col-md-3 animated out" data-animation="flipInX" data-delay="1200">
          <section class="expending-cover">
            <div class="expending-item iv">
			<div class="expending-handle iconvisibility"><img alt="img" src="../img/icons/icon4a.png"></div>
              <ul class="expending-ul">
                <li>We manage the most highly specialized and complex distributions requirements</li>
              </ul>
              <h2>仓储与配送</h2>
              <a href="services.html#distribution">更多信息</a> </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  		<div class="d_dividerbar"> </div>
		<!-- ***************************** Our Technology ************************* -->
        <div class="breadcrumb-2 image-bg-services">
            <div class="container">
				<h1>供应链管理</h1>
				<p></p>
				<div class="top-services">
					<div class="container"> 
						<div class="row">
							<div class="col-lg-3">
								<div>
									<button type="button" class="d_button2" >
										<a href="services.html#technology"> 跟踪</a>
									</button>
									<p></p>
								</div>
							</div>
							<div class="col-lg-3">
								<div>
									<button type="button" class="d_button2">
										<a href="services.html#technology-2">基本功能</a>
									</button>
									<p></p>
								</div>
							</div>
							<div class="col-lg-3">
								<div>
									<button type="button" class="d_button2">
										<a href="services.html#technology-3">高级性能</a>
									</button>
									<p></p>
								</div>
							</div>
							<div class="col-lg-3">
								<div>
									<button type="button" class="d_button2">
										<a href="services.html#technology-4">高级追踪</a>
									</button>
									<p></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d_dividerbar"> </div>
        <div class="breadcrumb-2 image-bg-team">
            <div class="container">
            <h1>新闻与媒体 </h1>
            <p style="margin-bottom:5px;">PRESS RELEASE<br>THE DELMAR GROUP ANNOUNCES KEY SENIOR MANAGEMENT APPOINTMENTS IN THE UNITED STATES<BR></p>
                          <p> <a class="btn-light" href="http://blog.delmarcargo.com/2015/08/17/press-release-delmar-international-concludes-purchase-of-majority-stake-in-ontario-based-islandwide-logistics/" > 更多信息 (English only) </a></p>
            </div>
        </div>
		<div class="container">
			<div class="col-md-12">
			<ul class="list-number row">
            <li class="col-md-4 animated out" data-animation="fadeInUp" data-delay="300">
              <div class="extra-wrap"> <a href="http://blog.delmarcargo.com/2015/03/24/press-release-the-delmar-group-announces-key-senior-management-appointments-in-the-united-states/" class="text4">USA – Transpacific Ocean Freight Carriers Postpone September 1 GRI to September 15</a>
<!--                <p>Nulla vitae libero, a pharetra augue. Integer posuere a ante venenatis condimentum. Donec id elit non mi porta gravida metus</p>-->
              </div>
            </li>
            <li class="col-md-4 animated out" data-animation="fadeInUp" data-delay="600">
              <div class="extra-wrap"> <a class="text4" href="http://blog.delmarcargo.com/2015/09/02/pakistan-freight-forwarders-and-air-cargo-agents-strike/">Pakistan Freight Forwarders and Air Cargo Agents Strike</a>
              
              </div>
            </li>
            <li class="col-md-4 animated out" data-animation="fadeInUp" data-delay="900">
              <div class="extra-wrap"> <a href="http://blog.delmarcargo.com/2015/09/02/canada-import-transpacific-ocean-freight-carriers-postpone-gri-pss-to-september-15-2015/" class="text4">Canada Import – Transpacific Ocean Freight Carriers Postpone GRI & PSS to September 15, 2015</a>
                s
              </div>
            </li>
            </ul>
        </div>
                <span class="button-center"><a href="http://blog.delmarcargo.com/" class="button-3">查看全部</a></span>
				<div></div>
        </div>
        <!-- **************** Our Company *********************************************************** -->
		<div class="d_dividerbar"> </div>
        <div class="breadcrumb-2 image-bg-project">
            <div class="container">
            <h1>关于我们 </h1>
            <p>德玛国际公司是一家1965年成立于蒙特利尔的加拿大报关行，如今已发展成为该行业的领导者，提供尖端的专有技术以及多元化的货运和供应链解决方案。</p><p>德玛公司的经营活动覆盖11个国家的40个城市，拥有员工约千人。</p> <p>德玛集团致力于为顾客提供最高标准的货运、物流和供应链服务，并且能在任何地方提供合规服务。</p><p> 对工艺和创新的执着追求使我们每天都充满干劲，我们坚定地认为，我们的同事、股东和客户的成功绝对息息相关。  </p>
            </div>
		<div class="top-services">
		<div class="container"> 
                <div class="row">
                     <div class="col-lg-3">
                        <div>
							<button type="button" class="d_button3">
							<a href="our-company.html#coverage">全球覆盖范围 </a>
							</button>
                            <p></p>
                        </div>
                    </div>
                     <div class="col-lg-3">
                        <div>
							<button type="button" class="d_button3">
							<a href="our-company.html#careers">事业</a>
							</button>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div>
							<button type="button" class="d_button3">
							<a href="our-company.html#commitment">帮助他人</a>
							</button>
                            <p></p>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div>
							<button type="button" class="d_button3" >
							<a href="our-company.html#mission">公司使命</a>
							</button>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		</div>
		<div class="breadcrumb-2 image-bg-links">
            <div class="container">
            <h1>在线工具</h1>
            <p>加拿大和美国政府相关资源在线网站链接</p>
                    <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
        <div class="delinks-area">
        <ul class="home-delinks delinks tesla_delinks" data-tesla-plugin="delinks">
            <li><a data-category="art" href="links.html#canada">加拿大</a></li>
            <li><a data-category="fashion" href="links.html#usa">美国</a></li>
			         
        </ul>
		</div>
<!-- [footer -->
<div class="secondb">
   <div class="container">
      <div class="row-fluid" align="center">
              <a href="http://www.ciffa.com/" target="_blank"><img src="../img/footer/ciffalogo_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://cscb.ca/" target="_blank"><img src="../img/footer/cscb_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbp.gov/border-security/ports-entry/cargo-security/c-tpat-customs-trade-partnership-against-terrorism" target="_blank"><img src="../img/footer/ct-pat_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.iata.org/Pages/default.aspx" target="_blank"><img src="../img/footer/iata_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbsa-asfc.gc.ca/security-securite/pip-pep/menu-eng.html" target="_blank"><img src="../img/footer/pip_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="https://www.wcaworld.com/eng/home.asp" target="_blank"><img src="../img/footer/wca_03.png" alt="" style="padding: 0px 35px;"></a>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div class="container">
      <div class="row">     
          <div class="container">
			<div class="row">
				<div class="footer-copyright">
					© 2015 Delmar International Inc. 版权所有 | <a href="legal.html" target="_blank">法律</a>  
				</div>
			</div>
        </div>
        </div>
      </div>
  </footer>
  <!-- ]end of footer -->
<!-- ]map -->
{{#content "script"}}

<!-- Rev Slider  -->
<script type="text/javascript" src="../js/rev/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="../js/rev/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript">
				var tpj=jQuery;
				var revapi1;
				tpj(document).ready(function() {
				if (tpj.fn.cssOriginal != undefined)
					tpj.fn.css = tpj.fn.cssOriginal;
				if(tpj('#rev_slider_1_1').revolution == undefined)
					revslider_showDoubleJqueryError('#rev_slider_1_1');
				else
				   revapi1 = tpj('#rev_slider_1_1').show().revolution(
					{
						delay:9000,
						startwidth:1170,
						startheight:440,
						hideThumbs:200,
						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:5,
						navigationType:"both",
							navigationArrows:"solo",
							navigationStyle:"round",
							touchenabled:"on",
							onHoverStop:"on",
							navigationHAlign:"center",
							navigationVAlign:"bottom",
							navigationHOffset:0,
							navigationVOffset:30,
							soloArrowLeftHalign:"left",
							soloArrowLeftValign:"center",
							soloArrowLeftHOffset:20,
							soloArrowLeftVOffset:0,
							soloArrowRightHalign:"right",
							soloArrowRightValign:"center",
							soloArrowRightHOffset:20,
							soloArrowRightVOffset:0,
							shadow:0,
							fullWidth:"on",
							fullScreen:"off",
							stopLoop:"off",
							stopAfterLoops:-1,
							stopAtSlide:-1,
							shuffle:"off",
							autoHeight:"off",
							forceFullWidth:"off",
							hideThumbsOnMobile:"off",
							hideBulletsOnMobile:"on",
							hideArrowsOnMobile:"on",
							hideThumbsUnderResolution:0,
							hideSliderAtLimit:0,
							hideCaptionAtLimit:768,
							hideAllCaptionAtLilmit:0,
							startWithSlide:0,
							videoJsPath:"plugins/revslider/rs-plugin/videojs/",
							fullScreenOffsetContainer: ""
						});
				});	//ready
			</script>  
{{/content}}