---
name: "legal"
title: "Legal Document and Notices"
desc: "选择最有效和低成本的运输选项可能是具有挑战性的。在德尔马，我们与您携手共创解决方案是灵活的，导致最高度可靠和可定制的服务在业界。 "
keywords: "跨码头，货代，货代岗位，空运，整车业务，加拿大运输，北美卡车运输，报关，报关行，报关行，报关加拿大，报关蒙特利尔，墨西哥报关，报关中国，加拿大海关，运输经纪人，经纪人，经纪，货运，货运代理，货运车，货运代理，货运代理，货运代理加拿大，国际货代，运输，有效载荷，装载，货物，提单，负载，运输，运价，收费，货物运输，货物，货物管理，货物运输，货物率，货物报价，运营商，运营商，分销，物流，后勤，物流服务，国际物流，全球运输，全球物流解决方案，提供，供应，供应，跟踪，跟踪，交易，信息服务，咨询服务，空运，海运，保税仓库，公交车，集装箱服务，定制顾问，国内，出口服务，ACI，AMS，PARS，PAPS，进口服务，国际化，包装及装箱，游泳池汽车，火车，轮船代理，轮船，运输服务，货运，货车，危险品，航运，集装箱船，调度，发货，入库，出库，仓库，复位，的重新定位，进口，出口，销售，分布复杂，调度，货物运输，货物运输，货物托运，美国，加拿大，蒙特利尔，墨西哥，中国，台湾，越南，香港，菲律宾，巴西，柬埔寨，巴巴多斯，覆盖全球，厚德载物，可持续的行动，慈善，多式联运，灵活，个性化的解决方案，对时间敏感的货，供货，货源链，供应链解决方案，IATA，CIFFA，C_TPAT，画中画，WCA，世界货物，DCMS，采购订单，零担服务，白手套，整合，推出，配送能力，平板车，步甲板，滚磷灰石flecibility，在维，专业知识，经验，德尔玛国际公司，德尔玛，Delmarcargo，德尔马货物，德尔马组，德尔马国际，德尔玛组，太平洋，进口，出口，transload，RI，港口，帆船，集装箱，船舶""
author: "Adriana Molano, Isabel Quintela, Margarita Mayoral"
jsfile: "index.js"
format-detection: "telephone=no"
viewport: "width=device-width, initial-scale=1, maximum-scale=1" 
rootdir: ""
---
  <!-- [header --> 
      <div class="header_top">
    <div class="container">
      <div id="contact-details">
        <ul>
          <li>简化物流</li>
        </ul>
      </div>
      <ul id="owl-tt-menu" class="owl-tt-menu">
		<li> <a href="#">中文</a> 
          <ul class="owl-tt-submenu">
            <li><a href="../en/{{this.name}}.html" >English</a></li>
            <li><a href="../sp/{{this.name}}.html" >Español</a></li>
            <li><a href="../pt/{{this.name}}.html" >Português</a></li>
            <li><a href="../fr/{{this.name}}.html" >Français</a></li>
          </ul>
        </li>
        <li> <a href="login-page.html" target="_blank" >登录</a>
        <ul class="owl-tt-submenu">
            <li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >外网登录</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
            <li><a href="aci-ams.html" >ACI-AMS</a></li>
            
          </ul>
          </li>
      </ul>
      <div class="social-top"> <a href="http://www.twitter.com/delmarcargo" target="_blank" class="fa fa-twitter"></a> <a href="http://www.facebook.com/delmarcargo" target="_blank" class="fa fa-facebook"></a> <a href="http://www.youtube.com/delmarcargo" target="_blank" class="fa fa-youtube"></a>    <a href="https://plus.google.com/+Delmarcargo" target="_blank" class="fa fa-gplus"></a> <a href="http://www.linkedin.com/company/delmar-international-inc." target="_blank" class="fa fa-github"></a> </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- Navigation -->
  <div id="nav">
    <div class="nav-sticky">
      <div class="container navbar navbar_ clearfix">
        <div class="navbar-inner">
          <div class=" row">
            <div class="owl-contener col-md-12  clearfix">
				<h1 class="brand fleft"><a href="index.html"><img src="../img/logo.png" alt=""></a><span>Delmar International Inc.</span></h1>
				<div class="cat-title"></div>
				<ul class="owl-menu menu-content">
               <li class="single-dropdown loginvisibility">  
                <a href="#">中文</a> 
          <ul class="owl-submenu" style="width: 100%;">
            <li><a href="../en/{{this.name}}.html" >English</a></li>
            <li><a href="../sp/{{this.name}}.html" >Español</a></li>
            <li><a href="../pt/{{this.name}}.html" >Português</a></li>
            <li><a href="../fr/{{this.name}}.html" >Français</a></li>
          </ul>
        </li>     
         <li class="single-dropdown loginvisibility">
						<a href="#">关注我们</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="http://www.twitter.com/delmarcargo" target="_blank" >Twitter</a></li>
							<li><a href="http://www.facebook.com/delmarcargo" target="_blank" >Facebook</a></li>
							<li><a href="http://www.youtube.com/delmarcargo" target="_blank" >Youtube</a></li>
							<li><a href="https://plus.google.com/+Delmarcargo" target="_blank" >Google + </a></li>
							<li><a href="https://www.linkedin.com/company/delmar-international-inc-" target="_blank" >Linkedin</a></li>
						</ul>
				</li>           
                    <li class="single-dropdown loginvisibility"> 
                    <a href="login-page.html">登录/a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >外网登录</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
							<li><a href="aci-ams.html" >ACI-AMS</a></li>
						</ul>
                </li>
                <li class="single-dropdown"> 
                    <a href="services.html">核心服务</a>
                  <ul class="owl-submenu" style="width: 250px;">
						<li><a href="services.html#international" >国际货运管理</a></li>
						<li><a href="services.html#customs" >海关合规</a></li>
						<li><a href="services.html#ground" >货运</a></li>
						<li><a href="services.html#distribution" >仓储与配送</a></li>
						<li><a href="services.html#technology" >供应链管理</a></li>
					</ul>
                  </li>
              
                <li class="single-dropdown"> 
                    <a href="news.html"> 新闻与媒体</a>
                    <ul class="owl-submenu" style="width: 100%;">
									<li><a href="news.html" >新闻</a></li>
									<li><a href="news.html#publications" >营销手段</a></li>
									<li><a href="news.html#press" >传媒报道</a></li>
									<li><a href="news.html#videos" >视频</a></li>
								</ul>
                </li>
              
                <li class="single-dropdown"> <a href="our-company.html">关于我们 </a>
               <ul class="owl-submenu" style="width: 100%;">
								<li><a href="our-company.html" >全球覆盖范围</a></li>
								<li><a href="our-company.html#careers" >事业</a></li>
								<li><a href="our-company.html#commitment" >帮助他人</a></li>
								<li><a href="our-company.html#goinggreen" >可持续性行动</a></li>
								<li><a href="our-company.html#ourcompany" >公司使命</a></li>
							
					</ul>
              </li>
              
              
                <li class="single-dropdown">
                    <a href="links.html">在线工具</a>
                     <ul class="owl-submenu" style="width: 100%;">
							
								<li><a href="links.html#canada" >加拿大</a></li>
								<li><a href="links.html#usa" >美国</a></li>	
					</ul>  
                  </li>
              
                <li class="single-dropdown"><a href="contact-delmar.html">联系我们
                  <div class="skewed_slide"></div>
                  </a>
                </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
       <!-- ]header -->
<section id="legal">        
    <div class="content" style="background-color:#FFFFFF;">	
		<section id="LEGALSECTION" data-title="Legal Section">
			<div class="d_section d_services_freight">
				<div class="d_top parallax">
					<div class="container">
						<div class="d_titlebar" >							
							<h1>使用条款</h1>
						</div>
					</div>    
				</div>
				<div class="d_dividerbar cyan" >  </div>
				<div class="d_dividerbar white"></div>
				<div class="container">
					<div class="col-lg-2"></div>
					<div class="col-lg-8">
						<h2 style="text-align:left">条款和条件</h2>
						<p style="text-align:justify">	欢迎访问德玛国际物流有限公司（以下简称德玛）网站。登陆本网站表明您同意代表自己和您所代表的实体遵守以下所列各项条款和条件以及我们的隐私政策。本网站的某些领域仅限于德玛客户或者是潜在客户使用，使用这些领域必须遵守使用附加条款内容（已在网站发布）和管理特定应用程序。如果不接受这些条款和条件，请立刻离开本网站。</p>
						<p style="text-align:justify">	任何由于使用本网站而产生的纠纷，都将由魁北克省法及加拿大适用法律裁决，并且用户应明确同意并服从魁北克省法院的专属管辖及审判。</p>
						<h3 style="text-align:left">免责声明</h3>
						<p style="text-align:justify">	德玛将会做出合理的努力在本网站提供准确、及时的消息，但是无任何性质的明示或默示保证，包括但不限于性能，适合特定目的的适用性的保证，以及不侵权的保证。德玛既不声明也不保证本网站中的材料的准确性、时效性和完整性的保证。随着法律法规的不断变化，这能在特定事实的情况下进行解释，此处条款在任何程度上都不能代替用户的独立调查和商业审判。</p>
						<p style="text-align:justify">	本网站为用户提供服务，德玛保留在无需通知的条件下变更和删除内容的权利。由于这些修订与您相关，因此，您应经常访问本页面以了解当前的条款。</p>
						<p style="text-align:justify">	本网站信息是为了为用户提供基本信息和指导用户（对感兴趣的事项）。此中任何信息都不能视为为您提供专业选择或是建议。因此，不能作为咨询的替代。针对您的情况和要求，如需了解详细信息，请联系德玛代表。</p>
						<p style="text-align:justify">	德玛或其附属公司，董事，官员，雇员或是其他代表均不承担任何由访问或是无法访问本网站，依赖本网站上提供的信息所产生的损失。德玛也不会承担任何直接，附带，间接，惩罚性或其他由于您使用本网站所造成的损失，或任何错误，遗漏的内容，包括但不限于利润损失，营业中断，项目或其他数据丢失的损失。</p>
                        <p style="text-align:justify">	 德玛不承担任何由本网站中任一部分内容所引起的损失，特别是对“DelTrac”或是其他货物追踪服务的使用，德玛不承担任何因未履行合同，错误，遗漏，中断，删除，缺陷或研制操作或传播所引起的金融或是其他损失。</p>
                        
						<h3 style="text-align:left">链接状态</h3>
						<p style="text-align:justify">	为了给您提供更方便的服务和信息，我们将为您提供其他网站的链接。对于其他网站内容，德玛不负任何责任，也不代表和担保其内容的全面性，时效性和准确性。当您决定离开本网站去浏览其他第三方网站时，即表示您已接受以上所有条款，并同意承担此中可能产生风险。</p>
						<h3 style="text-align:left">网站使用</h3>
						<p style="text-align:justify">	您可以在本网站查看和下载您个人的，非商业或教育用途的信息。未经德玛事先书面同意，禁止其他任何使用，修改或是复制本网站全部或部分内容，只有以此方式来确保资源和知识产权。如需申请使用本网站的任何内容用于任何公共或商业用途，请发送电子邮件至 info@delmarcargo.com.</p>
						<p style="text-align:justify">	本网站受版权保护。因此，在没有事先获得版权所有者的许可前，不得随意发表，上传，发布，复制，传播或以其他方式在本网站发布信息。也不得使用本网站做出任何违反法律或道德的事情，对本网站其他用户的使用造成不利影响。</p>
						<h3 style="text-align:left">版权</h3>
						<p style="text-align:justify">	本网站的所有内容均受加拿大版权法以及国际法的保护。版权所有归德玛和本文所提到的（除非另有说明）其他任何知识产权。版权所有。</p>
						<p style="text-align:justify">	以上使用条款最后更新于2007年10月3日。.</p>						
					</div>
					<div class="col-lg-2"></div>
				</div>
				<div class="d_dividerbar white"></div>
				<div class="d_dividerbar cyan">  </div>
			</div>
		</section>
		<section id="PRIVACY POLICY" data-title="PRIVACY POLICY">
			<div class="d_section d_services_customs">
				<div class="d_top parallax">
					<div class="container">
						<div class="d_titlebar" >							
							<h1>隐私政策</h1>
						</div>
					</div>    
				</div>
				<div class="d_dividerbar cyan" >  </div>
				<div class="d_dividerbar white"></div>
				<div class="" >
					<div class="container marketing" >
						<div class="col-lg-2"> </div>
						<div class="col-lg-8">
							<p style="text-align:justify">德玛集团（以下简称德玛）认识到保护隐私是每个人的关注，因此，德玛致力于保障客户隐私。除需要提供服务，法律或监管的目的，任何访问本网站所产生的信息都不会透露给第三方。</p>
							<h2 style="text-align:left">信息收集和使用</h2>
							<p style="text-align:justify">德玛有时会收集一般性信息，包括但不限于您的联网服务提供商域名，使用的浏览器和操作系统类型，日期/时间和页面查看。这些信息可能汇总用于技术分析和诊断，或者是评估网站使用和提升我们的服务。</p>
							<p style="text-align:justify">为了使用本网站的某些区域，德玛可能需要更多您的个人信息，包括姓名，邮箱地址，公司，电话等。这些数据只会在您的同意下进行收集，并可以为您提供额外的服务，产品供应或是发送您感兴趣的消息。德玛可能使用cookies（用户本地数据）来提供更个性化的或定制的服务来满足您的需求。如果您不希望使用cookies（用户本地数据）,可在浏览器的选项中设置拒绝。但是,如果你不接受使用cookies，我们提供的特色服务可能无法使用。</p>
							<p style="text-align:justify">作为本网站收集信息的唯一所有者，德玛会采取一切合理和必要的保障措施,以确保个人数据的保密。德玛不会出售、出租或以任何方式向第三方透露这些信息，除本政策声明，或是已单独签署协议外。</p>							
							<p style="text-align:justify">德玛有权在适当的时候更改这一隐私政策,恕不另行通知。因此, 因此，您应经常访问本页面以了解当前的条款。你使用这个网站即表示同意本隐私政策。对于德玛的隐私政策有任何问题,投诉或评论,请发邮件至info@delmarcargo.com。</p>
							<p style="text-align:justify">T本隐私政策最后更新于2007年10月3日。</p>
						</div>
						<div class="col-lg-2"></div>
					</div>
				</div>
				<div class="d_dividerbar white"> </div>
				<div class="d_dividerbar"></div>
			</div>
			</section>
			<section id="Delmar's Trucking Bill of Lading" data-title="Delmar's Trucking Bill of Lading">
				<div class="d_section d_services_trucking">
					<div class="d_top parallax">
						<div class="container">
							<div class="d_titlebar" >
								<h1>Delmar's Trucking Bill of Lading</h1>
							</div>
						</div>    
					</div>
					<div class="d_dividerbar cyan" >  </div>
					<div class="d_dividerbar white"></div>
					<div class="" >
						<div class="container marketing" >
							<div class="col-lg-2"></div>
							<div class="col-lg-8">
								<h2 style="text-align:left">Conditions of Carriage</h2>
								<ul class="choose-us">
									<li>1. Liability of Carrier:</li>
										<p style="text-align:justify">The carrier of the goods herein described is liable for any loss of or damage to goods accepted by him or his agent except as hereinafter provided.</p>
									<li>2. Liability of Originating and Delivering Carriers:</li>
										<p style="text-align:justify">Where a shipment is accepted for carriage by connecting carriers, the carrier issuing the bill of lading, hereinafter called the originating carrier, and the carrier who assumes responsibility for delivery to the consignee, hereinafter called the delivering carrier, in addition to any other liability hereunder, are liable for any loss of or damage to the goods while they are in the custody of any other carrier to whom the goods are or have been transferred and from which liability the other carrier is not relieved.</p>
									<li>3. Recovery from Connecting Carrier:</li>
										<p style="text-align:justify">The originating carrier or the delivering carrier, as the case may be, is entitled to recover from any other carrier to whom the goods are or have been transferred, the amount of the loss or damage that the originating carrier or delivering carrier, as the case may be, may be required to pay hereunder, resulting from loss or damage to the goods while they were in the custody of such other carrier. When shipments are interlined between carriers, settlement of concealed damage claims shall be prorated on the basis of revenues received.</p>
									<li>4. Remedy by Shipper or Consignee:</li>
										<p style="text-align:justify">Nothing in section 2 or 3 deprives a shipper or a consignee of any rights he may have against any carrier.</p>
									<li>5. Exemptions from Liability:</li>
										<p style="text-align:justify">The carrier shall not be liable for loss, damage or delay to any of the goods described in the bill of lading caused by an act of God, the Queen's or public enemies, riots, strikes, a defect or inherent vice in the goods, the act or default of the shipper, owner or consignee, authority of law, quarantine or differences in weights of grain, seed, or other commodities caused by natural causes.</p>
									<li>6. Delay:</li>                
										<p style="text-align:justify">No carrier is bound to transport goods by any particular vehicle or in time for any particular market or otherwise than with due dispatch, unless by agreement specifically endorsed on the bill of lading and signed by the parties thereto.</p>
									<li>7. Routing by Carrier:</li> 
										<p style="text-align:justify">In case of physical necessity where the carrier forwards the goods by a conveyance that is not a licensed rental vehicle, the liability of the carrier is the same as though the entire carriage were by licensed rental vehicle.</p>
									<li>8. Stoppage in Transit:</li> 
										<p style="text-align:justify">Where goods are stopped and held in transit at the request of the party entitled to do so, the goods are held at the risk of that party.</p>
									<li>9. Valuation:</li>
										<p style="text-align:justify">Subject to section 10, the amount of any loss or damage for which the carrier is liable, whether or not the loss or damage results from negligence, shall be computed on the basis of: (a) the value of the goods at the time of shipment including the freight and other costs if paid; or (b) where a value lower than that referred to in paragraph a has been represented in writing by the shipper or has been agreed upon, such lower value shall be the maximum liability.</p>
									<li>10. Maximum Liability:</li>
										<p style="text-align:justify">Save for the exception of airfreight goods as described in section 22 below, the amount of any loss or damage computed in accordance with the provisions of paragraph a or b of section 9 must not exceed $4.41(CAD) per kilogram, ($2.00 per pound) depending on the total weight of the shipment, unless the shipper has declared a higher value on the front of the bill of lading.</p>
									<li>11. Shipper's Risk:</li>
										<p style="text-align:justify">Where it is agreed that the goods are carried at the risk of the shipper of the goods, such agreement covers only such risks as are necessarily incidental to transportation and the agreement shall not relieve the carrier from liability for any loss or damage or delay which may result from any negligence to act or omission of the carrier, his agents or employees and the burden of proving absence of negligence shall be on the carrier.</p>
									<li>12. Notice of Claim:</li>
										<p style="text-align:justify">(1) No carrier is liable for loss, damage or delay to any goods carried under the bill of lading unless notice thereof setting out particulars of the origin, destination and date of shipment of the goods and the estimated amount claimed in respect of such loss, damage or delay is given in writing to the originating carrier or the delivering carrier within 60 days after the delivery of the goods, or, in the case of failure to make delivery, within 9 months from the date of shipment.</p>
										<p style="text-align:justify">(1) (2) The final statement of the claim must be filed within 9 months from the date of shipment together with a copy of the paid freight bill.</p>
									<li>13. Articles of Extraordinary Value:</li>
										<p style="text-align:justify">No carrier is bound to carry any documents, specie or any articles of extraordinary value unless by a special agreement to do so. If such goods are carried without a special agreement and the nature of the goods is not disclosed herein, the carrier shall not be liable for any loss or damage in excess of the maximum liability stipulated in section 10 above.</p>
									<li>14. Freight Charges:</li>
										<p style="text-align:justify">(1) If required by the carrier, the freight and all other lawful charges accruing on the goods shall be paid before delivery and, if upon inspection, it is ascertained that the goods shipped are not those described in the bill of lading, the freight charges must be paid upon the goods actually shipped with any additional charges lawfully payable thereon.</p>
										<p style="text-align:justify">(2) Freight charges are payable on delivery, unless otherwise specified by the shipper on the bill of lading.</p>
									<li>15. Dangerous Goods:</li>
										<p style="text-align:justify">Every person, whether as principal or agent, shipping explosives or dangerous goods without previous full disclosure to the carrier as required by law, shall indemnify the carrier against all loss, damage or delay caused thereby, and such goods may be warehoused at the shipper's risk and expense.</p>
									<li>16. Undelivered Goods:</li>
										<p style="text-align:justify">(1) Where, through no fault of the carrier, the goods cannot be delivered, the carrier shall immediately give notice to the shipper and consignee that delivery has not been made, and shall request disposal instructions.</p>
										<p style="text-align:justify">(2) Pending receipt of such disposal instructions: </p>
										<p style="text-align:justify">(a) the goods may be stored in the warehouse of the carrier, subject to a reasonable charge for storage; or </p>
										<p style="text-align:justify">(b) provided that the carrier has notified the shipper of his intention, the goods may be removed to, and stored in public or licensed warehouse at the expense of the shipper without liability on the part of the carrier and subject to a lien for all freight and other lawful charges, including a reasonable charge for storage.</p>
									<li>17. Return of goods:</li>
										<p style="text-align:justify">Where notice has been given by the carrier in accordance with paragraph 1 of section 16, and no disposal instructions have been received within 10 days from the date of such notice, the carrier may return to the shipper, at the shipper's expense all undelivered shipments for which such notice has been given.</p>
									<li>18. Alterations:</li>
										<p style="text-align:justify">Subject to section 19, any limitation on the carrier's liability on the bill of lading, and any alteration, or addition or erasure in the bill of lading shall be signed or initialed by the shipper or his agent and the originating carrier or his agent and unless so acknowledged shall be without effect.</p>
									<li>19. Weights:</li>
										<p style="text-align:justify">It shall be the responsibility of the shipper to show correct shipping weights of the shipment on the bill of lading. Where the actual weight of the shipment does not agree with the weight shown on the bill of lading, the weight shown thereon is subject to correction by the carrier.</p>
									<li>20. C.O.D. Shipments:</li>
										<p style="text-align:justify">A carrier shall not deliver a C.O.D. shipment unless payment is received in full. The charge for collecting and remitting the amount of C.O.D. bills for C.O.D. shipments must be collected from the consignee unless the shipper has otherwise so indicated and instructed on the bill of lading. </p>
										<p style="text-align:justify">A carrier shall remit all C.O.D. monies to the shipper or his agent within 15 days after collection.  </p>
										<p style="text-align:justify">A carrier shall keep all C.O.D. monies separate from the other revenues and funds of his business in a separate trust fund or account.  </p>
										<p style="text-align:justify">A carrier shall include as a separate item in his tariff of rates the charges for collecting and remitting money paid by consignees. </p>
										<h3 style="text-align:justify">OTHER SPECIFICATIONS</h3>
									<li>21. All other specifications agreed to by the parties shall be indicated on the bill of lading.</li>
									<li>22. Liability for all Domestic and International Air Freight:</li>
										<p style="text-align:justify">Shall be limited to $1.10 (CAD) per kilogram ($0.50 per pound) to a maximum of $100 (CAD) unless a maximum value of $5000 (CAD) has been declared for insurance purposes and additional charges paid.</p>
								</ul>
								<p style="text-align:justify">Delmar's trucking Bill of Lading was last updated on October 5th, 2007.</p>								
							</div>
							<div class="col-lg-2"></div>
						</div>
					</div>
					<div class="d_dividerbar white"></div>
					<div class="d_dividerbar cyan" >  </div>
				</div>
			</section>
			<section id="CSCB Standard Trading Conditions" data-title="CSCB Standard Trading Conditions">
				<div class="d_section d_services_warehousing">
					<div class="d_top parallax">
						<div class="container">
							<div class="d_titlebar">								
								<h1 >CSCB Standard Trading Conditions</h1>
							</div>
						</div>    
					</div>
					<div class="d_dividerbar cyan">  </div>
					<div class="d_dividerbar white"></div>
					<div class="">
						<div class="container marketing">
							<div class="col-lg-2"></div>
							<div class="col-lg-8 pricing-table">
								<h2 style="text-align:justify">Standard Trading Conditions</h2>
								<p style="text-align:justify">These are the Standard Trading Conditions which govern the business practices of members of the Canadian Society of Customs Brokers. Both the Client and the Customs Broker agree to be bound by the Agency Agreement and Power of Attorney including the Standard Trading Conditions unless or until one of the parties advises the other in writing to the contrary subject to the provisions of paragraph 8 of the Standard Trading Conditions.</p>
								<h3 style="text-align:justify">1. Definitions</h3>
								<p style="text-align:justify">"Canada Customs" means the Canada Border Services Agency, any other Department or Agency, and any other successor Department or Agency of the Government of Canada or any Province thereof having jurisdiction over imports and exports.</p>
								<p style="text-align:justify">"Client" is any person, firm, association or corporation at whose request or on whose behalf, either directly or indirectly, the Customs Broker undertakes any business or provides advice, information or services. "Customs Broker" is the person, firm or corporation licensed by the Canada Border Services Agency, or other authorized body, to engage in the business of a Customs Broker.</p>
								<p style="text-align:justify">"Customs Duties" means any duties, taxes and levies on imported goods under the Customs Act, the Customs Tariff, the Excise Act, the Excise Tax Act, the Special Import Measures Act or any other law relating to customs, excluding any penalties, interest or fines imposed under any of the aforesaid acts or any other law relating to customs.</p>
								<p style="text-align:justify">"Disbursements" means any payment made by the customs broker, on behalf of the client, for any product or service rendered in connection with the facilitation of the import and export of goods but not limited to Customs Duties, taxes, freight, storage, penalties, interest and fines and any other payments, including payments for goods on COD shipments made by the Customs Broker on behalf of the Client.</p>
								<p style="text-align:justify">"Services" shall mean those customs broker services in Annex A which are agreed to by the Client and the Customs Broker.</p>
								<h3 style="text-align:justify">2. Fees and Disbursements</h3>
								<p style="text-align:justify">(a) The fees for Services shall be in accordance with the fee schedule as agreed upon between the Client and the Customs Broker as amended from time to time. </p>
								<p style="text-align:justify">(b) The Client shall pay to the Customs Broker all fees charged for the Services rendered by the Customs Broker to the Client.  </p>
								<p style="text-align:justify">(c) Disbursements incurred by the Customs Broker on behalf of the Client shall be reimbursed to the Customs Broker by the Client. </p>
								<h3 style="text-align:justify">3. Invoicing and Payment</h3>
								<p style="text-align:justify">(a) The Customs Broker shall issue invoices to the Client for all fees and Disbursements pertaining to Services rendered to and on behalf of the Client. </p>
								<p style="text-align:justify">(b) All such invoices shall be payable upon receipt, or as otherwise agreed, by the Client.  </p>
								<p style="text-align:justify">(c) Interest on all late payments shall be paid at the rate set by the Customs Broker, as amended from time to time, upon which interest shall be charged commencing 14 days after the invoice date or as otherwise agreed. </p>
								<p style="text-align:justify">(d) In the event of default of payment by the Client, the Customs Broker, in addition to any other legal rights and remedies shall have the right to retain, in its possession, all goods of the Client which are currently in its possession and all goods of the Client which may, in the future, come into its possession. The right of possession shall include the right to sell the goods by public auction in the event that such default shall continue for a period of 45 days.</p>
								<h3 style="text-align:justify">4. Advancement of Funds</h3>
								<p style="text-align:justify">(a) Upon request by the Customs Broker, the Client shall provide to the Customs Broker, prior to the release of a shipment of the goods imported by the client, sufficient funds to enable the Customs Broker to pay on behalf of the Client all Disbursements that are estimated by the Customs Broker to be payable on such shipment.</p>
								<p style="text-align:justify">(b) If, at any time, the Customs Broker or Canada Customs determines that additional funds are required with respect to goods imported by the Client, the Client shall upon demand advance such additional funds to the Customs Broker. </p>
								<p style="text-align:justify">(c) If after payment of Disbursements by the Customs Brokers concerning the goods imported by the Client any balance of funds remains outstanding to the credit of the Client, the Customs Broker shall return to the Client, unless instructed by the Client to the contrary, any remaining balance of funds. </p>
								<p style="text-align:justify">(d) If the Client fails to advance funds to the Customs Broker upon request by the Customs Broker as aforesaid, the Customs Broker shall have no obligation with respect to rendering Services concerning the goods for which advance funds had been requested by the Customs Broker.</p>
								<h3 style="text-align:left" >5. Duties and Responsibilities of the Client</h3>
								<p style="text-align:justify">(a) The Client shall: </p>
								<p style="text-align:justify">i. provide to the Customs Broker all information necessary for the Customs Broker to provide the Services set out herein, including all information required to complete Canada Customs documentation and/or data requirements; </p>
								<p style="text-align:justify">ii. promptly review all documentation and/or data and notify the Customs Broker of any inaccuracies, errors or omissions found therein and advise the Customs Broker promptly and within the time periods set out in paragraph 7 hereof; </p>
								<p style="text-align:justify">iii. reimburse, indemnify and save harmless the Customs Broker with respect to any of the matters set out in subparagraph (c) thereof; </p>
								<p style="text-align:justify">iv. indemnify and save harmless the Customs Broker against any and all actions, claims, suits or demands of any nature whatsoever arising from third party claims which result from inaccuracies, mistakes or omissions in the information and documentation provided to the Customs Broker by the Client or its agents and relied upon by the Customs Broker. </p>
								<p style="text-align:justify">(b) The Client warrants that it is the importer, exporter, or owner of the goods for which it has retained the Customs Broker; that it has full power and authority to retain, appoint as attorney and instruct the Customs Broker; and that all information provided to the Customs Broker shall be complete, true and accurate and acknowledges that the Customs Broker shall be relying on such information to provide the services set out herein; </p>
								<p style="text-align:justify">The Client shall be solely liable for:</p>
								<p style="text-align:justify"> i. any and all Disbursements made by the Customs Broker on behalf of the Client; </p>
								<p style="text-align:justify">ii. any Customs Duties, fines, penalties, interest or other levies imposed by Canada Customs or other Government Departments with respect to the goods imported or to be imported into Canada, or exported or to be exported from Canada, by the Client; </p>
								<p style="text-align:justify">iii. any loss or damage incurred or sustained by the Customs Broker in relation to the provision of services to the Client herein.</p>
								<h3 style="text-align:left" >6. Duties and Responsibilities of the Broker</h3>
								<p style="text-align:justify">(a) The Customs Broker shall at all times provide Services in a timely and professional manner in accordance with the generally accepted standards of the Canadian customs brokerage industry and in compliance with all applicable laws and regulations of Canada and any Province or Territory thereof. </p>
								<p style="text-align:justify">(b) All information pertaining to the Client shall be kept confidential by the Customs Broker and his sub-agent, if applicable, and shall only be released to Canada Customs as required by law, subject to instructions from the Client to the Customs Broker to release the information to third parties. </p>
								<p style="text-align:justify">(c) The Customs Broker shall take all reasonable steps to provide Services in accordance with the instructions from the Client, provided however, that should the Customs Broker reasonably consider that it is in the interest of the Client to depart from the Client's instructions, the Customs Broker shall have the authority to do so and shall be indemnified and saved harmless by the Client for so doing.</p>
								<p style="text-align:justify">(d) The Customs Broker shall provide to the Client in respect of each transaction or summary accounting made on the Client's behalf a copy of the accounting documents and/or data pertaining thereto. </p>
								<p style="text-align:justify">(e) The Customs Broker shall promptly account to the Client for funds received to the extent that these funds are: </p>
								<p style="text-align:justify"> i.  for the credit of the Client from the Receiver General for Canada, or  </p>
								<p style="text-align:justify">ii. from the Client by way of advances provided in paragraph 4 hereof in excess of the Disbursements payable in respect to the Client's business with Canada Customs or other Government Departments.  </p>
								<p style="text-align:justify">(f) The Customs Broker shall not be liable for any error in judgment or for anything which it may do or refrain from doing or for any resulting or consequential damage or loss caused by the negligence of the Customs Broker or by an act of God or other act or cause beyond the reasonable control of the Customs Broker. The Customs Broker shall not be liable for any failure to provide the Services which is a result of the operation of the applicable laws of Canada or any other country or a change in the policies of Canada Customs.</p>
								<h3 style="text-align:justify">7. Errors and Omissions</h3>
								<p style="text-align:justify">Any errors or omissions on Canada Customs documents and/or data transmissions must be reported in writing to the Customs Broker by the Client as soon possible but in any event within 10 days of receipt of the documents and/or data. The Customs Broker shall not be responsible for any errors or omissions unless the same are reported to the Customs Broker within the said 10-day period.</p>
								<h3 style="text-align:justify">8. Termination</h3>
								<p style="text-align:justify">In the event that the Agency Agreement and Power of Attorney is terminated and there are any outstanding matters pertaining to the Client for which the Customs Broker has been engaged by the Client and for which the Customs Broker remains liable, the Agency Agreement and Power of Attorney shall continue in force with respect to such matters until such matters are concluded and payment by the Client to the Customs Broker of such funds as may be required to satisfy all outstanding payment liabilities of the Customs Brokers to Canada Customs and others (including all Fees and Disbursements) has been made by the Client.</p>
								<h3 style="text-align:justify">9. Governing Law</h3>
								<p style="text-align:justify">These conditions shall be governed by the laws of the Province within Canada, or Territory, within which the Customs Broker has its principal place of business and the Client hereby irrevocably attorns to the Courts of such Province or Territory. The General Agency Agreement and these conditions shall ensure to the benefit of and be binding upon the parties and their respective executors, administrators, successors and assigns.</p>
								<h3 style="text-align:justify">10. Severability</h3>
								<p style="text-align:justify">Each of the clauses of these Standard Trading Conditions is and shall be deemed to be separate and severable and if any provision or part of these conditions is held for any reason to be unenforceable, the remainder of these Standard Trading Conditions shall remain in full force and effect. 09/01.</p>
								<h2 style="text-align:justify">Annex A</h2>
								<h3 style="text-align:justify">Customs Broker Services</h3>
								<p style="text-align:justify">The Customs Broker will provide to the Client import and export related services when requested by the Client and accepted by the Customs Broker. These may include:</p>
								<p style="text-align:justify">(i) assisting the Client in the preparation of information required by Canada Customs with respect to the importation of goods into Canada by the Client or the exportation of goods from Canada by the Client; </p>
								<p style="text-align:justify">(ii) presenting information, by any acceptable means, on behalf of the Client to Canada Customs required to release and/or account for the Client's goods including information as may be required for in-bond transportation within Canada; </p>
								<p style="text-align:justify">(iii) paying requisite Customs Duties and disbursements by or on behalf of the Client and obtaining release of the goods from Canada Customs; </p>
								<p style="text-align:justify">(iv) making arrangements for delivery of the goods; </p>
								<p style="text-align:justify">(v) assisting the Client in preparing and presenting information required by domestic and foreign jurisdictions with respect to goods exported from Canada by the Client; </p>
								<p style="text-align:justify">(vi) providing information and advice concerning the relevant laws and regulations pertaining to the import into Canada and the export from Canada of the Client's goods; </p>
								<p style="text-align:justify">(vii) providing advice on tariff classification, value for duty, and any other relevant federal or provincial customs requirements; </p>
								<p style="text-align:justify">(viii) providing advice on federal and provincial tax implications, payment options and any other tax requirements concerning the Client's imported goods; </p>
								<p style="text-align:justify">(ix) providing advice concerning Customs Duties refunds, drawbacks, and remissions, as well as appeals of tariff classification or value for duty decisions of Canada Customs. </p>
								<p style="text-align:justify">(x) preparing and filing Customs Duties refunds, appeals, drawbacks and remission applications; all the foregoing at the instructions of and on behalf of the Client; </p>
								<p style="text-align:justify">(xi) providing advice and assistance to the Client on matters pertaining to the seizure, detention, and forfeiture of goods; </p>
								<p style="text-align:justify">(xii) providing advice and assistance on all other matters necessary and incidental to the foregoing Services.</p>																						
								<div class="">																		
								</div>
							</div>                            
						</div>                        
						<div class="col-lg-2"></div>
						<div class="d_dividerbar white"></div>
						<div class="d_dividerbar cyan" ></div>
					</div>
				</div>
			</section>
			<section id="CNCBFAA Terms & Conditions of Service" data-title="CNCBFAA Terms & Conditions of Service">
				<div class="d_section d_services_technology">
					<div class="d_top parallax">
						<div class="container">
							<div class="d_titlebar">								
								<h1 >CNCBFAA Terms & Conditions of Service</h1>
							</div>
						</div>    
					</div>
					<div class="d_dividerbar cyan" > </div>
					<div class="d_dividerbar white"></div>
					<div class="">
						<div class="container marketing">
							<div class="col-lg-2"></div>
							<div id="technology-1" class="col-lg-8 pricing-table" >
								<p style="text-align:justify">These terms and conditions of service constitute a legally binding contract between the “Company” and the “Customer”. In the event the Company renders services and issues a document containing Terms and Conditions governing such services, the Terms and Conditions set forth in such other document(s) shall govern those services.</p>
								<h3 style="text-align:justify">1- Definitions</h3>
								<ul class="choose-us">
									<li>1. “Company” shall mean Delmar International (N.Y) Inc. and related companies, its subsidiaries, related companies, agents and/or representatives;</li>
									<li>2. “Customer” shall mean the person for which the Company is rendering service, as well as its agents and/or representatives, including, but not limited to, shippers, importers, exporters, carriers, secured parties, warehousemen, buyers and/or sellers, shipper’s agents, insurers and underwriters, break-bulk agents, consignees, etc. It is the responsibility of the Customer to provide notice and copy(s) of these terms and conditions of service to all such agents or representatives;</li>
									<li>3. “Documentation” shall mean all information received directly or indirectly from Customer, whether in paper or electronic form; “Ocean Transportation Intermediaries” (“OTI”) shall include an “ocean freight forwarder” and a “non-vessel operating carrier”;</li>
									<li>4. “Third parties” shall include, but not be limited to, the following: “carriers, truckmen, cartmen, lightermen, forwarders, OTIs, customs brokers, agents, warehousemen and others to which the goods are entrusted for transportation, cartage, handling and/or delivery and/or storage or otherwise”.</li>
								</ul>								
								<h3 style="text-align:left" >Company as agent</h3>
								<ul class="choose-us">
									<li>1. The Company acts as the “agent” of the Customer for the purpose of performing duties in connection with the entry and release of goods, post entry services, the securing of export licenses, the filing of export and security documentation on behalf of the Customer and other dealings with Government Agencies: as to all other services, Company acts as an independent contractor.</li>									
								</ul>								
								<h3 style="text-align:justify">3- Limitation of Actions</h3>
								<ul class="choose-us">
									<li>1. (a) Unless subject to a specific statute or international convention, all claims against the Company for a potential or actual loss, must be made in writing and received by the Company,</li>
									<li>2. within ninety (90) days of the event given giving rise to claim; the failure to give the Company timely notice shall be a complete defense to any suit or action commenced by Customer.</li>
									<li>3. (b) All suits against Company must be filed and properly served on Company as follows:</li>
									<ul class="choose-us">
										<li>1. For claims arising out of ocean transportation, within one (1) year from the date of the loss;</li>
										<li>2. For claims arising out of air transportation, within two (2) years from the date of the loss;</li>
										<li>3. For claims arising out of the preparation and/or submission of an import entry(s), within seventy five (75) days from the date of liquidation of the entry(s);</li>
										<li>4. For any and all other claims of any other type, within two (2) years from the date of the loss or damage.</li>
									</ul>
								</ul>
								<h3 style="text-align:left" >4- No Liability For The Selection or Services of Third Parties and/or Routes.</h3>
								<ul class="choose-us">
									<li>1. Unless services are performed by persons or firms engaged pursuant to express written instructions from the Customer, Company shall use reasonable care in its selection of third parties, or in selecting the means, route and procedure to be followed in the handling, transportation, clearance and delivery of the shipment; advice by the Company that a particular person or firm has been selected to render services with respect to the goods, shall not be construed to mean that the Company warrants or represents that such person or firm will render such services nor does Company assume responsibility or liability for any actions(s) and/or inaction(s) of such third parties and/or its agents, and shall not be liable for any delay or loss of any kind, which occurs while a shipment is in the custody or control of a third party or the agent of a third party; all claims in connection with the Act of a third party shall be brought solely against such party and/or its agents; in connection with any such claim, the Company shall reasonably cooperate with the Customer, which shall be liable for any charges or costs incurred by the Company.</li>									
								</ul>
								<h3 style="text-align:left" >5- Quotations Not Binding</h3>
								<ul class="choose-us">
									<li>1. Quotations as to fees, rates of duty, freight charges, insurance premiums or other charges given by the Company to the Customer are for informational purposes only and are subject to change without notice; no quotation shall be binding upon the Company unless the Company in writing agrees to undertake the handling or transportation of the shipment at a specific rate or amount set forth in the quotation and payment arrangements are agreed to between the Company and the Customer.</li>
								</ul>
								<h3 style="text-align:justify">6- Reliance On Information Furnished</h3>
								<ul class="choose-us">
									<li>1. Customer acknowledges that it is required to review all documents and declarations prepared and/or filed with U.S. Customs & Border Protection, other Government Agency and/or third parties, and will immediately advise the Company of any errors, discrepancies, incorrect statements, or omissions on any declaration or other submission filed on Customers behalf;</li>
									<li>2. In preparing and submitting customs entries, export declarations, applications, security filings, documentation and/or other required data, the Company relies on the correctness of all documentation, whether in written or electronic format, and all information furnished by Customer; Customer shall use reasonable care to ensure the correctness of all such information and shall indemnify and hold the Company harmless from any and all claims asserted and/or liability or losses suffered by reason of the Customer’s failure to disclose information or any incorrect, incomplete or false statement by the Customer or its agent, representative or contractor upon which the Company reasonably relied. The Customer agrees that the Customer has an affirmative non-delegable duty to disclose any and all information required to import, export or enter the goods.</li>
									livery and/or storage or otherwise”.</li>
								</ul>
								<h3 style="text-align:justify">7- Declaring Higher Value To Third Parties</h3>
								<ul class="choose-us">
									<li>1. Third parties to whom the goods are entrusted may limit liability for loss or damage; the Company will request excess valuation coverage only upon specific written instructions from the Customer, which must agree to pay any charges therefore; in the absence of written instructions or the refusal of the third party to agree to a higher declared value, at Company’s discretion, the goods may be tendered to the third party, subject to the terms of the third party’s limitations of liability and/or terms and conditions of service.</li>
								</ul>
								<h3 style="text-align:justify">8- Insurance</h3>
								<ul class="choose-us">
									<li>1. Unless requested to do so in writing and confirmed to Customer in writing, Company is under no obligation to procure insurance on Customer’s behalf; in all cases, Customer shall pay all premiums and costs in connection with procuring requested insurance.</li>
								</ul>
								<h3 style="text-align:justify">9- Disclaimers; Limitation of Liability</h3>
								<ul class="choose-us">
									<li>1. Except as specifically set forth herein, Company makes no express or implied warranties in connection with its services;</li>
									<li>2. In connection with all services performed by the Company, Customer may obtain additional liability coverage, up to the actual or declared value of the shipment or transaction, by requesting such coverage and agreeing to make payment therefor, which request must be confirmed in writing by the Company prior to rendering services for the covered transaction(s).</li>
									<li>3. In the absence of additional coverage under (b) above, the Company’s liability shall be limited to the following:</li>
									<ul class="choose-us">
										<li>1. Where the claim arises from activities other than those relating to customs business, $50.00 per shipment or transaction, or</li>
										<li>2. Where the claim arises from activities relating to “Customs business,” $50.00 per entry or the amount of brokerage fees paid to Company for the entry, whichever is less;</li>
									</ul>
									<li>4. In no event shall Company be liable or responsible for consequential, indirect, incidental, statutory or punitive damages, even if it has been put on notice of the possibility of such damages, or for the acts of third parties.</li>
								</ul>
								<h3 style="text-align:justify">10- Advancing Money</h3>
								<ul class="choose-us">
									<li>1. All charges must be paid by Customer in advance unless the Company agrees in writing to extend credit to customer; the granting of credit to a Customer in connection with a particular transaction shall not be considered a waiver of this provision by the Company.</li>
								</ul>
								<h3 style="text-align:justify">11- Indemnification/Hold Harmless</h3>
								<ul class="choose-us">
									<li>1. The Customer agrees to indemnify, defend, and hold the Company harmless from any claims and/or liability, fines, penalties and/or attorneys’ fees arising from the importation or exportation of customers merchandise and/or any conduct of the Customer, including but not limited to the inaccuracy of entry, export or security data supplied by Customer or its agent or representative, which violates any Federal, State and/or other laws, and further agrees to indemnify and hold the Company harmless against any and all liability, loss, damages, costs, claims, penalties, fines and/or expenses, including but not limited to reasonable attorney’s fees, which the Company may hereafter incur, suffer or be required to pay by reason of such claims; in the event that any claim, suit or proceeding is brought against the Company, it shall give notice in writing to the Customer by mail at its address on file with the Company.</li>
								</ul>
								<h3 style="text-align:justify">12- C.O.D. or Cash Collect Shipments</h3>
								<ul class="choose-us">
									<li>1. Company shall use reasonable care regarding written instructions relating to “Cash/Collect on Deliver (C.O.D.)” shipments, bank drafts, cashier’s and/or certified checks, letter(s) of credit and other similar payment documents and/or instructions regarding collection of monies but shall not have liability if the bank or consignee refuses to pay for the shipment.</li>
								</ul>
								<h3 style="text-align:justify">12- C.O.D. or Cash Collect Shipments</h3>
								<ul class="choose-us">
									<li>1. Company shall use reasonable care regarding written instructions relating to “Cash/Collect on Deliver (C.O.D.)” shipments, bank drafts, cashier’s and/or certified checks, letter(s) of credit and other similar payment documents and/or instructions regarding collection of monies but shall not have liability if the bank or consignee refuses to pay for the shipment.</li>
								</ul>
								<h3 style="text-align:justify">13- Costs of Collection</h3>
								<ul class="choose-us">
									<li>1. In any dispute involving monies owed to Company, the Company shall be entitled to all costs of collection, including reasonable attorney’s fees and interest at 15% per annum or the highest rate allowed by law, whichever is less unless a lower amount is agreed to by Company.</li>
								</ul>								
								<h3 id="technology-2" style="text-align:left">14- General Lien and Right To Sell Customer's Property</h3>
								<ul class="choose-us">
									<li>1. Company shall have a general and continuing lien on any and all property of Customer coming into Company’s actual or constructive possession or control for monies owed to Company with regard to the shipment on which the lien is claimed, a prior shipment(s) and/or both;</li>
									<li>2. Company shall provide written notice to Customer of its intent to exercise such lien, the exact amount of monies due and owing, as well as any on-going storage or other charges; Customer shall notify all parties having an interest in its shipment(s) of Company’s rights and/or the exercise of such lien.</li>
									<li>3. Unless, within thirty days of receiving notice of lien, Customer posts cash or letter of credit at sight, or, if the amount due is in dispute, an acceptable bond equal to 110% of the value of the total amount due, in favor of Company, guaranteeing payment of the monies owed, plus all storage charges accrued or to be accrued, Company shall have the right to sell such shipment(s) at public or private sale or auction and any net proceeds remaining thereafter shall be refunded to Customer.</li>
								</ul>
								<h3 style="text-align:justify">15- No Duty To Maintain Records For Customer</h3>
								<ul class="choose-us">
									<li>1. Customer acknowledges that pursuant to Sections 508 and 509 of the Tariff Act, as amended, (19 USC §1508 and 1509) it has the duty and is solely liable for maintaining all records required under the Customs and/or other Laws and Regulations of the United States; unless otherwise agreed to in writing, the Company shall only keep such records that it is required to maintain by Statute(s) and/or Regulation(s), but not act as a “recordkeeper” or “recordkeeping agent” for Customer.</li>
								</ul>
								<h3 style="text-align:justify">16- Obtaining Binding Rulings, Filing Protests, etc.</h3>
								<ul class="choose-us">
									<li>1. Unless requested by Customer in writing and agreed to by Company in writing, Company shall be under no obligation to undertake any pre- or post Customs release action, including, but not limited to, obtaining binding rulings, advising of liquidations, filing of petition(s) and/or protests, etc.</li>
								</ul>								
								<h3 style="text-align:justify">17- Preparation and Issuance of Bills of Lading</h3>
								<ul class="choose-us">
									<li>1. Where Company prepares and/or issues a bill of lading, Company shall be under no obligation to specify thereon the number of pieces, packages and/or cartons, etc.; unless specifically requested to do so in writing by Customer or its agent and Customer agrees to pay for same, Company shall rely upon and use the cargo weight supplied by Customer.</li>
								</ul>								
								<h3 style="text-align:justify">18- No Modification or Amendment Unless Written</h3>
								<ul class="choose-us">
									<li>1. These terms and conditions of service may only be modified, altered or amended in writing signed by both Customer and Company; any attempt to unilaterally modify, alter or amend same shall be null and void.</li>
								</ul>								
								<h3 style="text-align:justify">19- Compensation of Company</h3>
								<ul class="choose-us">
									<li>1. The compensation of the Company for its services shall be included with and is in addition to the rates and charges of all carriers and other agencies selected by the Company to transport and deal with the goods and such compensation shall be exclusive of any brokerage, commissions, dividends, or other revenue received by the Company from carriers, insurers and others in connection with the shipment. On ocean exports, upon request, the Company shall provide a detailed breakout of the components of all charges assessed and a true copy of each pertinent document relating to these charges. In any referral for collection or action against the Customer for monies due the Company, upon recovery by the Company, the Customer shall pay the expenses of collection and/or litigation, including a reasonable attorney fee.</li>
								</ul>								
								<h3 style="text-align:justify">20- Severability</h3>
								<ul class="choose-us">
									<li>1. In the event any Paragraph(s) and/or portion(s) hereof is found to be invalid and/or unenforceable, then in such event the remainder hereof shall remain in full force and effect. Company’s decision to waive any provision herein, either by conduct or otherwise, shall not be deemed to be a further or continuing waiver of such provision or to otherwise waive or invalidate any other provision herein.</li>
								</ul>	
								<h3 style="text-align:justify">21- Governing Law; Consent to Jurisdiction and Venue</h3>
								<ul class="choose-us">
									<li>1. These terms and conditions of service and the relationship of the parties shall be construed according to the laws of the State of New York without giving consideration to principals of conflict of law. Customer and Company</li>
									<ul class"choose-us">
										<li>1. Irrevocably consent to the jurisdiction of the United States District Court and the State courts of New York;</li>
										<li>2. Agree that any action relating to the services performed by Company, shall only be brought in said courts;</li>
										<li>3. Consent to the exercise of in personam jurisdiction by said courts over it, and</li>
										<li>4. Further agree that any action to enforce a judgment may be instituted in any jurisdiction.</li>
									</ul>	
								</ul>
								<p style="text-align:justify">© Approved by the National Customs Brokers and Forwarders Association of America, Inc. (Revised 07/08)</p>								
                                <br>
						<!-- ]content -->
			</div>
       </section>
	   <!-- [footer -->
<div class="secondb">
   <div class="container">
      <div class="row-fluid" align="center">
              <a href="http://www.ciffa.com/" target="_blank"><img src="../img/footer/ciffalogo_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://cscb.ca/" target="_blank"><img src="../img/footer/cscb_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbp.gov/border-security/ports-entry/cargo-security/c-tpat-customs-trade-partnership-against-terrorism" target="_blank"><img src="../img/footer/ct-pat_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.iata.org/Pages/default.aspx" target="_blank"><img src="../img/footer/iata_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbsa-asfc.gc.ca/security-securite/pip-pep/menu-eng.html" target="_blank"><img src="../img/footer/pip_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="https://www.wcaworld.com/eng/home.asp" target="_blank"><img src="../img/footer/wca_03.png" alt="" style="padding: 0px 35px;"></a>
      </div>
    </div>
  </div>
      <footer id="footer">
    <div class="container">
      <div class="row">     
          <div class="container">
			<div class="row">		
				<div class="footer-copyright">
					© 2015 Delmar International Inc. 版权所有 | <a href="legal.html" target="_blank">法律</a> 
				</div>
			</div>
        </div>          
        </div>
      </div>
  </footer>
  <!-- ]end of footer -->
