---
name: "news"
title: "Delmar in the news"
desc: "现状及最新消息涉及到德尔玛的行业，以及，档案，营销工具，关于我们，德尔玛的YouTube频道"
keywords: "跨码头，货代，货代岗位，空运，整车业务，加拿大运输，北美卡车运输，报关，报关行，报关行，报关加拿大，报关蒙特利尔，墨西哥报关，报关中国，加拿大海关，运输经纪人，经纪人，经纪，货运，货运代理，货运车，货运代理，货运代理，货运代理加拿大，国际货代，运输，有效载荷，装载，货物，提单，负载，运输，运价，收费，货物运输，货物，货物管理，货物运输，货物率，货物报价，运营商，运营商，分销，物流，后勤，物流服务，国际物流，全球运输，全球物流解决方案，提供，供应，供应，跟踪，跟踪，交易，信息服务，咨询服务，空运，海运，保税仓库，公交车，集装箱服务，定制顾问，国内，出口服务，ACI，AMS，PARS，PAPS，进口服务，国际化，包装及装箱，游泳池汽车，火车，轮船代理，轮船，运输服务，货运，货车，危险品，航运，集装箱船，调度，发货，入库，出库，仓库，复位，的重新定位，进口，出口，销售，分布复杂，调度，货物运输，货物运输，货物托运，美国，加拿大，蒙特利尔，墨西哥，中国，台湾，越南，香港，菲律宾，巴西，柬埔寨，巴巴多斯，覆盖全球，厚德载物，可持续的行动，慈善，多式联运，灵活，个性化的解决方案，对时间敏感的货，供货，货源链，供应链解决方案，IATA，CIFFA，C_TPAT，画中画，WCA，世界货物，DCMS，采购订单，零担服务，白手套，整合，推出，配送能力，平板车，步甲板，滚磷灰石flecibility，在维，专业知识，经验，德尔玛国际公司，德尔玛，Delmarcargo，德尔马货物，德尔马组，德尔马国际，德尔玛组，太平洋，进口，出口，transload，RI，港口，帆船，集装箱，船舶，最新的消息，档案，新闻，出版，营销工具，德尔马小册子，德尔玛三折，地址，关于我们，YouTube上，德尔玛YouTube频道，频道，版权，市场营销，DCMS"
author: "Adriana Molano, Isabel Quintela, Margarita Mayoral"
format-detection: "telephone=no"
viewport: "width=device-width, initial-scale=1, maximum-scale=1" 

rootdir: ""
---
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.js"
type="text/javascript"></script>
<style type="text/css">
@import url("gfdynamicfeedcontrol.css");
   body {
     font-family: "Arial", sans-serif;
     font-size: 13px;
   }
   #main {
     width : 800px;
     min-width : 280px;
     margin-left: 30px;
   }
   input.search-input {
     width : 438px;
     color: #9CADD0;
     padding-left: 1px;
     padding-right: 1px;
     margin-bottom : 15px;
     margin-top : 10px;
   }
   #feedGadget {
     width : 440px;
     font-size: 16px;
     color: #9CADD0;
   }
   #feedGadgetHorizontal {
	font-family: 'Open Sans', Arial, sans-serif;
	font-weight: 300;
	line-height: 1.5em;
     width : 550px;
     font-size: 16px;
     color: #9CADD0;
     margin-top : 15px;
   }
   .gfg-title{
   visibility: hidden;
   }
   .gfg-subtitle{
   visibility:hidden;}
   .gf-title {
   font-size: 20px;
   text-transform: uppercase;
   margin-bottom: 22px;
   }
   .gf-result {
   margin-bottom: 22px;
   width : 400px;
   border-bottom: 1px solid #dcdcdc;
   text-decoration: none;
   }
   .gfg-list{
   margin-bottom: 22px;
   width: 360px;
   Text-decoration: none;
   }
   .gfg-listentry{
     margin-bottom: 55px;
	 padding-bottom: 22px;
   border-bottom: 1px solid #dcdcdc;
   width : 400px;
   }
   .gfg-listentry-highlight 
   .gfg-listentry-odd{
   margin-bottom: 20px;}
   .gf-author {
   font-size: 13px;
   color: #black;
   margin-bottom: 20px;
   }
   .gf-relativePublishedDate {
	font-size: 13px;
   color: #black;
   margin-bottom: 20px;
   }
   .gf-snippet {
   font-size: 13px;
   color: #000000;
   margin-bottom: 22px;
   text-transform: none;
   font-family: 'Arial', sans-serif;
   font-weight: 350;
   text-transform: lowercase;
   line-height: 1.6em;
   }
   .blog-entry {
   border-bottom: none;
   padding-bottom: 5px;
   }
   h3 {
   font-size: 20px;
   text-transform: uppercase;
   margin-bottom: 22px;
   color: #428bca;
   cursor: auto;
   }
   h3>h4 {
   font-size: 14px;
   color: #000000;
   margin-bottom: 18px;
   text-transform: none;
   font-family: 'Arial', sans-serif;
   font-weight: 300;
   line-height: 1.6em;
   }
   h3>h4>h5>h6>p {
   font-size: 13px;
   color: #000000;
   margin-bottom: 22px;
   text-transform: none;
   font-family: 'Arial', sans-serif;
   font-weight: 350;
   text-transform: lowercase;
   line-height: 1.6em;
   }
</style>
<script type="text/javascript">
function load() {
	var feed ="http://blog.delmarcargo.com/feed/";
	var options ={ 
		numResults : 3,
		displayTime : 6000,
		fadeOutTime : 500,
		scrollOnFadeOut : false,
		stacked : true
		}
	new GFdynamicFeedControl(feed, "feedGadgetHorizontal", options);
}
google.load("feeds", "1");
google.setOnLoadCallback(load);
</script>
<script type="text/javascript">
function load() {
	var feed ="http://blog.delmarcargo.com/feed/";
	var options ={ 
		numResults : 3,
		displayTime : 100000,
		fadeOutTime : 500,
		scrollOnFadeOut : false,
		horizontal : false,
		stacked : true,
		sortByDate : true,
		}
	new GFdynamicFeedControl(feed, "feedGadget", options);
}
google.load("feeds", "1");
google.setOnLoadCallback(load);
</script>
<script type="text/javascript">
    google.load("feeds", "1");
    function initialize() {
	 var feed = new google.feeds.Feed("http://blog.delmarcargo.com/category/English/feed/");
		 feed.setNumEntries(3);
      feed.load(function(result) {
        if (!result.error) {
          var container = document.getElementById("feed");
          for (var i = 0; i < result.feed.entries.length; i++) {
            var entry = result.feed.entries[i];
            var div = document.createElement("div");
			var h3 = document.createElement("h3");
			var h4 = document.createElement("h4");
			var h5 = document.createElement("h5");
			var h6 = document.createElement("h6");
			var p = document.createElement("p");
			var a = document.createElement("a");
			var href = document.createElement("href")
            div.appendChild(document.createTextNode(entry.title));
			a.setAttribute('class','gfg-listentry gfg-listentry-odd');
			a.setAttribute('href',entry.link);
			h3.appendChild(document.createTextNode(entry. title));
			h4.appendChild(document.createTextNode(entry.publishedDate));
			h5.appendChild(document.createTextNode(entry.author));
			h6.appendChild(document.createTextNode(entry.categories));
			p.appendChild(document.createTextNode(entry.contentSnippet));	
			container.appendChild(a).appendChild(h3).appendChild(h4).appendChild(h5).appendChild(h6).appendChild(p);		
          }
        }
      });
    }
    google.setOnLoadCallback(initialize);
	google.setOnLoadCallback(OnLoad);
	google.setOnLoadCallback(handler);
    </script>
	  <!-- [header --> 
<div class="header_top">
    <div class="container">
      <div id="contact-details">
        <ul>
          <li>简化物流</li>
        </ul>
      </div>
      <ul id="owl-tt-menu" class="owl-tt-menu">
		<li> <a href="#">中文</a> 
          <ul class="owl-tt-submenu">
            <li><a href="../en/{{this.name}}.html" >English</a></li>
            <li><a href="../sp/{{this.name}}.html" >Español</a></li>
            <li><a href="../pt/{{this.name}}.html" >Português</a></li>
            <li><a href="../fr/{{this.name}}.html" >Français</a></li>
          </ul>
        </li>
        <li> <a href="login-page.html" target="_blank" >登录</a>
        <ul class="owl-tt-submenu">
            <li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >外网登录</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
            <li><a href="aci-ams.html" >ACI-AMS</a></li>
            
          </ul>
          </li>
      </ul>
      <div class="social-top"> <a href="http://www.twitter.com/delmarcargo" target="_blank" class="fa fa-twitter"></a> <a href="http://www.facebook.com/delmarcargo" target="_blank" class="fa fa-facebook"></a> <a href="http://www.youtube.com/delmarcargo" target="_blank" class="fa fa-youtube"></a>    <a href="https://plus.google.com/+Delmarcargo" target="_blank" class="fa fa-gplus"></a> <a href="http://www.linkedin.com/company/delmar-international-inc." target="_blank" class="fa fa-github"></a> </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- Navigation -->
  <div id="nav">
    <div class="nav-sticky">
      <div class="container navbar navbar_ clearfix">
        <div class="navbar-inner">
          <div class=" row">
            <div class="owl-contener col-md-12  clearfix">
				<h1 class="brand fleft"><a href="index.html"><img src="../img/logo.png" alt=""></a><span>Delmar International Inc.</span></h1>
				<div class="cat-title"></div>
				<ul class="owl-menu menu-content">
               <li class="single-dropdown loginvisibility">  
                <a href="#">中文</a> 
          <ul class="owl-submenu" style="width: 100%;">
            <li><a href="../en/{{this.name}}.html" >English</a></li>
            <li><a href="../sp/{{this.name}}.html" >Español</a></li>
            <li><a href="../pt/{{this.name}}.html" >Português</a></li>
            <li><a href="../fr/{{this.name}}.html" >Français</a></li>
          </ul>
        </li>     
         <li class="single-dropdown loginvisibility">
						<a href="#">关注我们</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="http://www.twitter.com/delmarcargo" target="_blank" >Twitter</a></li>
							<li><a href="http://www.facebook.com/delmarcargo" target="_blank" >Facebook</a></li>
							<li><a href="http://www.youtube.com/delmarcargo" target="_blank" >Youtube</a></li>
							<li><a href="https://plus.google.com/+Delmarcargo" target="_blank" >Google + </a></li>
							<li><a href="https://www.linkedin.com/company/delmar-international-inc-" target="_blank" >Linkedin</a></li>
						</ul>
				</li>           
                    <li class="single-dropdown loginvisibility"> 
                    <a href="login-page.html">登录</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >外网登录</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
							<li><a href="aci-ams.html" >ACI-AMS</a></li>
						</ul>
                </li>
                <li class="single-dropdown"> 
                    <a href="services.html">核心服务</a>
                  <ul class="owl-submenu" style="width: 250px;">
						<li><a href="services.html#international" >国际货运管理</a></li>
						<li><a href="services.html#customs" >海关合规</a></li>
						<li><a href="services.html#ground" >货运</a></li>
						<li><a href="services.html#distribution" >仓储与配送</a></li>
						<li><a href="services.html#technology" >供应链管理</a></li>
					</ul>
                  </li>
              
                <li class="single-dropdown"> 
                    <a href="news.html"> 新闻与媒体</a>
                    <ul class="owl-submenu" style="width: 100%;">
									<li><a href="news.html" >新闻</a></li>
									<li><a href="news.html#publications" >营销手段</a></li>
									<li><a href="news.html#press" >传媒报道</a></li>
									<li><a href="news.html#videos" >视频</a></li>
								</ul>
                </li>
              
                <li class="single-dropdown"> <a href="our-company.html">关于我们 </a>
               <ul class="owl-submenu" style="width: 100%;">
								<li><a href="our-company.html" >全球覆盖范围</a></li>
								<li><a href="our-company.html#careers" >事业</a></li>
								<li><a href="our-company.html#commitment" >帮助他人</a></li>
								<li><a href="our-company.html#goinggreen" >可持续性行动</a></li>
								<li><a href="our-company.html#ourcompany" >公司使命</a></li>
							
					</ul>
              </li>
              
              
                <li class="single-dropdown">
                    <a href="links.html">在线工具</a>
                     <ul class="owl-submenu" style="width: 100%;">
							
								<li><a href="links.html#canada" >加拿大</a></li>
								<li><a href="links.html#usa" >美国</a></li>	
					</ul>  
                  </li>
              
                <li class="single-dropdown"><a href="contact-delmar.html">联系我们
                  <div class="skewed_slide"></div>
                  </a>
                </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
       <!-- ]header -->
<div class="content" style="background-color:#FFFFFF;">   
	
    <section id="latest" data-title="News">		
			<div class="d_section d_news_latest" >
				<div class="d_top parallax">
					<div class="container">
						<div class="d_titlebar">
							
								<h1>新闻与媒体</h1>
								</div>
					</div>
				</div></div>
	<div class="d_dividerbar cyan" ></div>	
    <div class="d_dividerbar white"></div>    
   
   
    <div class="container">	
            <div class="row">
                <div class="col-lg-2"></div>
                
  <div class="col-lg-8">
                    
                    <div class="col-lg-8">
                    <div class="all-entrys" >
						<div class="entry-header ">
                                <h2>新闻</h2>
                        </div>
                        <div class="blog-entry">
							<div id="feed"> 
							</div>
							<div class="entry-content">
                                <div class="entry-content-details">
                                    <ul>
                                    </ul>
                                </div>
                            </div>                   
						</div>
                    </div>   
                </div>              
                

                <div class="col-lg-4">
                    <div class="sidebar">
<!--
                        <div class="widget">
                            <h3 class="widget-title">Archives</h3>
                            <div class="recent-post">
                                
                                <h4><a class="btn" role="button" href="#" target="_blank" >&nbsp;&nbsp;&nbsp;May 2015 »&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></h4>
                                
                            </div>
                            <div class="recent-post">
                                
                                <h4><a class="btn" role="button" href="#" target="_blank" width="133">&nbsp;&nbsp;&nbsp;April 2015 »&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></h4>
                                
                            </div>
                            <div class="recent-post">
                                
                                <h4><a class="btn" role="button" href="#" target="_blank" width="133">&nbsp;&nbsp;March 2015 »&nbsp;&nbsp;&nbsp;</a></h4>
                                
                            </div>
							<div class="recent-post">
								<h4><a class="btn" role="button" href="#" target="_blank" width="133">February 2015 »</a></h4>
							</div>
                        </div>
-->
						<div class="span3" style="padding-top: 90px;">
						
                            <div class="widget" id="twitter_update_list">
							<h3><a href="https://twitter.com/delmarcargo">最新的鸣叫</a></h3>
								<a class="twitter-timeline" href="https://twitter.com/DelmarCargo" width="240" height="600" font-family="'Arial', sans-serif" line-height="1.6em" data-widget-id="638425832348778496" data-chrome="noheader">Tweets by @DelmarCargo</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							<ul class="twitter_widget" data-user="teslathemes" data-posts="2">
								<li>
							</ul>    
						</div>
                </div>
 </div>
    </div>
   </div>
                <div class="col-lg-2"></div>
                    
                    
	  </div>
      </div>
      </section>
   <!-- latests -->
	<section id="publications" style="background-color:#FFFFFF;">
		<div class="d_dividerbar cyan" >  </div>
		<div class="d_section d_news_publications">
				<div class="d_top parallax">
					<div class="container">
						<div class="d_titlebar" >
							<h1 id="publications" name="publications">营销手段</h1>
						</div>
					</div>
				</div>
	
			<div class="d_dividerbar cyan" >  </div>	
			<div class="d_dividerbar white"></div>
	
            
                       <div class="container" >
						<div class="col-lg-2"></div>
						<div class="col-lg-8">
								<h2 >营销手段</h2>
								<p> 我们非常乐意为您提供有关德玛国际物流有限公司的营销资料的下载。
										<br><a href="legal.html">任何使用都要遵循德玛的条款和条件。.</a></p>
														
						</div>
						<div class="col-lg-2"></div>
					</div>   
                 <div class="container">
                <div class="col-lg-2"></div>
					<div class="col-lg-8">
                        <div class="col-lg-4" style="text-align:center;">
                        
										<a href="http://www.delmarcargo.com/sales/marketing/pdf/DelmarWorldwide_EN.pdf" target="_blank"><img src="../img/services/global.jpg"  width="146px" height="198px" border="0" ></a>
									
								
                                             <div class="d_location">
										
										<p><strong>]  联系地址列表</strong><br>[pdf | 1 MB]</p>
										
									</div>
                                             </div>
					
                                             
                                             <div class="col-lg-4" style="text-align:center;">  
                                 
									
										<a href="http://www.delmarcargo.com/sales/marketing/pdf/Brochure_EN.pdf" target="_blank"><img src="../img/services/brochure.jpg"  width="146px" height="198px" border="0" ></a>
									
							
                            <div class="d_location">
										
										<p><strong>通用宣传册</strong><br>[pdf | 5 MB]</p>
										
									</div>
                                  
                                    
								</div>
                        
                        
                                 <div class="col-lg-4" style="text-align:center;">
                                          
									
										<a href="http://www.delmarcargo.com/sales/marketing/pdf/2015_Trifold_EN.pdf" target="_blank"><img src="../img/services/trifold.jpg"  width="146px" height="198px" border="0" ></a>
								
							  
                                             <div class="d_location">
										
										<p><strong>通用三折页</strong><br>[pdf | 2.5 MB]</p>
										
									</div></div>
                                </div>
                    
                    <div class="col-lg-2"></div>
              
                     </div>
                                      
            
            <div class="container">
		
                <div class="col-lg-2"></div>
					<div class="col-lg-8" style="text-align:center;">  
                                        <div class="pub-entry">
											
										<h4 style="text-align=center;">查看全部 <a href="http://www.delmarcargo.com/sales/marketing/" target="_blank">营销工具</a></h4>
										
									
										</div>
                                    </div>
                    <div class="col-lg-2"></div>
                  
                        </div>
                 </div>
      </section>
			
		 <!-- publications -->
	<section id="press" style="background-color:#FFFFFF;">
		<div class="d_dividerbar" >  </div>
		<div class="d_section d_news_press" >
			<div class="d_top parallax">
				<div class="container">
					<div class="d_titlebar">
						<h1 id="press" name="press">传媒报道 </h1>
					</div>
				</div>
			</div>
			<div class="d_dividerbar" >  </div>
			<div class="d_dividerbar white" >  </div>
			<div class="container">
                <div class="col-lg-2"></div>
					<div class="col-lg-8">
                        <h2> 阅读关于我们</h2>
                        <p>我们非常高兴随时为您提供有关德玛国际物流的新闻报道和广告下载。
										<br><a href="legal.html">使用时均须遵守德玛公司媒体材料使用条款与条件</a></p>						
						</div>
						<div class="col-lg-2"></div>
					</div>   
                        <div class="container">
                <div class="col-lg-2"></div>
					<div class="col-lg-8">
                        <div class="col-lg-4" style="text-align:center;">
										<a href="http://www.scribd.com/doc/259280893/Technology-Key-for-forwarders-in-Mexico" target="_blank"><img src="../img/services/cover3.jpg"  width="146px" height="198px" border="0" ></a>
                                             <div class="d_location">
										<p style="color:#b9b9b9;"><strong>2015</strong></p>
									</div>
                                             </div>
                                             <div class="col-lg-4" style="text-align:center;">  
										<a href="http://www.scribd.com/doc/248546814/Delmar-Internacional-inaugura-corporativo-en-Mexico" target="_blank"><img src="../img/services/cover2.jpg"  width="146px" height="198px" border="0" ></a>
                            <div class="d_location">
										<p style="color:#b9b9b9;"><strong>2014</strong></p>
									</div>
								</div>
                                 <div class="col-lg-4" style="text-align:center;">
										<a href="http://www.scribd.com/doc/247266120/Empresa-Internacional-Inaugura-Corporativo-en-Mexico" target="_blank"><img src="../img/services/cover1.jpg"  width="146px" height="198px" border="0" ></a>
                                             <div class="d_location">
										<p style="color:#b9b9b9;"><strong>2014</strong></p>
									</div></div>
                                </div>
                    <div class="col-lg-2"></div>
                     </div>
                     			 <div class="container">
                <div class="col-lg-2"></div>
					<div class="col-lg-8" style="text-align:center;">  
                                        <div class="pub-entry">
										<h4 style="text-align=center;">查看全部 Delmar related articles on <a href="http://www.scribd.com/delmarcargo" target="_blank">Scribd.</a></h4>
										</div>
                                    </div>
                    <div class="col-lg-2"></div>
                                          </div>
									</div>
	</section> <!-- press -->
	
    <section id="video" style="background-color:#FFFFFF;">
		<div class="d_dividerbar cyan" >  </div>
		<div class="d_section d_news_video" >
			<div class="d_top parallax">
				<div class="container">
					<div class="d_titlebar">
						<h1 id="video" name="video">视频</h1>
					</div>
				</div>
			</div>
			<div class="d_dividerbar cyan" >  </div>
			<div class="d_dividerbar white" >  </div>
			<div class="container">
				<div class="row">
                 <div class="col-lg-2"></div>
					<div class="col-lg-8">
						<div class="all-entrys">
							<div class="blog-entry" style="border-bottom:none;">
								<div class="entry-header">
									<h1><a href="single-post.html"></a></h1>
								</div>
								<div class="entry-cover">
									<h3>物流革新--德玛国际物流服务</h3>
									<iframe  width="560" height="315"   src="https://www.youtube.com/embed/kgxcB5T-Nrg" frameborder="0" allowfullscreen></iframe>
								</div>
								<div class="entry-content">
									<div class="entry-content-details">
										<ul>
											<li class="details-date"><span>Date:</span> March 2015</li>
											<li class="details-author"><span>Author:</span> Admin</li>
											<li class="details-comments"><span>Comments:</span> <a href="https://www.youtube.com/all_comments?v=kgxcB5T-Nrg">(1)</a></li>
											<li class="details-tags"><span>Tags:</span> <a href="https://www.youtube.com/watch?v=OaSXosapGSU">Delmar</a>, <a href="https://www.youtube.com/watch?v=4cIdwR6DY7w">Cargo</a>, <a href="https://www.youtube.com/watch?v=kgxcB5T-Nrg">Logistics</a>, <a href="href="https://www.youtube.com/watch?v=oKrvo_F4xQg"">Freight</a> </li>
										</ul>
									</div>
									<p> 选择最高效与最具性价比的运输方式对我们来说其实是一个挑战。在德玛，我们将与您携手共同创造物流行业内最具灵活性、可靠性以及可定制服务的全新方案。</p>
								</div>
								<div class="entry-footer">
									<a href="https://www.youtube.com/user/Delmarcargo" class="d_button5">我们的YouTube频道</a>
								</div>
							</div>
						</div>
					</div>
                   <div class="col-lg-2"></div>
				</div>
			</div>
		</div>
        
	  </section> <!-- video -->
</div>


<!-- video -->
{{#content "script"}}
<!-- [footer -->
<div class="secondb">
   <div class="container">
      <div class="row-fluid" align="center">
              <a href="http://www.ciffa.com/" target="_blank"><img src="../img/footer/ciffalogo_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://cscb.ca/" target="_blank"><img src="../img/footer/cscb_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbp.gov/border-security/ports-entry/cargo-security/c-tpat-customs-trade-partnership-against-terrorism" target="_blank"><img src="../img/footer/ct-pat_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.iata.org/Pages/default.aspx" target="_blank"><img src="../img/footer/iata_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbsa-asfc.gc.ca/security-securite/pip-pep/menu-eng.html" target="_blank"><img src="../img/footer/pip_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="https://www.wcaworld.com/eng/home.asp" target="_blank"><img src="../img/footer/wca_03.png" alt="" style="padding: 0px 35px;"></a>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div class="container">
      <div class="row">     
          <div class="container">
			<div class="row">
				<div class="footer-copyright">
					© 2015 Delmar International Inc. 版权所有 | <a href="legal.html" target="_blank">法律</a>
				</div>
			</div>
        </div>
        </div>
      </div>
  </footer>
  <!-- ]end of footer -->
 
{{/content}}
