---
name: "links"
title: "Liens"
desc: "Importer des marchandises au Canada et aux États-Unis, déposer vos manifestes électroniquement 24/7 , tout en respectant Advance Commercial Information (CCI ) de l'initiative de l'ASFC et les règlements Automated Manifest System américain ( AMS) . "
keywords: "cross dock, d'expédition de fret, les emplois d'expédition de fret, le fret aérien, les services de transport de lots complets, le transport routier au Canada, en Amérique du Nord camionnage, le courtage en douanes, courtier en douane, les courtiers en douane, de courtage en douane au Canada, courtage en douane de Montréal, les coutumes Mexique, les douanes chinoises, les douanes canadiennes, transport courtier, courtier, de courtage, de fret, agent de fret, wagon de marchandises, le transitaire, transitaires, d'expédition de fret au Canada, internationale d'expédition de fret, l'expédition, la charge utile, le chargement, l'expédition, connaissement, la charge, le transport, taux de fret, charge, fret, le fret , gestion du fret, le transport de fret, le taux de cargaison, devis, le transporteur, les transporteurs, la distribution, la logistique, la logistique, les services de logistique, logistique globale, transport mondial, des solutions globales de logistique, la fourniture, la fourniture, l'approvisionnement, le suivi, la piste, le commerce, les services d'information , des services, de l'air, l'océan, entrepôt de stockage, bus, services de conteneurs, consultants personnalisés, services domestiques, l'exportation, l'ACI, AMS, consulter SEA, PAPS, les services d'importation, internationale, d'emballage et de mise en caisse, la voiture de la piscine, le rail, les agents de navires à vapeur, paquebot , les services de camionnage, camionnage, camion, matières dangereuses, l'expédition, navire porte-conteneurs, l'expédition, l'expédition, le stockage, l'entreposage, entrepôt, repositionner, repositing, l'importation, l'exportation, la commercialisation, les distributions complexes, expédition, transport de marchandises, les biens portent, l'expédition des marchandises, USA, Canada, Montréal, Mexique, Chine, Taiwan, Vietnam, Hong Kong, aux Philippines, le Brésil, le Cambodge, la Barbade, la couverture mondiale, l'engagement social, une action durable, la charité, multimodal, de la flexibilité, des solutions personnalisées, des marchandises sensibles de temps, la fourniture, l'offre chaîne, des solutions de chaîne d'approvisionnement, l'IATA, l'ATIC, C_TPAT, PIP, AOC, fret mondial, DCMS, bons de commande, les services de LTL, gants blancs, consolidation, déployer, capacités de distribution, à plat, les ponts étape, roll-tite flecibility, plus de dimensions , l'expertise, l'expérience, Delmar International Inc., Delmar, Delmarcargo, fret Delmar, groupe Delmar, Delmar International, Delmar-groupe, transpacifique, l'importation, l'exportation, le transbordement, RI, le port, la voile, le conteneur, navire, ACI, AMS, l'ASFC , environnement de production, l'environnement de la formation, les données sur le fret maritime, le CBP, mobile, tarif océan, Accès Tarif Formulaire de demande"
author: "Adriana Molano, Isabel Quintela, Margarita Mayoral"
format-detection: "telephone=no"
viewport: "width=device-width, initial-scale=1, maximum-scale=1" 
rootdir: ""
---
  <!-- [header --> 
       <div class="header_top">
    <div class="container">
      <div id="contact-details">
        <ul>
          <li>La logistique simplifiée</li>
        </ul>
      </div>
      <ul id="owl-tt-menu" class="owl-tt-menu">
        <li> <a href="#">Français</a>
          <ul class="owl-tt-submenu">
            <li><a href="../en/{{this.name}}.html" >English</a></li>
            <li><a href="../sp/{{this.name}}.html" >Español</a></li>
            <li><a href="../pt/{{this.name}}.html" >Português</a></li>
            <li><a href="../ch/{{this.name}}.html" >中文</a></li>
         </ul>
        </li>
        <li> <a href="login-page.html" target="_blank" >Connexion</a>
            <ul class="owl-tt-submenu">
            <li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
            <li><a href="aci-ams.html" >ACI-AMS</a></li>
            
          </ul>
            
        </li>
      </ul>
      <div class="social-top"> <a href="http://www.twitter.com/delmarcargo" target="_blank" class="fa fa-twitter"></a> <a href="http://www.facebook.com/delmarcargo" target="_blank" class="fa fa-facebook"></a> <a href="http://www.youtube.com/delmarcargo" target="_blank" class="fa fa-youtube"></a>    <a href="https://plus.google.com/+Delmarcargo" target="_blank" class="fa fa-gplus"></a> <a href="http://www.linkedin.com/company/delmar-international-inc-" target="_blank" class="fa fa-github"></a> </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- Navigation -->
  <div id="nav">
    <div class="nav-sticky">
      <div class="container navbar navbar_ clearfix">
        <div class="navbar-inner">
          <div class=" row">
            <!--============================== OWL MENU =================================-->
            <div class="owl-contener col-md-12  clearfix">
              <!-- Logo -->
             <h1 class="brand fleft"><a href="index.html"><img src="../img/logo.png" alt=""></a><span>Delmar International Inc.</span></h1>
             <div class="cat-title"></div>
              <ul class="owl-menu menu-content">
                  				<li class="single-dropdown loginvisibility">
						<a href="#">Français</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="../en/{{this.name}}.html" >English</a></li>
							<li><a href="../sp/{{this.name}}.html" >Español</a></li>
							<li><a href="../pt/{{this.name}}.html" >Português</a></li>
							<li><a href="../ch/{{this.name}}.html" >中文</a></li>
						</ul>
				</li>
				<li class="single-dropdown loginvisibility">
						<a href="#">Follow Us</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="http://www.twitter.com/delmarcargo" target="_blank" >Twitter</a></li>
							<li><a href="http://www.facebook.com/delmarcargo" target="_blank" >Facebook</a></li>
							<li><a href="http://www.youtube.com/delmarcargo" target="_blank" >Youtube</a></li>
							<li><a href="https://plus.google.com/+Delmarcargo" target="_blank" >Google + </a></li>
							<li><a href="https://www.linkedin.com/company/delmar-international-inc-" target="_blank" >Linkedin</a></li>
						</ul>
				</li>
                  
                  
                               <li class="single-dropdown loginvisibility"> 
					<a href="login-page.html">Connexion</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
							<li><a href="aci-ams.html" >ACI-AMS</a></li>
						</ul>
                </li>
                <li class="single-dropdown"> 
					<a href="services.html">Services de base</a>
					<ul class="owl-submenu" style="width: 250px;">
						<li><a href="services.html#transitinternational" >Transit international</a></li>
						<li><a href="services.html#conformitedouaniere" >Services de conformité douanière</a></li>
						<li><a href="services.html#servicesterrestres" >Services terrestres</a></li>
						<li><a href="services.html#entreposagedistribution" >Entreposage et distribution</a></li>
						<li><a href="services.html#technologie" >Notre technologie</a></li>
					</ul>
					
                </li>
                <li class="single-dropdown"> 
					<a href="news.html">Nouvelles</a>
				  <ul class="owl-submenu" style="width: 100%;">
									<li><a href="news.html#nouvelles" >Dernières Nouvelles</a></li>
									<li><a href="news.html#publications" >Publications</a></li>
									<li><a href="news.html#press" >Dans la presse</a></li>
									<li><a href="news.html#video" >Vidéos</a></li>
								</ul>
                </li>
				<li class="single-dropdown"> <a href="our-company.html">Notre compagnie</a>
				  <ul class="owl-submenu" style="width: 100%;">
								<li><a href="our-company.html#couverture" >Couverture mondiale</a></li>
								<li><a href="our-company.html#carrieres" >Carrières</a></li>
								<li><a href="our-company.html#engagement" >Engagement communautaire</a></li>
								<li><a href="our-company.html#goinggreen" >Solutions durables</a></li>
								<li><a href="our-company.html#mission" >Énoncé de mission</a></li>
							
					</ul>
                </li>
                <li class="single-dropdown"><a href="links.html">Liens</a>
                 <ul class="owl-submenu" style="width: 100%;">
							
								<li><a href="links.html#canada" >Canada</a></li>
								<li><a href="links.html#usa" >États-Unis</a></li>	
					</ul>  
                </li>
                <li class="single-dropdown"><a href="contact-delmar.html">Contactez-nous
                  <div class="skewed_slide"></div>
                  </a>
                </li>                
               </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
       <!-- ]header -->
			<section id="aciams" data-title="ACI-AMS" style="background-color:#FFFFFF;" >
			<div class="d_section d_links_aciams" >
				<div class="d_top parallax">
					<div class="container" >
						<div class="d_titlebar">
								<h1>IPEC-AMS</h1>
								<p></p>
						</div>
					</div>
				</div>
	
                 	<div class="d_dividerbar cyan" ></div>	
				    <div class="d_dividerbar white"></div>
  
                
                
                
                
                
                
				<div class="container"  style="background-color:#FFFFFF;" >                

                <div class="container">		
					<div class="col-lg-2"></div>
					<div class="col-lg-8">
							<h2 style="text-align:left"></h2>
						<h3 style="text-align:left"></h3>
						<p style="text-align:justify">Importez des marchandises au Canada et aux États-Unis, remplissez vos manifestes par voie électronique le jour comme la nuit, tout en vous conformant à l'Initiative relative à l'information préalable sur les expéditions commerciales (IPEC) de l'Agence des services frontaliers du Canada (ASFC) et aux règlements de l’Automated Manifest System (AMS) des États-Unis.</p>
						<p style="text-align:justify"></p>                        
					</div>
					<div class="col-lg-2"></div>
				</div>
					<div class="container">
					<div class="container">						
							<div class="row">
                           <div class="col-lg-2"></div>
						<div class="col-lg-8">                           
								<div class="col-lg-5 boxes-aciams" >
									<h3>Environnement de production</h3>                                    
                                     <div class="contact-box3">           
                    <form class="contact-box3-form" action="https://www.forwarderlogic.com/scripts/fl.dll/Flogic.exe?33,DELMAR" id="aciams_form" method="post" name="aciams" target="_blank" >
                            <input type="text" name="name" class="contact-box3-line" placeholder="ID de l'utilisateur">
                            <input type="text" name="email" class="contact-box3-line" placeholder="Mot de passe">
                        <input type="submit" id="sendRequest" value="Ouverture de session" class="button-3 button-center" name="submit_action">
                    </form>
        </div>                                    
								</div>
                            
                            
                                <div class="col-lg-2"></div>
                            
                            
                            
								<div class="col-lg-5 boxes-aciams">
																		<h3>Environnement de formation</span></h3>
                                                                           <div class="contact-box3">           
                    <form class="contact-box3-form" action="https://betaweb.forwarderlogic.com/scripts/fl.dll/Flogic.exe?33,Delmar" id="aciams_form" method="post" name="aciams" target="_blank" >
                            <input type="text" name="name" class="contact-box3-line" placeholder="ID de l'utilisateur">
                            <input type="text" name="email" class="contact-box3-line" placeholder="Mot de passe">
                        <input type="submit" id="sendRequest" value="Ouverture de session" class="button-3 button-center" name="submit_action">
                    </form>
        </div>																			
								</div>
                            
                            
                            
                            
                            
							</div>  
						<div class="col-lg-2"></div>
					</div>
                        </div>
                        </div>

    
                    <div class="cotainer" style="padding-top:30px;">
                           <div class="col-lg-2"></div>
						<div class="col-lg-8">
                        									<p style="text-align:justify">*Si vous avez besoin de l'accès a La plate-forme de l'AMS s.v.p. nous envoyer un courriel:  <a href="mailto:aci_ams@delmarcargo.com">aci_ams@delmarcargo.com</a></p>
				</div>
                 <div class="col-lg-2"></div>
                </div>

                </div>
			</div>
            </div>
		</div>
        </section> 
		<div class="d_dividerbar white"></div>
		<!-- [footer -->
<div class="secondb">
   <div class="container">
      <div class="row-fluid" align="center">
              <a href="http://www.ciffa.com/?lang=fr" target="_blank"><img src="../img/footer/ciffalogo_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://cscb.ca/" target="_blank"><img src="../img/footer/cscb_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbp.gov/border-security/ports-entry/cargo-security/c-tpat-customs-trade-partnership-against-terrorism" target="_blank"><img src="../img/footer/ct-pat_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.iata.org/Pages/default.aspx" target="_blank"><img src="../img/footer/iata_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbsa-asfc.gc.ca/security-securite/pip-pep/menu-fra.html" target="_blank"><img src="../img/footer/pip_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="https://www.wcaworld.com/eng/home.asp" target="_blank"><img src="../img/footer/wca_03.png" alt="" style="padding: 0px 35px;"></a>
      </div>
    </div>
  </div>  
      <footer id="footer">
    <div class="container">
      <div class="row">     
          <div class="container">
			<div class="row">			
				<div class="footer-copyright">
					© 2015 Delmar International Inc. Tous Droits Réservés | <a href="legal.html" target="_blank">Légal</a>   
				</div>
			</div>
        </div>          
        </div>
      </div>
  </footer>
  <!-- ]end of footer -->
		
