---
name: "index"
title: "Bienvenue au Delmar International Inc"

desc: "Fournisseur mondial de courtage en douane, transitaires , logistique, entreposage , avancée , de gestion du chargement , de suivi , de conseil et d'information " 
keywords: "Cross dock, d'expédition de fret, les emplois d'expédition de fret, le fret aérien, les services de transport de lots complets, le Canada camionnage, l'Amérique du Nord camionnage, le courtage en douane, les courtiers en douane, les courtiers en douane, de courtage en douane au Canada, courtage en douane de Montréal, les coutumes Mexique, douanières Chine, Douanes Canada, courtier en transport, courtier, de courtage, de fret, agent de fret, wagon de marchandises, le transitaire, transitaires, d'expédition de fret au Canada, d'expédition de fret international, l'expédition, la charge utile, le chargement, l'expédition, connaissement, la charge, le transport, taux de fret, charge, fret, fret, gestion du fret, le transport de fret, le taux de cargaison, devis, le transporteur, les transporteurs, la distribution, la logistique, la logistique, les services de logistique, logistique globale, transport mondial, des solutions globales de logistique, la fourniture, la fourniture, l'approvisionnement, le suivi, la piste, le commerce, l'information services, services de consultation, l'air, l'océan, entrepôt de stockage, bus, services de conteneurs, consultants personnalisés, des services d'exportation domestiques, ACI, AMS, Pars, PAPS, services d'importation, les agents internationale, d'emballage et de mise en caisse, piscine automobiles, ferroviaires, paquebot, paquebot, des services de camionnage, camionnage, camion, matières dangereuses, l'expédition, navire porte-conteneurs, l'expédition, l'expédition, le stockage, l'entreposage, entrepôt, repositionner, repositing, l'importation, l'exportation, la commercialisation, les distributions complexes, expédition, transport de marchandises, les biens portent, l'expédition des marchandises , USA, Canada, Montréal, Mexique, Chine, Taiwan, Vietnam, Hong Kong, aux Philippines, le Brésil, le Cambodge, la Barbade, la couverture mondiale, l'engagement social, une action durable, la charité, multimodal, de la flexibilité, des solutions personnalisées, des marchandises sensibles de temps, l'offre, la chaîne d'approvisionnement, des solutions de chaîne d'approvisionnement, l'IATA, l'ATIC, C_TPAT, PIP, AOC, fret mondial, DCMS, bons de commande, les services de LTL, gants blancs, consolidation, déployer, capacités de distribution, à plat, les ponts étape, roll-tite flecibility, plus dimensionnelle, expertise, l'expérience, Delmar International Inc., Delmar, Delmarcargo, fret Delmar, groupe Delmar, Delmar International, Delmar-groupe, transpacifique, l'importation, l'exportation, le transbordement, RI, le port, la voile, le conteneur, navire "
jsfile: "index.js"
author: "Adriana Molano, Isabel Quintela, Margarita Mayoral"
format-detection: "telephone=no"
viewport: "width=device-width, initial-scale=1, maximum-scale=1" 
rootdir: ""
---
  <!-- [header --> 
       <div class="header_top">
    <div class="container">
      <div id="contact-details">
        <ul>
          <li>La logistique simplifiée</li>
        </ul>
      </div>
      <ul id="owl-tt-menu" class="owl-tt-menu">
        <li> <a href="#">Français</a>
          <ul class="owl-tt-submenu">
            <li><a href="../en/{{this.name}}.html" >English</a></li>
            <li><a href="../sp/{{this.name}}.html" >Español</a></li>
            <li><a href="../pt/{{this.name}}.html" >Português</a></li>
            <li><a href="../ch/{{this.name}}.html" >中文</a></li>
         </ul>
        </li>
        <li> <a href="login-page.html" target="_blank" >Connexion</a>
            <ul class="owl-tt-submenu">
            <li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
            <li><a href="aci-ams.html" >ACI-AMS</a></li>
            
          </ul>
            
        </li>
      </ul>
      <div class="social-top"> <a href="http://www.twitter.com/delmarcargo" target="_blank" class="fa fa-twitter"></a> <a href="http://www.facebook.com/delmarcargo" target="_blank" class="fa fa-facebook"></a> <a href="http://www.youtube.com/delmarcargo" target="_blank" class="fa fa-youtube"></a>    <a href="https://plus.google.com/+Delmarcargo" target="_blank" class="fa fa-gplus"></a> <a href="http://www.linkedin.com/company/delmar-international-inc-" target="_blank" class="fa fa-github"></a> </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- Navigation -->
  <div id="nav">
    <div class="nav-sticky">
      <div class="container navbar navbar_ clearfix">
        <div class="navbar-inner">
          <div class=" row">
            <!--============================== OWL MENU =================================-->
            <div class="owl-contener col-md-12  clearfix">
              <!-- Logo -->
             <h1 class="brand fleft"><a href="index.html"><img src="../img/logo.png" alt=""></a><span>Delmar International Inc.</span></h1>
             <div class="cat-title"></div>
              <ul class="owl-menu menu-content">
                  				<li class="single-dropdown loginvisibility">
						<a href="#">Français</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="../en/{{this.name}}.html" >English</a></li>
							<li><a href="../sp/{{this.name}}.html" >Español</a></li>
							<li><a href="../pt/{{this.name}}.html" >Português</a></li>
							<li><a href="../ch/{{this.name}}.html" >中文</a></li>
						</ul>
				</li>
				<li class="single-dropdown loginvisibility">
						<a href="#">Follow Us</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="http://www.twitter.com/delmarcargo" target="_blank" >Twitter</a></li>
							<li><a href="http://www.facebook.com/delmarcargo" target="_blank" >Facebook</a></li>
							<li><a href="http://www.youtube.com/delmarcargo" target="_blank" >Youtube</a></li>
							<li><a href="https://plus.google.com/+Delmarcargo" target="_blank" >Google + </a></li>
							<li><a href="https://www.linkedin.com/company/delmar-international-inc-" target="_blank" >Linkedin</a></li>
						</ul>
				</li>
                  
                  
                               <li class="single-dropdown loginvisibility"> 
					<a href="login-page.html">Connexion</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
							<li><a href="aci-ams.html" >ACI-AMS</a></li>
						</ul>
                </li>
                <li class="single-dropdown"> 
					<a href="services.html">Services de base</a>
					<ul class="owl-submenu" style="width: 250px;">
						<li><a href="services.html#transitinternational" >Transit international</a></li>
						<li><a href="services.html#conformitedouaniere" >Services de conformité douanière</a></li>
						<li><a href="services.html#servicesterrestres" >Services terrestres</a></li>
						<li><a href="services.html#entreposagedistribution" >Entreposage et distribution</a></li>
						<li><a href="services.html#technologie" >Notre technologie</a></li>
					</ul>
					
                </li>
                <li class="single-dropdown"> 
					<a href="news.html">Nouvelles</a>
				  <ul class="owl-submenu" style="width: 100%;">
									<li><a href="news.html#nouvelles" >États-Unis</a></li>
									<li><a href="news.html#publications" >Publications</a></li>
									<li><a href="news.html#press" >Dans la presse</a></li>
									<li><a href="news.html#video" >Vidéos</a></li>
								</ul>
                </li>
				<li class="single-dropdown"> <a href="our-company.html">Notre compagnie</a>
				  <ul class="owl-submenu" style="width: 100%;">
								<li><a href="our-company.html#couverture" >Couverture mondiale</a></li>
								<li><a href="our-company.html#carrieres" >Carrières</a></li>
								<li><a href="our-company.html#engagement" >Engagement communautaire</a></li>
								<li><a href="our-company.html#goinggreen" >Solutions durables</a></li>
								<li><a href="our-company.html#mission" >Énoncé de mission</a></li>
							
					</ul>
                </li>
                <li class="single-dropdown"><a href="links.html">Liens</a>
                 <ul class="owl-submenu" style="width: 100%;">
							
								<li><a href="links.html#canada" >Canada</a></li>
								<li><a href="links.html#usa" >États-Unis</a></li>	
					</ul>  
                </li>
                <li class="single-dropdown"><a href="contact-delmar.html">Contactez-nous
                  <div class="skewed_slide"></div>
                  </a>
                </li>                
               </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
       <!-- ]header -->
<!-- [slideshow -->
  <!-- START REVOLUTION SLIDER 2.1.6 -->
<div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container">
    <div id="rev_slider_1_1" class="rev_slider fullwidthabanner">
  
      
      <ul>
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" > <img src="../img/rev/1.jpg" alt="bg_light" data-fullwidthcentering="true">
<!--
          <div class="tp-caption medium_grey sfr"  
					 data-x="606" 
					 data-y="176" 
					 data-speed="300" 
					 data-start="1400" 
					 data-easing="easeOutExpo"  >La logistique simplifiée</div>
          <div class="tp-caption medium_text_brightgrey sfr"  
					 data-x="606" 
					 data-y="219" 
					 data-speed="300" 
					 data-start="1700" 
					 data-easing="easeOutExpo"  >Text text<br />
            Call to Action</div>
          <div class="tp-caption te-caption sfr"  
					 data-x="606" 
					 data-y="120" 
					 data-speed="300" 
					 data-start="1100" 
					 data-easing="easeOutExpo"  >Depuis 1965</div>
          <div class="tp-caption sfb"  
					 data-x="606" 
					 data-y="310" 
					 data-speed="300" 
					 data-start="2000" 
					 data-easing="easeOutExpo"  ><a href='#' class='tp-button orange small'>Find out more!</a></div>
-->
          
        </li>
		<li data-transition="fade" data-slotamount="7" data-masterspeed="300" > <img src="../img/rev/3.jpg" alt="bg_light" data-fullwidthcentering="true">
<!--
          <div class="tp-caption medium_grey sfl"  
					 data-x="70" 
					 data-y="176" 
					 data-speed="300" 
					 data-start="1400" 
					 data-easing="easeOutExpo"  >Freight Forwarding</div>
          <div class="tp-caption medium_text_brightgrey sfl"  
					 data-x="70" 
					 data-y="219" 
					 data-speed="300" 
					 data-start="1700" 
					 data-easing="easeOutExpo"  >Find out more about our services<br />
          Quote Calculation mafe simple.</div>
          <div class="tp-caption te-caption sfl"  
					 data-x="70" 
					 data-y="121" 
					 data-speed="300" 
					 data-start="1100" 
					 data-easing="easeOutExpo"  >DCMS</div>
          <div class="tp-caption sfb"  
					 data-x="70" 
					 data-y="310" 
					 data-speed="300" 
					 data-start="2000" 
					 data-easing="easeOutExpo"  ><a href='#' class='tp-button orange small'>Find Out More!</a></div>
-->

        </li>
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" > <img src="../img/rev/4.jpg" alt="bg_light3" data-fullwidthcentering="true">
<!--
		 <div class="tp-caption customfont_color lfr"  
					 data-x="570" 
					 data-y="101" 
					 data-speed="300" 
					 data-start="1100" 
					 data-easing="easeOutExpo" >TITLE 3</div>
          <div class="tp-caption medium_text_brightgrey sfr"  
					 data-x="570" 
					 data-y="226" 
					 data-speed="300" 
					 data-start="1700" 
					 data-easing="easeOutExpo" >DCMS<br />
           Delmar Cargo Management System</div>
          <div class="tp-caption sfb"  
					 data-x="570" 
					 data-y="288" 
					 data-speed="300" 
					 data-start="2000" 
					 data-easing="easeOutExpo"  ><a href='#' class='tp-button orange small'>Find Out More!</a></div>
          <div class="tp-caption medium_whitebg lfr"  
					 data-x="570" 
					 data-y="176" 
					 data-speed="300" 
					 data-start="1400" 
					 data-easing="easeOutExpo"  >One Stop Shop in Logistics</div>
-->
        </li>
      </ul>
    </div>
  </div>
  <!-- END REVOLUTION SLIDER -->
  <!-- ]slideshow -->
  <div class="expending-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-3 animated out" data-animation="flipInX" data-delay="300">
          <section class="expending-cover">
            <div class="expending-item i">
             <div class="expending-handle"><img alt="img" src="../img/icons/icon1a.png"></div>
              <ul class="expending-ul">
                <li>Solutions de <br>transport multimodal<br>Mer et Air</li>
              </ul><h2>Transit <br>international </h2>
                 <a  href="services.html#transitinternational" style="background-color: #FFF; color: #000; border:none; transition: none; bottom: 0; font-size: 16px; font-weight: 600 !important; height: 70px; padding-left: 0 !important; padding-right: 0 !important; padding-top: 0 !important; position: absolute; text-align: center; width: 100%; "><h2>Transit <br>international</h2></a>
              <a href="services.html#transitinternational">Plus de détails</a> </div>
          </section>
        </div>
        <div class="col-md-3 animated out" data-animation="flipInX" data-delay="600">
          <section class="expending-cover">
            <div class="expending-item ii">
			<div class="expending-handle"><img alt="img" src="../img/icons/icon2a.png"></div>
              <ul class="expending-ul">
                <li>Approches novatrices en matière de programmes des douanes.</li>
              </ul>
              <h2>Services de <br>conformité douanière</h2>
                 <a  href="services.html#conformitedouaniere" style="background-color: #FFF; color: #000; border:none; transition: none; bottom: 0; font-size: 16px; font-weight: 600 !important; height: 70px; padding-left: 0 !important; padding-right: 0 !important; padding-top: 0 !important; position: absolute; text-align: center; width: 100%; "><h2>Services de <br>conformité douanière</h2></a>
              <a href="services.html#conformitedouaniere">Plus de détails</a> </div>
          </section>
        </div>
        <div class="col-md-3 animated out" data-animation="flipInX" data-delay="900">
          <section class="expending-cover">
            <div class="expending-item iii">
			<div class="expending-handle"><img alt="img" src="../img/icons/icon3a.png"></div>
              <ul class="expending-ul">
                <li>Services complets de transport terrestre et de distribution</li>
              </ul>
              <h2>Services<br> terrestres</h2>
                 <a  href="services.html#servicesterrestres" style="background-color: #FFF; color: #000; border:none; transition: none; bottom: 0; font-size: 16px; font-weight: 600 !important; height: 70px; padding-left: 0 !important; padding-right: 0 !important; padding-top: 0 !important; position: absolute; text-align: center; width: 100%; "><h2>Services<br> terrestres</h2></a>
              <a href="services.html#servicesterrestres">Plus de détails</a> </div>
          </section>
        </div>
        <div class="col-md-3 animated out" data-animation="flipInX" data-delay="1200">
          <section class="expending-cover">
            <div class="expending-item iv">
			<div class="expending-handle"><img alt="img" src="../img/icons/icon4a.png"></div>
              <ul class="expending-ul">
                <li>Les meilleurs systèmes de gestion des stocks et de traitement des commandes</li>
              </ul>
              <h2>Entreposage<br>et distribution</h2>
                <a  href="services.html#entreposagedistribution" style="background-color: #FFF; color: #000; border:none; transition: none; bottom: 0; font-size: 16px; font-weight: 600 !important; height: 70px; padding-left: 0 !important; padding-right: 0 !important; padding-top: 0 !important; position: absolute; text-align: center; width: 100%; "><h2>Entreposage<br>et distribution</h2>
              <a href="services.html#entreposagedistribution">Plus de détails</a> </div>
          </section>
        </div>
      </div>
    </div>
  </div>
  <!--=======second=======-->
  		<div class="d_dividerbar"> </div>
		<!-- ***************************** Our Technology ************************* -->
        <div class="breadcrumb-2 image-bg-services">
            <div class="container">
				<h1>Notre Technologie</h1>
				<p></p>
				<div class="top-services">
					<div class="container"> 
						<div class="row">
							<div class="col-lg-3">
								<div>
                                    <a href="services.html#technologie">
									<button type="button" class="d_button2" >
										 Gestion des expéditions
									</button></a>
									<p></p>
								</div>
							</div>
							<div class="col-lg-3">
								<div><a href="services.html#technologie-2">
									<button type="button" class="d_button2">
										Fonctions de base
									</button></a>
									<p></p>
								</div>
							</div>
							<div class="col-lg-3">
								<div><a href="services.html#technologie-3">
									<button type="button" class="d_button2">
										Fonctionnalités avancées
									</button>
									<p></p>
								</div>
							</div>
							<div class="col-lg-3">
								<div>
									<button type="button" class="d_button2">
										<a href="services.html#technologie-4">Suivi at suivi avancé</a>
									</button></a>
									<p></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="d_dividerbar"> </div>
        <div class="breadcrumb-2 image-bg-team">
            <div class="container">
            <h1>Nouvelles et médias</h1>
            <p style="margin-bottom:5px;">PRESS RELEASE<br>THE DELMAR GROUP ANNOUNCES KEY SENIOR MANAGEMENT APPOINTMENTS IN THE UNITED STATES<BR></p>
                          <p> <a class="btn-light" href="http://blog.delmarcargo.com/2015/08/17/press-release-delmar-international-concludes-purchase-of-majority-stake-in-ontario-based-islandwide-logistics/" > Plus de détails (English only)</a>
</p>
            </div>
        </div>
		<div class="container">
        <div class="col-md-12">
			<ul class="list-number row">
            <li class="col-md-4 animated out" data-animation="fadeInUp" data-delay="300">
              <div class="extra-wrap"> <a href="http://blog.delmarcargo.com/2015/03/24/press-release-the-delmar-group-announces-key-senior-management-appointments-in-the-united-states/" class="text4">USA – Transpacific Ocean Freight Carriers Postpone September 1 GRI to September 15</a>
<!--                <p>Nulla vitae libero, a pharetra augue. Integer posuere a ante venenatis condimentum. Donec id elit non mi porta gravida metus</p>-->
              </div>
            </li>
            <li class="col-md-4 animated out" data-animation="fadeInUp" data-delay="600">
              <div class="extra-wrap"> <a class="text4" href="http://blog.delmarcargo.com/2015/09/02/pakistan-freight-forwarders-and-air-cargo-agents-strike/">Pakistan Freight Forwarders and Air Cargo Agents Strike</a>
               
              </div>
            </li>
            <li class="col-md-4 animated out" data-animation="fadeInUp" data-delay="900">
              <div class="extra-wrap"> <a href="http://blog.delmarcargo.com/2015/09/02/canada-import-transpacific-ocean-freight-carriers-postpone-gri-pss-to-september-15-2015/" class="text4">Canada Import – Transpacific Ocean Freight Carriers Postpone GRI & PSS to September 15, 2015</a>
              
              </div>
            </li>
           </ul>
        </div>
                <span class="button-center"><a href="http://blog.delmarcargo.com/" class="button-3">View All</a></span>
				<div></div>
        </div>   
     <!-- **************** Our Company *********************************************************** -->
		<div class="d_dividerbar"> </div>
        <div class="breadcrumb-2 image-bg-project">
            <div class="container">
            <h1>Notre compagnie </h1>
            <p>Delmar International Inc. a été fondé en 1965 à Montréal en tant que courtier en douanes canadien. </p><p>Le Groupe Delmar est aujourd’hui un chef de file de l’industrie, offrant des techniques brevetées sophistiquées ainsi que des solutions diversifiées pour le fret et la chaîne d’approvisionnement.</p><p>Delmar exerce des activités dans 11 pays, et emploie environ un millier d’individus. </p>
            </div>
		<div class="top-services">
		<div class="container"> 
                <div class="row">
                                        <div class="col-lg-3">
                        <div>
							<a href="our-company.html#couverture"><button type="button" class="d_button3">
							Couverture mondiale</button></a>
							
                            <p></p>
                        </div>
                    </div>
					<div class="col-lg-3">
                        <div><a href="our-company.html#carrieres">
							<button type="button" class="d_button3">
							Carrières</button></a>
							
                            <p></p>
                        </div>
                    </div>
                    
                    
                    <div class="col-lg-3">
                        <div>
							
							<a href="our-company.html#engagement"><button type="button" class="d_button3">Engagement communautaire</button></a>
							
                            <p></p>
                        </div>
                    </div>
<div class="col-lg-3">
                        <div>
						
							<a href="our-company.html#mission"><button type="button" class="d_button3" >Énoncé de mission</button></a>
							
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
		</div>
		</div>
		<div class="breadcrumb-2 image-bg-links">
            <div class="container">
            <h1>Liens</h1>
            <p>Liens utiles vers des ressources gouvernementales canadiennes et américaines disponibles en ligne.</p>
                    <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
       <div class="delinks-area">
        <ul class="home-delinks delinks tesla_delinks" data-tesla-plugin="delinks">

			<li><a data-category="art" href="links.html#canada">CANADA</a></li>
            <li><a data-category="fashion" href="links.html#usa">ÉTATS-UNIS</a></li>
            
        </ul>
        </div>
<!-- [footer -->
<div class="secondb">
   <div class="container">
      <div class="row-fluid" align="center">
              <a href="http://www.ciffa.com/?lang=fr" target="_blank"><img src="../img/footer/ciffalogo_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://cscb.ca/" target="_blank"><img src="../img/footer/cscb_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbp.gov/border-security/ports-entry/cargo-security/c-tpat-customs-trade-partnership-against-terrorism" target="_blank"><img src="../img/footer/ct-pat_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.iata.org/Pages/default.aspx" target="_blank"><img src="../img/footer/iata_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbsa-asfc.gc.ca/security-securite/pip-pep/menu-fra.html" target="_blank"><img src="../img/footer/pip_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="https://www.wcaworld.com/eng/home.asp" target="_blank"><img src="../img/footer/wca_03.png" alt="" style="padding: 0px 35px;"></a>
      </div>
    </div>
  </div>
      <footer id="footer">
    <div class="container">
      <div class="row">     
          <div class="container">
			<div class="row">
					<div class="footer-copyright">
					© 2015 Delmar International Inc. Tous Droits Réservés | <a href="legal.html" target="_blank">Légal</a>   
				</div>
			</div>
        </div>
        </div>
      </div>
  </footer>
  <!-- ]end of footer -->
{{#content "script"}}
<!-- Rev Slider  -->
<script type="text/javascript" src="../js/rev/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="../js/rev/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript">
				var tpj=jQuery;
				var revapi1;
				tpj(document).ready(function() {
				if (tpj.fn.cssOriginal != undefined)
					tpj.fn.css = tpj.fn.cssOriginal;
				if(tpj('#rev_slider_1_1').revolution == undefined)
					revslider_showDoubleJqueryError('#rev_slider_1_1');
				else
				   revapi1 = tpj('#rev_slider_1_1').show().revolution(
					{
						delay:9000,
						startwidth:1170,
						startheight:440,
						hideThumbs:200,
						thumbWidth:100,
						thumbHeight:50,
						thumbAmount:5,
						navigationType:"both",
							navigationArrows:"solo",
							navigationStyle:"round",
							touchenabled:"on",
							onHoverStop:"on",
							navigationHAlign:"center",
							navigationVAlign:"bottom",
							navigationHOffset:0,
							navigationVOffset:30,
							soloArrowLeftHalign:"left",
							soloArrowLeftValign:"center",
							soloArrowLeftHOffset:20,
							soloArrowLeftVOffset:0,
							soloArrowRightHalign:"right",
							soloArrowRightValign:"center",
							soloArrowRightHOffset:20,
							soloArrowRightVOffset:0,
							shadow:0,
							fullWidth:"on",
							fullScreen:"off",
							stopLoop:"off",
							stopAfterLoops:-1,
							stopAtSlide:-1,
							shuffle:"off",
							autoHeight:"off",
							forceFullWidth:"off",
							hideThumbsOnMobile:"off",
							hideBulletsOnMobile:"on",
							hideArrowsOnMobile:"on",
							hideThumbsUnderResolution:0,
							hideSliderAtLimit:0,
							hideCaptionAtLimit:768,
							hideAllCaptionAtLilmit:0,
							startWithSlide:0,
							videoJsPath:"plugins/revslider/rs-plugin/videojs/",
							fullScreenOffsetContainer: ""
						});
				});	//ready
			</script>  
{{/content}}