---
name: "mierci"
title: "Merci de votre intérêt envers Delmar International Inc."
desc: "Au Delmar , nous travaillons avec vous pour créer des solutions flexibles et entraîner le service le plus fiable et hautement personnalisable dans l'industrie . Contactez-nous et faites-nous connaître vos besoins, Delmar toujours peut vous offrir la meilleure solution et une attention personnalisée ainsi que l'un des outils de suivi meilleure ligne qui vous permettent de suivre un seul envoi en temps réel "
keywords: "cross dock, d'expédition de fret, les emplois d'expédition de fret, le fret aérien, les services de transport de lots complets, le transport routier au Canada, en Amérique du Nord camionnage, le courtage en douanes, courtier en douane, les courtiers en douane, de courtage en douane au Canada, courtage en douane de Montréal, les coutumes Mexique, les douanes chinoises, les douanes canadiennes, transport courtier, courtier, de courtage, de fret, agent de fret, wagon de marchandises, le transitaire, transitaires, d'expédition de fret au Canada, internationale d'expédition de fret, l'expédition, la charge utile, le chargement, l'expédition, connaissement, la charge, le transport, taux de fret, charge, fret, le fret , gestion du fret, le transport de fret, le taux de cargaison, devis, le transporteur, les transporteurs, la distribution, la logistique, la logistique, les services de logistique, logistique globale, transport mondial, des solutions globales de logistique, la fourniture, la fourniture, l'approvisionnement, le suivi, la piste, le commerce, les services d'information , des services, de l'air, l'océan, entrepôt de stockage, bus, services de conteneurs, consultants personnalisés, services domestiques, l'exportation, l'ACI, AMS, consulter SEA, PAPS, les services d'importation, internationale, d'emballage et de mise en caisse, la voiture de la piscine, le rail, les agents de navires à vapeur, paquebot , les services de camionnage, camionnage, camion, matières dangereuses, l'expédition, navire porte-conteneurs, l'expédition, l'expédition, le stockage, l'entreposage, entrepôt, repositionner, repositing, l'importation, l'exportation, la commercialisation, les distributions complexes, expédition, transport de marchandises, les biens portent, l'expédition des marchandises, USA, Canada, Montréal, Mexique, Chine, Taiwan, Vietnam, Hong Kong, aux Philippines, le Brésil, le Cambodge, la Barbade, la couverture mondiale, l'engagement social, une action durable, la charité, multimodal, de la flexibilité, des solutions personnalisées, des marchandises sensibles de temps, la fourniture, l'offre chaîne, des solutions de chaîne d'approvisionnement, l'IATA, l'ATIC, C_TPAT, PIP, AOC, fret mondial, DCMS, bons de commande, les services de LTL, gants blancs, consolidation, déployer, capacités de distribution, à plat, les ponts étape, roll-tite flecibility, plus de dimensions , l'expertise, l'expérience, Delmar International Inc., Delmar, Delmarcargo, fret Delmar, groupe Delmar, Delmar International, Delmar-groupe, transpacifique, l'importation, l'exportation, le transbordement, RI, le port, la voile, le conteneur, navire, contactez-nous, chat en direct , contact, numéro de téléphone, adresse, numéro sans frais,"
author: "Adriana Molano, Isabel Quintela, Margarita Mayoral"
format-detection: "telephone=no"
viewport: "width=device-width, initial-scale=1, maximum-scale=1" 
rootdir: ""
---
  <!-- [header --> 
       <div class="header_top">
    <div class="container">
      <div id="contact-details">
        <ul>
          <li>La logistique simplifiée</li>
        </ul>
      </div>
      <ul id="owl-tt-menu" class="owl-tt-menu">
        <li> <a href="#">Français</a>
          <ul class="owl-tt-submenu">
            <li><a href="../en/{{this.name}}.html" >English</a></li>
            <li><a href="../sp/{{this.name}}.html" >Español</a></li>
            <li><a href="../pt/{{this.name}}.html" >Português</a></li>
            <li><a href="../ch/{{this.name}}.html" >中文</a></li>
         </ul>
        </li>
        <li> <a href="login-page.html" target="_blank" >Connexion</a>
            <ul class="owl-tt-submenu">
            <li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
            <li><a href="aci-ams.html" >ACI-AMS</a></li>
            
          </ul>
            
        </li>
      </ul>
      <div class="social-top"> <a href="http://www.twitter.com/delmarcargo" target="_blank" class="fa fa-twitter"></a> <a href="http://www.facebook.com/delmarcargo" target="_blank" class="fa fa-facebook"></a> <a href="http://www.youtube.com/delmarcargo" target="_blank" class="fa fa-youtube"></a>    <a href="https://plus.google.com/+Delmarcargo" target="_blank" class="fa fa-gplus"></a> <a href="http://www.linkedin.com/company/delmar-international-inc-" target="_blank" class="fa fa-github"></a> </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- Navigation -->
  <div id="nav">
    <div class="nav-sticky">
      <div class="container navbar navbar_ clearfix">
        <div class="navbar-inner">
          <div class=" row">
            <!--============================== OWL MENU =================================-->
            <div class="owl-contener col-md-12  clearfix">
              <!-- Logo -->
             <h1 class="brand fleft"><a href="index.html"><img src="../img/logo.png" alt=""></a><span>Delmar International Inc.</span></h1>
             <div class="cat-title"></div>
              <ul class="owl-menu menu-content">
                  				<li class="single-dropdown loginvisibility">
						<a href="#">Français</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="../en/{{this.name}}.html" >English</a></li>
							<li><a href="../sp/{{this.name}}.html" >Español</a></li>
							<li><a href="../pt/{{this.name}}.html" >Português</a></li>
							<li><a href="../ch/{{this.name}}.html" >中文</a></li>
						</ul>
				</li>
				<li class="single-dropdown loginvisibility">
						<a href="#">Follow Us</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="http://www.twitter.com/delmarcargo" target="_blank" class="fa fa-twitter">Twitter</a></li>
							<li><a href="http://www.facebook.com/delmarcargo" target="_blank" class="fa fa-facebook">Facebook</a></li>
							<li><a href="http://www.youtube.com/delmarcargo" target="_blank" class="fa fa-youtube">Youtube</a></li>
							<li><a href="https://plus.google.com/+Delmarcargo" target="_blank" class="fa fa-gplus">Google + </a></li>
							<li><a href="https://www.linkedin.com/company/delmar-international-inc-" target="_blank" class="fa fa-github">Linkedin</a></li>
						</ul>
				</li>
                  
                  
                               <li class="single-dropdown loginvisibility"> 
					<a href="login-page.html">Connexion</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
							<li><a href="aci-ams.html" >ACI-AMS</a></li>
						</ul>
                </li>
                <li class="single-dropdown"> 
					<a href="services.html">Services de base</a>
					<ul class="owl-submenu" style="width: 250px;">
						<li><a href="services.html#transitinternational" >Transit international</a></li>
						<li><a href="services.html#conformitedouaniere" >Services de conformité douanière</a></li>
						<li><a href="services.html#servicesterrestres" >Services terrestres</a></li>
						<li><a href="services.html#entreposagedistribution" >Entreposage et distribution</a></li>
						<li><a href="services.html#technologie" >Notre technologie</a></li>
					</ul>
					
                </li>
                <li class="single-dropdown"> 
					<a href="news.html">Nouvelles</a>
				  <ul class="owl-submenu" style="width: 100%;">
									<li><a href="news.html#nouvelles" >Dernières Nouvelles</a></li>
									<li><a href="news.html#publications" >Publications</a></li>
									<li><a href="news.html#press" >Dans la presse</a></li>
									<li><a href="news.html#video" >Vidéos</a></li>
								</ul>
                </li>
				<li class="single-dropdown"> <a href="our-company.html">Notre compagnie</a>
				  <ul class="owl-submenu" style="width: 100%;">
								<li><a href="our-company.html#couverture" >Couverture mondiale</a></li>
								<li><a href="our-company.html#carrieres" >Carrières</a></li>
								<li><a href="our-company.html#engagement" >Engagement communautaire</a></li>
								<li><a href="our-company.html#goinggreen" >Solutions durables</a></li>
								<li><a href="our-company.html#mission" >Énoncé de mission</a></li>
							
					</ul>
                </li>
                <li class="single-dropdown"><a href="links.html">Liens</a>
                 <ul class="owl-submenu" style="width: 100%;">
							
								<li><a href="links.html#canada" >Canada</a></li>
								<li><a href="links.html#usa" >États-Unis</a></li>	
					</ul>  
                </li>
                <li class="single-dropdown"><a href="contact-delmar.html">Contactez-nous
                  <div class="skewed_slide"></div>
                  </a>
                </li>                
               </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
       <!-- ]header -->
    <div class="content" style="background-color:#FFFFFF;" >
		<section id="contactez-nous">
			<div class="d_section d_contact">
				<div class="d_top parallax">
					<div class="container" >
						<div class="d_titlebar">
								<h1>CONTACTEZ-NOUS</h1>
								<p></p>
						</div>
					</div>
				</div>
				<div class="d_dividerbar cyan" ></div>	
				<div class="d_dividerbar white"></div>
				<div class="container" style="background-color:#FFFFFF;">					
				</div>                                              
                	<div class="container">
					<div class="col-lg-2"></div>
					<div class="col-lg-8">
                    <div class="row">
<div class="col-lg-6">
									<h2 style="text-align:left">Delmar International Inc.</h2>
									<p style="text-align:justify">10636 Chemin de la Côte-de-Liesse<br/>Lachine, Québec <br/>H8T 1A5 <br/>Canada<br/><br/>Teléphone:   <a href="tel:514-636-8800">514 636 8800</a><br/>San frais: <a href="tel:1-888-4-335-627">1 888 4 DELMAR</a><br><a href="our-company.html#global">Carte de tous nos bureaux</a></p><p style="text-align:justify;">Répertoire mondial des bureaux: &nbsp; <a href="worldwide.html" >HTML</a>&nbsp; | &nbsp;<a href="http://www.delmarcargo.com/sales/marketing/pdf/DelmarWorldwide_FR.pdf" target="_blank" >PDF</a> &nbsp;| &nbsp;<a href="http://www.delmarcargo.com/sales/marketing/jpg/DelmarWorldwide_FR.jpg" target="_blank" >JPG</a></p>
								</div>
								<div class="col-lg-6">								
								     <div class="location-map">
							<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script><div style="overflow:hidden;height:400px;width:100%;"><div id="gmap_canvas" style="height:400px;width:600px;"></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style><a class="google-map-code" href="http://www.themecircle.net" id="get-map-data">Delmar International Inc.</a></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(45.4630999,-73.72146559999999),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(45.4630999, -73.72146559999999)});infowindow = new google.maps.InfoWindow({content:"<b>Delmar International Inc.</b><br/>10636 Cote de Liesse<br/>H8T 1A5 Lachine" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
						</div>                       
									<h3 style="text-align:left"></h3>
								</div>
                                </div>
					</div>
					<div class="col-lg-2"></div>
				</div>                
                <div class="container">
					<div class="col-lg-2"></div>
					<div class="col-lg-8">
                      <p>&nbsp;</P><p>&nbsp;</P><p style="text-align: center;">
Nous avons reçu vos informations.<br>
Un représentant de service à la clientèle de Delmar vous contactera bientôt.<br><br>
<i>Merci de votre intérêt envers Delmar International Inc.</i></p> <p>&nbsp;</P> <p>&nbsp;</P>
					</div>
					<div class="col-lg-2"></div>
				</div>                
				<div class="d_dividerbar white"></div>
			</div>
	</section>
    </div>	
</div>
<!-- [footer -->
<div class="secondb">
   <div class="container">
      <div class="row-fluid" align="center">
              <a href="http://www.ciffa.com/?lang=fr" target="_blank"><img src="../img/footer/ciffalogo_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://cscb.ca/" target="_blank"><img src="../img/footer/cscb_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbp.gov/border-security/ports-entry/cargo-security/c-tpat-customs-trade-partnership-against-terrorism" target="_blank"><img src="../img/footer/ct-pat_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.iata.org/Pages/default.aspx" target="_blank"><img src="../img/footer/iata_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbsa-asfc.gc.ca/security-securite/pip-pep/menu-fra.html" target="_blank"><img src="../img/footer/pip_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="https://www.wcaworld.com/eng/home.asp" target="_blank"><img src="../img/footer/wca_03.png" alt="" style="padding: 0px 35px;"></a>
      </div>
    </div>
  </div>
      <footer id="footer">
    <div class="container">
      <div class="row">     
          <div class="container">
			<div class="row">			
				<div class="footer-copyright">
					© 2015 Delmar International Inc. Tous Droits Réservés | <a href="legal.html" target="_blank">Légal</a>   
				</div>
			</div>
        </div>          
        </div>
      </div>
  </footer>
  <!-- ]end of footer -->
<script type="text/javascript" language="JavaScript" src="http://go.delmarcargo.com/js/frs-app-96654.js"></script>
