---
name: "our-company"
title: "À propos de Delmar International Inc"
desc: "Providing freight forwarding, Customs Brokerage, commercial cargo transportation and logistics services since 1965. Our success relies on our ability to provide quality services, coupled with an intimate understanding of our clients’ needs."
keywords: "cross dock, d'expédition de fret, les emplois d'expédition de fret, le fret aérien, les services de transport de lots complets, le transport routier au Canada, en Amérique du Nord camionnage, le courtage en douanes, courtier en douane, les courtiers en douane, de courtage en douane au Canada, courtage en douane de Montréal, les coutumes Mexique, les douanes chinoises, les douanes canadiennes, transport courtier, courtier, de courtage, de fret, agent de fret, wagon de marchandises, le transitaire, transitaires, d'expédition de fret au Canada, internationale d'expédition de fret, l'expédition, la charge utile, le chargement, l'expédition, connaissement, la charge, le transport, taux de fret, charge, fret, le fret , gestion du fret, le transport de fret, le taux de cargaison, devis, le transporteur, les transporteurs, la distribution, la logistique, la logistique, les services de logistique, logistique globale, transport mondial, des solutions globales de logistique, la fourniture, la fourniture, l'approvisionnement, le suivi, la piste, le commerce, les services d'information , des services, de l'air, l'océan, entrepôt de stockage, bus, services de conteneurs, consultants personnalisés, services domestiques, l'exportation, l'ACI, AMS, consulter SEA, PAPS, les services d'importation, internationale, d'emballage et de mise en caisse, la voiture de la piscine, le rail, les agents de navires à vapeur, paquebot , les services de camionnage, camionnage, camion, matières dangereuses, l'expédition, navire porte-conteneurs, l'expédition, l'expédition, le stockage, l'entreposage, entrepôt, repositionner, repositing, l'importation, l'exportation, la commercialisation, les distributions complexes, expédition, transport de marchandises, les biens portent, l'expédition des marchandises, USA, Canada, Montréal, Mexique, Chine, Taiwan, Vietnam, Hong Kong, aux Philippines, le Brésil, le Cambodge, la Barbade, la couverture mondiale, l'engagement social, une action durable, la charité, multimodal, de la flexibilité, des solutions personnalisées, des marchandises sensibles de temps, la fourniture, l'offre chaîne, des solutions de chaîne d'approvisionnement, l'IATA, l'ATIC, C_TPAT, PIP, AOC, fret mondial, DCMS, bons de commande, les services de LTL, gants blancs, consolidation, déployer, capacités de distribution, à plat, les ponts étape, roll-tite flecibility, plus de dimensions , expertise, l'expérience, Delmar International Inc., Delmar, Delmarcargo, fret Delmar, groupe Delmar, Delmar International, Delmar-groupe, transpacifiques, importation, exportation, de transbordement, RI, portuaires, voile, conteneurs, navires, les dernières nouvelles, les archives, des nouvelles, des publications, des outils de marketing, brochure Delmar, Delmar à trois volets, l'adresse, sur nous, YouTube, canal YouTube Delmar, les canaux, les droits d'auteur, de la commercialisation, DCMS"
author: "Adriana Molano, Isabel Quintela, Margarita Mayoral"
format-detection: "telephone=no"
viewport: "width=device-width, initial-scale=1, maximum-scale=1" 
rootdir: ""
---
  <!-- [header --> 
       <div class="header_top">
    <div class="container">
      <div id="contact-details">
        <ul>
          <li>La logistique simplifiée</li>
        </ul>
      </div>
      <ul id="owl-tt-menu" class="owl-tt-menu">
        <li> <a href="#">Français</a>
          <ul class="owl-tt-submenu">
            <li><a href="../en/{{this.name}}.html" >English</a></li>
            <li><a href="../sp/{{this.name}}.html" >Español</a></li>
            <li><a href="../pt/{{this.name}}.html" >Português</a></li>
            <li><a href="../ch/{{this.name}}.html" >中文</a></li>
         </ul>
        </li>
        <li> <a href="login-page.html" target="_blank" >Connexion</a>
            <ul class="owl-tt-submenu">
            <li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
            <li><a href="aci-ams.html" >ACI-AMS</a></li>
            
          </ul>
            
        </li>
      </ul>
      <div class="social-top"> <a href="http://www.twitter.com/delmarcargo" target="_blank" class="fa fa-twitter"></a> <a href="http://www.facebook.com/delmarcargo" target="_blank" class="fa fa-facebook"></a> <a href="http://www.youtube.com/delmarcargo" target="_blank" class="fa fa-youtube"></a>    <a href="https://plus.google.com/+Delmarcargo" target="_blank" class="fa fa-gplus"></a> <a href="http://www.linkedin.com/company/delmar-international-inc-" target="_blank" class="fa fa-github"></a> </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- Navigation -->
  <div id="nav">
    <div class="nav-sticky">
      <div class="container navbar navbar_ clearfix">
        <div class="navbar-inner">
          <div class=" row">
            <!--============================== OWL MENU =================================-->
            <div class="owl-contener col-md-12  clearfix">
              <!-- Logo -->
             <h1 class="brand fleft"><a href="index.html"><img src="../img/logo.png" alt=""></a><span>Delmar International Inc.</span></h1>
             <div class="cat-title"></div>
              <ul class="owl-menu menu-content">
                  				<li class="single-dropdown loginvisibility">
						<a href="#">Français</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="../en/{{this.name}}.html" >English</a></li>
							<li><a href="../sp/{{this.name}}.html" >Español</a></li>
							<li><a href="../pt/{{this.name}}.html" >Português</a></li>
							<li><a href="../ch/{{this.name}}.html" >中文</a></li>
						</ul>
				</li>
				<li class="single-dropdown loginvisibility">
						<a href="#">Follow Us</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="http://www.twitter.com/delmarcargo" target="_blank" >Twitter</a></li>
							<li><a href="http://www.facebook.com/delmarcargo" target="_blank" >Facebook</a></li>
							<li><a href="http://www.youtube.com/delmarcargo" target="_blank" >Youtube</a></li>
							<li><a href="https://plus.google.com/+Delmarcargo" target="_blank" >Google + </a></li>
							<li><a href="https://www.linkedin.com/company/delmar-international-inc-" target="_blank" >Linkedin</a></li>
						</ul>
				</li>
                  
                  
                               <li class="single-dropdown loginvisibility"> 
					<a href="login-page.html">Connexion</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
							<li><a href="aci-ams.html" >ACI-AMS</a></li>
						</ul>
                </li>
                <li class="single-dropdown"> 
					<a href="services.html">Services de base</a>
					<ul class="owl-submenu" style="width: 250px;">
						<li><a href="services.html#transitinternational" >Transit international</a></li>
						<li><a href="services.html#conformitedouaniere" >Services de conformité douanière</a></li>
						<li><a href="services.html#servicesterrestres" >Services terrestres</a></li>
						<li><a href="services.html#entreposagedistribution" >Entreposage et distribution</a></li>
						<li><a href="services.html#technologie" >Notre technologie</a></li>
					</ul>
					
                </li>
                <li class="single-dropdown"> 
					<a href="news.html">Nouvelles</a>
				  <ul class="owl-submenu" style="width: 100%;">
									<li><a href="news.html#nouvelles" >Dernières Nouvelles</a></li>
									<li><a href="news.html#publications" >Publications</a></li>
									<li><a href="news.html#press" >Dans la presse</a></li>
									<li><a href="news.html#video" >Vidéos</a></li>
								</ul>
                </li>
				<li class="single-dropdown"> <a href="our-company.html">Notre compagnie</a>
				  <ul class="owl-submenu" style="width: 100%;">
								<li><a href="our-company.html#couverture" >Couverture mondiale</a></li>
								<li><a href="our-company.html#carrieres" >Carrières</a></li>
								<li><a href="our-company.html#engagement" >Engagement communautaire</a></li>
								<li><a href="our-company.html#goinggreen" >Solutions durables</a></li>
								<li><a href="our-company.html#mission" >Énoncé de mission</a></li>
							
					</ul>
                </li>
                <li class="single-dropdown"><a href="links.html">Liens</a>
                 <ul class="owl-submenu" style="width: 100%;">
							
								<li><a href="links.html#canada" >Canada</a></li>
								<li><a href="links.html#usa" >États-Unis</a></li>	
					</ul>  
                </li>
                <li class="single-dropdown"><a href="contact-delmar.html">Contactez-nous
                  <div class="skewed_slide"></div>
                  </a>
                </li>                
               </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

       <!-- ]header -->
 <div class="content" style="background-color:#FFFFFF;">
		<section id="couverture" datat-title="Couverture mondiale">
			<div class="d_section d_corp_global">
				<div class="d_top parallax">
					<div class="container">
						<div class="d_titlebar">
							<h1>COUVERTURE MONDIALE</h1>
						</div>
					</div>
				</div>

		<div class="d_dividerbar cyan" >  </div>
				<div class="container">		
         
						<div class="col-lg-2"></div>
						<div class="col-lg-8" >
                    
								<h2 style="margin-bottom: 0px; line-height: 1   em;" >Delmar aux quatre coins de la Terre</h2>
								<p style="text-align:justify;">&nbsp;<a href="http://www.delmarcargo.com/sales/marketing/pdf/DelmarWorldwide_FR.pdf" target="_blank" >PDF</a> &nbsp;| &nbsp;<a href="http://www.delmarcargo.com/sales/marketing/jpg/DelmarWorldwide_FR.jpg" target="_blank" >JPG</a></p>
														
						</div>  
                         	<div class="col-lg-2"></div>
					</div>   
                

                    
                    <div class="container">
                  
                                           <div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-8" >	
                        <div class="col-lg-8"> 
                         <div class="d_location">
								<h4 >Canada<br/>Delmar International Inc.</h4>
								 </div> </div>
                        <div class="col-lg-2"></div>
                         <div class="col-lg-2"></div>
                        </div>
                                 <div class="col-lg-2"></div>
                                </div> 
                        
                        
                            <div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8">
								<div class="col-lg-4">
									<div class="d_location">
										<h5 style="font-weight:bold;">Drummondville</h5>          
										<p> 630 rue Haggerty<br/>Drummondville, Québec<br/>J2C 3G6<br/><br/>Tél. :   819 477 1100<br/>Téléc. :  819 477 9800<br/></p>
									</div>
                                    </div>
									<div class="col-lg-4">
									<div class="d_location">
										<h5 style="font-weight:bold;">Montreal</h5>
										<p>10636 Cote de Liesse<br/>Montréal, Québec<br/>H8T 1A5<br/><br/>Tél. :   514 636 8800<br/>Téléc. :  514 636 1212<br/></p>
									</div>  
                                    </div>
                                   <div class="col-lg-4"> 
                                    <div class="d_location">
										<h5 style="font-weight:bold;">Vancouver</h5>
										<p>239-7080 River Road<br/>Richmond, British Columbia<br/>V6X 1X5<br/><br/>Tél. :   604 270 3380<br/>Téléc. :  604 270 8104<br/></p>
									</div>
                                  </div>  
								</div>
                                 <div class="col-lg-2"></div>
                                 </div> 
                        
                        
                            <div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8"> 								
                                <div class="col-lg-4">
                                <div class="d_location">
										<h5 style="font-weight:bold;">Fort Erie</h5>
										<p>15 Princess St<br/>Fort Erie, Ontario<br/>L2A 1V4<br/><br/>Tél. :   905 871 1711<br/>Téléc. :  905 871 5225<br/></p>
									</div> 
                                    </div>                                                                     
								<div class="col-lg-4">
									<div class="d_location">
										<h5 style="font-weight:bold;">Sarnia</h5>
										<p>1555 Venetian Blvd - Suite 316<br/>Point Edward, Ontario<br/>N7T 0A9<br/><br/>Tél. :   519 383 7873<br/>Téléc. :  519 332 6950<br/></p>
									</div>
                                    </div>                                                                       
                                    <div class="col-lg-4">
                                    <div class="d_location">
										<h5 style="font-weight:bold;">Windsor</h5>
										<p>4045 Industrial Drive<br/>Windsor, Ontario<br/>N9C 2R8<br/><br/>Tél. :   519 972 0672<br/>Téléc. :  519 972 9056<br/></p>
									</div>
                                    </div>
								</div>
                                <div class="col-lg-2"></div>
                                </div> 
                        
                        
                        
                            <div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8">  
								<div class="col-lg-4">
                                <div class="d_location">
										<h5 style="font-weight:bold;">Lacolle</h5>
										<p>330 Ridge Road<br/>Saint-Bernard-de-Lacolle, Québec<br/>J0J 1V0<br/><br/>Tél. :   450 246 4675<br/>Téléc. :  450 246 2031<br/></p>
									</div> 
                                    </div>
  
  <div class="col-lg-4">
                                    <div class="d_location">
										<h5 style="font-weight:bold;">Toronto</h5>
										<p>2580 Matheson Blvd E.<br/>Mississauga, Ontario<br/>L4W 4J1<br/><br/>Tél. :   905 206 1166<br/>Téléc. :  905 206 9925<br/></p>
									</div>
                                  </div>  										
									<div class="col-lg-4">
                                    <div class="d_location">
										<h5 style="font-weight:bold;">Winnipeg</h5>
										<p>41780 Wellington Avenue<br/>Unit 102<br/>Winnipeg, Manitoba<br/>R3H 1B3<br/><br/>Tél. :   204 786 8505<br/>Téléc. :  204 783 0159<br/></p>
									</div>
								</div>
                                </div>
                             <div class="col-lg-2"></div>
                             </div>                                                         
                         
                        
                        
                        <div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-8" >	
                        <div class="col-lg-8"> 
                         <div class="d_location">
								<h4 >États-Unis<br/>Delmar International (USA) Inc.</h4>
								 </div> </div>
                        <div class="col-lg-2"></div>
                         <div class="col-lg-2"></div>
                        </div>
                                 <div class="col-lg-2"></div>
                                </div>
                             <div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8">  								
                                <div class="col-lg-4">
									<div class="d_location">
										<h5 style="font-weight:bold;">Atlanta</h5>
										<p>1691 Phoenix Boulevard<br/>Suite 300<br/>Atlanta, Georgia<br/>30349<br/><br/>Tél. :   770 997 1390<br/>Fax :   770 997 1422</p>
									</div>
                                    </div>
                                    
                                     <div class="col-lg-4">
                                    <div class="d_location">
										<h5 style="font-weight:bold;">Chicago</h5>
										<p>1555 Mittel Blvd.<br/>Suite T<br/>Wood Dale, Illinois<br/>60191<br/><br/>Tél. :   630 694 9900<br/>Fax :   630 860 5737</p>
									</div>
                                    </div>
                                    
										 <div class="col-lg-4">
                                        <div class="d_location">
										<h5 style="font-weight:bold;">New York</h5>
										<p>One Cross Island Plaza<br/>Suite 222<br/>Rosedale, New York<br/>11422<br/><br/>Tél. :   718 527 0025<br/>Fax :   718 978 1115</p>
									</div>
								</div>
                                </div>
                                <div class="col-lg-2"></div>
                                </div>    
                             <div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8">  
								<div class="col-lg-4">
                                <div class="d_location">
										<h5 style="font-weight:bold;">Buffalo</h5>
										<p>100 Colvin Woods Parkway<br/>Suite 500<br/>Tonawanda, New York<br/>14150<br/><br/>Tél. :   716 832 0908<br/>Fax :   716 833 3287</p>
									</div>
                                    </div>                                   
									<div class="col-lg-4">
									<div class="d_location">
										<h5 style="font-weight:bold;">Los Angeles</h5>
										<p>9310 S La Cienega Blvd.<br/>Inglewood, California<br/>90301<br/><br/>Tél. :   310 338 8500<br/>Fax :   310 338 8551</p>
									</div>
                                    </div>
                                    <div class="col-lg-4">
                                    <div class="d_location">
										<h5 style="font-weight:bold;">Champlain</h5>
										<p>5 Coton Lane<br/>Champlain, New York<br/>12919<br/><br/>Tél. :  518 206 4129<br/>Fax :   518 206 4133</p>
									</div></div>								
								</div>
                                 <div class="col-lg-2"></div>
                                 </div>
                             <div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8">  
								<div class="col-lg-4">
                                <div class="d_location">
										<h5 style="font-weight:bold;">Miami</h5>
										<p>10813 N.W. 30th Street<br/>Suite 107<br/>Miami, Florida<br/>33172<br/><br/>Tél. :   305 599 9291<br/>Fax :   305 599 9891</p>
									</div>
                                    </div>                                   
                                    <div class="col-lg-4">
                                   <div class="d_location">&nbsp;</div>
                                    </div>                                   
                                    <div class="col-lg-4">
                                     <div class="d_location">&nbsp;</div>
                                     </div>
								</div> 
                                 <div class="col-lg-2"></div>
                                 </div>								
       <div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-8" >	
                        <div class="col-lg-8"> 
                         <div class="d_location">
								<h4 >CHINE<br/>Delmar International (China) Ltd.</h4>
								 </div> </div>
                        <div class="col-lg-2"></div>
                         <div class="col-lg-2"></div>
                        </div>
                                 <div class="col-lg-2"></div>
                                </div>
                                  <div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8">  
                                <div class="col-lg-4">
										<div class="d_location">
											<h5 style="font-weight:bold;">Pékin</h5>
											<p>502A Diyang Mansion<br/>Sanyuanqiao<br/>Chaoyang District<br/>Beijing, Beijing Shi<br/>100027<br/><br/>Tél. :   86 10 59799601<br/>Téléc. :  86 10 84537001</p>
										</div>
                                        </div>
	
    <div class="col-lg-4">
                                        <div class="d_location">
											<h5 style="font-weight:bold;">Ningbo</h5>
											<p>Room 10-5, Yin Yi Time Square<br/>No.8 Lengjing Street<br/>Haishu District<br/>Ningbo, Zhejiang<br/>315000<br/><br/>Tél. :   86 574 27892660<br/>Téléc. :  86 574 27892672/68</p>
										</div>
                                        </div>                                       
                                   <div class="col-lg-4">     
                                <div class="d_location">
											<h5 style="font-weight:bold;">Shenzhen</h5>
											<p>Room 1607, Block A, Haisong Building<br/>No.9 Tairan Road Futian<br/>Shenzhen, Guangdong<br/>518040<br/><br/>Tél. :   86 755 2532 2536/37<br/>Téléc. :  86 755 8292 7001/7791</p></div>
										</div>                                               
									</div>
                                     <div class="col-lg-2"></div>
                                     </div> 
									 <div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8">  
                                <div class="col-lg-4">
                                     <div class="d_location">
											<h5 style="font-weight:bold;">Dalian</h5>
											<p>Room 602, No. 55-3<br/>Dandong Street<br/>Zhongshan District<br/>Dalian, Liaoning<br/>116001<br/><br/>Tél. :   86 411 82712448<br/>Téléc. :  86 411 82730799</p>
										</div>
                                        </div>									
                                          <div class="col-lg-4">
                                        <div class="d_location">
											<h5 style="font-weight:bold;">Qingdao</h5>
											<p>Floor 10, No. 7 Building<br/>No. 288 Ningxia Road<br/>Qingdao, Shandong<br/>266071<br/><br/>Tél. :   86 532 66707066/77<br/>Téléc. :  86 532 66707088/99</p>
										</div>
                                        </div>                                    
                                       <div class="col-lg-4">   
                                    <div class="d_location">
											<h5 style="font-weight:bold;">Tianjin</h5>
											<p>Room 1001, Waidai Tower<br/>No.5 Xuzhou Road<br/>Hexi District<br/>Tianjin, China 300042<br/><br/>Tél. :   86 22 23161200<br/>Téléc. :  86 22 23161209</p>
										</div>  
                                        </div>  
									</div>
                                     <div class="col-lg-2"></div>
                                     </div>
									 <div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8"> 
                     <div class="col-lg-4">    
                                    <div class="d_location">
											<h5 style="font-weight:bold;">Guangzhou</h5>
											<p>Room 1520A, Cts Plaza, No.219<br/>Zhongshan Wu Rd<br/>Yuexiu District<br/>Guangzhou, Guangdong<br/>510030<br/><br/>Tél. :   86 20 83278597/02<br/>Téléc. :  86 20 83279119</p>
										</div>
                                        </div>                                        
                                         <div class="col-lg-4">    
                                    <div class="d_location">
											<h5 style="font-weight:bold;">Shanghai</h5>
											<p>Room 1501-1504, 15 F<br/>No. 248 Yang Shu Pu Road<br/>Shanghai, Shanghai<br/>200082<br/><br/>Tél. :   86 21 61177966<br/>Téléc. :  86 21 61177976/77</p>
										</div>
                                        </div>
                                        
   <div class="col-lg-4">    
										<div class="d_location">
											<h5 style="font-weight:bold;">Xiamen</h5>
											<p>Room 502, Building D<br/>Xiamen Logistics Center No.99, Xiangyu Road<br/>Xiamen, Fujian<br/>361006<br/><br/>Tél. :  86 592 569 0502<br/>Téléc. :  86 592 569 0510</p>
										</div>
                                        </div>
									</div>
                                    <div class="col-lg-2"></div>  </div>
                                            <div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8"> 
                     <div class="col-lg-8">    
                                    <div class="d_location">
											<h5 style="font-weight:bold;">Zhongshan</h5>
											<p>Room 705, 7th Floor, Building A5<br/>Shang Feng Financial Business Center<br/>No.88 Zhongshan Fourth Road<br/>Eastern District<br/>Zhongshan, Guangdong<br/>528403<br/><br/>Tél. :   86 760 88381566<br/>Téléc. :  86 760 88380873</p>
										</div> 
                                        </div>
                                        <div class="col-lg-4">    </div>                                          
                                             <div class="col-lg-4"></div>
                                             </div>
                                              <div class="col-lg-2"></div>
                                              </div>      
                                      <div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-8" >	
                        <div class="col-lg-8"> 
                         <div class="d_location">
								<h4>TAÏWAN<br/>Delmar International (Taiwan) Ltd.</h4>
								 </div> </div>
                        <div class="col-lg-2"></div>
                         <div class="col-lg-2"></div>
                        </div>
                                 <div class="col-lg-2"></div>
                                </div>
                            <div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8"> 								
								<div class="col-lg-4">
									<div class="d_location">
										<h5 style="font-weight:bold;">Kaohsiung</h5>
										<p>Flat 1, 5/f, 110 San To 4th Rd<br/>Ling Ya District<br/>Kaohsiung, Kaohsiung<br/>80247<br/><br/>Tél. :   886 7 332 6570<br/>Téléc. :  886 7 332 6593</p>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="d_location">
										<h5 style="font-weight:bold;">Taipei</h5>
										<p>Unit 2 5/fl 103 Riu-Hu St<br/>Bonn Technology Center<br/>Nei-Hu District<br/>Taipei, Taipei<br/><br/>Tél. :   886 2 2627 2802<br/>Téléc. :  886 2 2659 7186</p>
									</div>
								</div>                                
                                 <div class="col-lg-4"></div>                                
							</div>
						 <div class="col-lg-2"></div>
                         </div>            
                  <div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-8" >	
                        <div class="col-lg-8"> 
                         <div class="d_location">
								<h4>HONG KONG<br/>Delmar International (H.K.) Ltd.</h4>
								 </div> </div>
                        <div class="col-lg-2"></div>
                         <div class="col-lg-2"></div>
                        </div>
                                 <div class="col-lg-2"></div>
                                </div>                           
                             <div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8"> 
								<div class="col-lg-4">
									<div class="d_location">
										<h5 style="font-weight:bold;">New Territories</h5>
										<p>Unit 4601, Level 46, Tower 1<br/>Metroplaza<br/>223 Hing Fong Road, Kwai Fong<br/>New Territories, Hong Kong<br/><br/>Tél. :  852 2363 4218<br/>Téléc. :  852 2764 2429</p>
									</div>
								</div>
                                 <div class="col-lg-4"></div>
                                  <div class="col-lg-4"></div>								
							</div>
                             <div class="col-lg-2"></div>
                             </div>                                      
                                 <div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-8" >	
                        <div class="col-lg-8"> 
                         <div class="d_location">
								<h4 >VIÊT NAM<br/>Delmar International (Vietnam) Ltd.</h4>
								 </div> </div>
                        <div class="col-lg-2"></div>
                         <div class="col-lg-2"></div>
                        </div>
                                 <div class="col-lg-2"></div>
                                </div>
                            <div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8"> 
								<div class="col-lg-4">
									<div class="d_location">
										<h5 style="font-weight:bold;">Haiphong</h5>
										<p>3rd Floor, Machinco Building No.5A<br/>Vo Thi Sau St, May to Ward<br/>Ngo Quyen Dist.<br/>Hai Phong City, Hai Phong<br/><br/>Tél. :   843 1355 5476Téléc. :  843 1355 5475</p>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="d_location">
										<h5 style="font-weight:bold;">Hanoi</h5>
										<p>2nd Floor, No 04<br/>Vu Ngoc Phan Str.<br/>Dong Da Dist.<br/>Hanoi, Ha Noi<br/><br/>Tél. :   844 3776 5515/16/17<br/>Téléc. :  844 3776 5518</p>
									</div>
								</div>
								<div class="col-lg-4">
									<div class="d_location">
										<h5 style="font-weight:bold;">Ho Chi Minh</h5>
										<p>72A Tran Quoc Toan Street,<br/>District 3<br/>Ho Chi Minh City, Ho Chi Minh<br/><br/>Tél. :   848 3820 1788<br/>Téléc. :  848 3820 1784</p>
									</div>
								</div>
							</div>
                             <div class="col-lg-2"></div>
                             </div>                                                 
           	<div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8">  
                                <div class="col-lg-8">
									<div class="d_location">
										<h4>CAMBODGE<br/>Delmar International (Cambodia) Ltd.</h4>
										<h5 style="font-weight:bold;">Phnom Penh</h5><p>Parkway Square, Room # 3FK2<br/>Floor 3rd, at V-Trust office #113<br/>Mao Tse Tong Blvd, Street 245<br/>Sangkat Toul Svayprey I<br/>Khan Chamkarmorn<br/>Phnom Penh, Phnom Penh<br/><br/>Tél. :    855 23 987 248<br/>Téléc. :   855 23 987 675</p>
									</div>
								</div>
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2"></div>
							</div>
                                    <div class="col-lg-2"></div>
                                    </div>                           
                                  <div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8">  
                                <div class="col-lg-8">
                           <div class="d_location">
										<h4>PHILIPPINES<br/>Delmar International (Philippines) Ltd.</h4>
										<h5 style="font-weight:bold;">Manila</h5>
										<p>A-Unit L, Oyster Plaza Bldg<br/>Ninoy Aquino Avenue<br/>Paranaque City<br/>Manila, Manila<br/><br/>Tél. :   632 829 0301<br/>Téléc. :  632 826 5211</p>
									</div>
                                    </div>
                                     <div class="col-lg-2"></div>
                                      <div class="col-lg-2"></div>
								</div>
                                 <div class="col-lg-2"></div>
                                </div>                       
                    <div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8">  
                     <div class="col-lg-8">
									<div class="d_location">
										<h4>MEXIQUE<br/>Delmar Logistica (Mexico) S.A.P.I.</h4>
										<h5 style="font-weight:bold;">Mexico D.F., Mexico</h5>
										<p>	Bosques de Duraznos 61 piso 8<br/>Bosques de las Lomas<br/>Mexico City, Mexico<br/>CP 11700<br/>Mexico<br/><br/>Tél. :   52 55 5950 2000<br/>Téléc. :  52 55 5251 3726</p>
									</div>
                                    </div>
                                <div class="col-lg-2"></div>
                                <div class="col-lg-2"></div>
									</div>
                                    <div class="col-lg-2"></div>
                                    </div>
				  <div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8">  
                                <div class="col-lg-8">
                            <div class="d_location">
										<h4>BRÉSIL<br/>Delmar-Locksley Logistica Ltda.</h4>
										<h5 style="font-weight:bold;">São Paulo</h5>
										<p>Rua Carlos Petit, 161<br/>Un.: 102<br/>Vila Mariana – Cep. 04110-000<br/>São Paulo / SP - Brasil<br/><br/>Tél. :    55 11 5081 7667<br/>Téléc. :   55 11 5081 7513</p>
									</div>
                                    </div>
                                     <div class="col-lg-2"></div>
                                      <div class="col-lg-2"></div>
								</div>
                                 <div class="col-lg-2"></div>
                                </div>
							<div class="row">
                            <div class="col-lg-2"></div>
					<div class="col-lg-8">  
                                <div class="col-lg-8">
									<div class="d_location">
										<h4>BARBADOS<br/>Deltrans International Shipping Corporation</h4>
										<h5 style="font-weight:bold;">Saint Michael</h5>
										<p>Suite 104, One Financial Place<br/>
Lower Collymore Rock<br/>
Bridgetown, St. Michael<br/><br/>Tel:  246 228 2415<br/>Fax: 246 426 1187</p>
									</div>
									</div>
                                     <div class="col-lg-2"></div>
                                      <div class="col-lg-2"></div>
								</div>
                                 <div class="col-lg-2"></div>
                                </div>
                           <div class="row">
						<div class="col-lg-2"></div>
						<div class="col-lg-8" >	
                        <div class="col-lg-8"> 
                         <div class="d_location">
								<h2 >Questions ou des inquiétudes générales:</h2>                  
                        <p><a href="mailto:info@delmarcargo.com">info@delmarcargo.com</a></p>
						<p>La couverture mondiale est assurée grâce à un réseau exclusif d’agences partenaires, qui sont toutes autorisées à utiliser tant le Connaissement de DelTrans (le NVOCC de Delmar) que la technologie DCMS™ (Système de gestion des expéditions Delmar) exclusive à Delmar.</p>
								 </div> </div>
                        <div class="col-lg-2"></div>
                         <div class="col-lg-2"></div>
                        </div>
                                 <div class="col-lg-2"></div>
                                    <div class="d_dividerbar white"></div>
                                </div>
			</div>
            </div>
		</section>                     
	
            
 
		<div class="d_dividerbar" ></div>		
        </div>
 <!-- [footer -->
<div class="secondb">
  <div class="container">
      <div class="row-fluid" align="center">
              <a href="http://www.ciffa.com/?lang=fr" target="_blank"><img src="../img/footer/ciffalogo_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://cscb.ca/" target="_blank"><img src="../img/footer/cscb_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbp.gov/border-security/ports-entry/cargo-security/c-tpat-customs-trade-partnership-against-terrorism" target="_blank"><img src="../img/footer/ct-pat_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.iata.org/Pages/default.aspx" target="_blank"><img src="../img/footer/iata_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbsa-asfc.gc.ca/security-securite/pip-pep/menu-fra.html" target="_blank"><img src="../img/footer/pip_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="https://www.wcaworld.com/eng/home.asp" target="_blank"><img src="../img/footer/wca_03.png" alt="" style="padding: 0px 35px;"></a>
      </div>
    </div>
  </div> 
      <footer id="footer">
    <div class="container">
      <div class="row">     
          <div class="container">
			<div class="row">			
				<div class="footer-copyright">
					© 2015 Delmar International Inc. Tous Droits Réservés | <a href="legal.html" target="_blank">Légal</a>   
				</div>
			</div>
        </div>
       </div>
      </div>
  </footer>
  <!-- ]end of footer -->
	