---
name: "contact-delmar"
title: "Contacte a Delmar International Inc."
desc: "En Delmar , trabajamos con usted para crear soluciones que sean flexibles y resultar en el servicio más altamente fiable y personalizable en la industria. Póngase en contacto con nosotros y háganos saber acerca de sus necesidades , Delmar siempre puede ofrecerle la mejor solución y una atención personalizada , así como uno de los mejor herramienta de seguimiento en línea que le permiten seguir un solo envío en tiempo real"
keywords: "cross dock, transporte de carga, trabajos de transporte de carga, transporte aéreo, servicios de transporte de carga terrestre, transportes de carga terrestres por Canadá, transporte de carga terrestre en América del Norte, corretaje de aduanas, agente de aduanas, agentes de aduanas, corretaje de aduanas Canadá, corretaje de aduanas de Montreal, servicio personalizado en México, servicio personalizado en China, servicio de fletes personalizado en Canadá, agente de transporte, agente de bolsa, corretaje, carga, agente de carga, vagón de carga, agente de carga, transportistas, carga expedición Canadá, internacional de transporte de carga, envío, carga, carga, envío, embarque, carga, transporte, fletes, carga, fletes, carga , manejo de carga, transporte de carga, velocidad de carga, cita carga, transportista, transportistas, distribución, logística, logística, servicios de logística, logística global, el transporte global, soluciones logísticas globales, el suministro, el suministro, el suministro, el seguimiento, la pista, el comercio, los servicios de información , servicios, aire, mar, almacén de aduanas, de autobuses, servicios de contenedores, asesores personalizados, exportación, servicios domésticos, ACI, AMS, consultoría PARS, SAFP, servicios de importación, internacional, empaque y embalaje, el coche de la piscina, el ferrocarril, los agentes del buque de vapor, vapor , los servicios de transporte por carretera, camiones, camión, materiales peligrosos, envío, barco de contenedores, el envío, envío, almacenamiento, depósito, almacén, reposición, repositing, importación, exportación, comercialización, distribución complejos, despacho, transporte de mercancías, bienes de llevar, envío de mercancías, EE.UU., Canadá, Montreal, México, China, Taiwán, Vietnam, Hong Kong, Filipinas, Brasil, Camboya, Barbados, la cobertura mundial, el compromiso social, la acción sostenible, la caridad, multimodal, flexibilidad, soluciones a medida, la carga sensible al tiempo, el suministro, cadena de abastecimiento, soluciones de logistica de suministro, la IATA, CIFFA, C_TPAT, PIP, WCA, carga mundial, DCMS, órdenes de compra, servicios de LTL, guantes blancos, de consolidación, desplegar, capacidades de distribución, trailers de superficie plana, cubiertas de paso, flexibilidad de transporte, carga sobredimensionada, carga con dimensiones extras, conocimientos aduanales, experiencia con aduanas internacionales, Delmar International Inc., Delmar, Delmarcargo, Delmar fletes, grupo Delmar, Delmar International, Delmar-grupo, transpacífico, importación, exportación, trnasporte de carga, RI, agente de puerto, el embalaje, recipiente, póngase en contacto con nosotros, chat en vivo , contacto, número de teléfono, dirección, teléfono gratuito"
author: "Adriana Molano, Isabel Quintela, Margarita Mayoral"
format-detection: "telephone=no"
viewport: "width=device-width, initial-scale=1, maximum-scale=1" 
rootdir: ""
---
  <!-- [header --> 
        <div class="header_top">
    <div class="container">
      <!-- Contact Details -->
      <div id="contact-details">
        <ul>
          <li>La logística simplificada</li>
        </ul>
      </div>
      <ul id="owl-tt-menu" class="owl-tt-menu">
		<li> <a href="#">Español</a>
          <ul class="owl-tt-submenu">
            <li><a href="../en/{{this.name}}.html" >English</a></li>
            <li><a href="../fr/{{this.name}}.html" >Français</a></li>
            <li><a href="../pt/{{this.name}}.html" >Português</a></li>
            <li><a href="../ch/{{this.name}}.html" >中文</a></li>
          </ul>
        </li>
        <li> <a href="login-page.html" target="_blank" >Iniciar sesión</a>
        <ul class="owl-tt-submenu">
            <li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
            <li><a href="aci-ams.html" >ACI-AMS</a></li>
            
          </ul>
          </li>
      </ul>
      <div class="social-top"> <a href="http://www.twitter.com/delmarcargo" target="_blank" class="fa fa-twitter"></a> <a href="http://www.facebook.com/delmarcargo" target="_blank" class="fa fa-facebook"></a> <a href="http://www.youtube.com/delmarcargo" target="_blank" class="fa fa-youtube"></a>    <a href="https://plus.google.com/+Delmarcargo" target="_blank" class="fa fa-gplus"></a> <a href="http://www.linkedin.com/company/delmar-international-inc." target="_blank" class="fa fa-github"></a> </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- Navigation -->
  <div id="nav">
    <div class="nav-sticky">
      <div class="container navbar navbar_ clearfix">
        <div class="navbar-inner">
          <div class=" row">
            <!--============================== OWL MENU =================================-->
            <div class="owl-contener col-md-12  clearfix">
              <!-- Logo -->
				<h1 class="brand fleft"><a href="index.html"><img src="../img/logo.png" alt=""></a><span>Delmar International Inc.</span></h1>
				<div class="cat-title"></div>
				<ul class="owl-menu menu-content">
                <li class="single-dropdown loginvisibility">
						<a href="#">Español</a>
          <ul class="owl-submenu" style="width: 100%;">
            <li><a href="../en/{{this.name}}.html" >English</a></li>
            <li><a href="../fr/{{this.name}}.html" >Français</a></li>
            <li><a href="../pt/{{this.name}}.html" >Português</a></li>
            <li><a href="../ch/{{this.name}}.html" >中文</a></li>
          </ul>
				</li>    
                 <li class="single-dropdown loginvisibility">
						<a href="#">Síganos</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="http://www.twitter.com/delmarcargo" target="_blank">Twitter</a></li>
							<li><a href="http://www.facebook.com/delmarcargo" target="_blank">Facebook</a></li>
							<li><a href="http://www.youtube.com/delmarcargo" target="_blank">Youtube</a></li>
							<li><a href="https://plus.google.com/+Delmarcargo" target="_blank">Google + </a></li>
							<li><a href="https://www.linkedin.com/company/delmar-international-inc-" target="_blank">Linkedin</a></li>
						</ul>
				</li>     
                <li class="single-dropdown loginvisibility"> 
                    <a href="login-page.html">Iniciar sesión</a>
                    <ul class="owl-submenu"style="width: 250px;">
							<li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
							<li><a href="aci-ams.html" >ACI-AMS</a></li>
						</ul>
                </li>
              
                <li class="single-dropdown"> 
                    <a href="services.html">Servicios Principales</a>
                    <ul class="owl-submenu" style="width: 100%;">
						<li><a href="services.html#transporteinternacional" >Transporte internacional de carga</a></li>
						<li><a href="services.html#cumplimientoaduanal" >Cumplimiento aduanal</a></li>
						<li><a href="services.html#serviciosterrestres" >Transporte terrestre</a></li>
						<li><a href="services.html#distribucion" >Almacenamiento y Distribución</a></li>
						<li><a href="services.html#technologia" >Nuestra Tecnología</a></li>
					</ul>
                </li>
              
                <li class="single-dropdown"> 
                    <a href="news.html">Noticias</a>
                    <ul class="owl-submenu" style="width: 100%;">
									<li><a href="news.html#latest" >Últimas notícias</a></li>
									<li><a href="news.html#publicaciones" >Publicaciones</a></li>
									<li><a href="news.html#prensa" >En la prensa</a></li>
									<li><a href="news.html#video" >Videos</a></li>
								</ul>
                </li>
              
                <li class="single-dropdown"> 
                    <a href="our-company.html">Nuestra Empresa</a>
                     <ul class="owl-submenu" style="width: 100%;">
								<li><a href="our-company.html#cubrimiento" >Cubrimiento Global</a></li>
								<li><a href="our-company.html#oportunidades" >Oportunidades</a></li>
								<li><a href="our-company.html#compromiso" >Compromiso social</a></li>
								<li><a href="our-company.html#sostenible" >Acción sostenible</a></li>
								<li><a href="our-company.html#mision" >Declaración de misión</a></li>
							
					</ul>
                </li>
              
                <li class="single-dropdown">
                    <a href="links.html">Links</a>
                 <ul class="owl-submenu" style="width: 100%;">
							
								<li><a href="links.html#canada" >Canadá</a></li>
								<li><a href="links.html#usa" >Estados Unidos</a></li>	
					</ul>  
                </li>
              
                <li class="single-dropdown">
                    <a href="contact-delmar.html">Contáctenos
                  <div class="skewed_slide"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
       <!-- ]header -->
    <div class="content" style="background-color:#FFFFFF;" >
		<section id="contactus">
			<div class="d_section d_contact">
				<div class="d_top parallax">
					<div class="container" >
						<div class="d_titlebar">
								<h1>CONTÁCTENOS</h1>
								<p></p>
						</div>
					</div>
				</div>
				<div class="d_dividerbar cyan" >  </div>	
				<div class="d_dividerbar white"></div>
				<div class="container" style="background-color:#FFFFFF;">					
				</div>
				<div class="container">
					<div class="col-lg-2"></div>
					<div class="col-lg-8">
                    <div class="row">
						<div class="col-lg-6">
									<h2 style="text-align:left">Delmar International Inc.</h2>
									<p style="text-align:justify">10636 Chemin de la Côte-de-Liesse<br/>Lachine, Québec <br/>H8T 1A5 <br/>Canada<br/><br/>Telefono:   <a href="tel:514-636-8800">514 636 8800</a><br/>Toll Free: <a href="tel:1-888-4-335-627">1 888 4 DELMAR</a><br><a href="our-company.html#global">Mapa global</a></p><p style="text-align:justify;">Lista de oficinas: &nbsp; <a href="worldwide.html" >HTML</a>&nbsp; | &nbsp;<a href="http://www.delmarcargo.com/sales/marketing/pdf/DelmarWorldwide_ES.pdf" target="_blank" >PDF</a> &nbsp;| &nbsp;<a href="http://www.delmarcargo.com/sales/marketing/jpg/DelmarWorldwide_ES.jpg" target="_blank" >JPG</a></p>
								</div>
								<div class="col-lg-6">								
								     <div class="location-map">
                                         
                                     <iframe width="100%" height="350px" frameBorder="0" src="https://www.google.com/maps/d/embed?mid=zKI4TYIH-KuM.klmIlpkSLuqg" ></iframe>
                                         
							
						</div>                       
									<h3 style="text-align:left"></h3>
								</div>
                                </div>
					</div>
					<div class="col-lg-2"></div>
				</div>                      
                <div class="container">
					<div class="col-lg-2"></div>
					<div class="col-lg-8">						
                      <h3>Información de contacto</h3>                          
                        <form action="http://go.delmarcargo.com/RESTForm.aspx" method="GET">
<input type="hidden" name="Customer" value="ch000096654eArad">
<input type="hidden" name="cke" value="1">
<input type="hidden" name="ownerid" value="1">
<input type="hidden" name="overwrite" value="0">
<input type="hidden" name="DialogID" value="1">
<input type="hidden" name="TriggerID" value="1">
<input type="hidden" name="PushExternal" value="1">
<input type="hidden" name="rurl" value="http://www.delmarcargo.com/sp/thank-you.html">    
<table style=" background: #FFF;
  font-family: 'PT Sans', sans-serif; font-size:14px; border:1px solid #DDD;         
 margin-bottom: 40px;  margin-top: 20px;
color: #000;
border-radius: 5px;
-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
     width: 100%;">
  <tbody>
    <tr>
      <td width="20%" ><label for="FirstName" style="margin-left:30px; margin-top:30px; font-weight:normal;" >Nombre:</label></td>
      <td width="30%" ><input  style="border: 2px solid #CCC;
    color: #888; height: 30px;line-height:15px; margin-bottom: 14px; margin-right: 0px; margin-left: 0px;
    margin-top: 30px;outline: 0 none; padding: 5px 0px 5px 5px; width: 80%; border-radius: 5px; -webkit-border-radius: 5px;
    -moz-border-radius: 5px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); transition-property: background-color, box-shadow;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease-out, ease-out;
  transition-delay: 0s, 0s;
  box-shadow: 0px 0px 8px transparent;" 
                              id="FirstName" maxlength="60" name="FirstName" size="25%" type="text" /></td>
    </tr>
      <tr>
      <td><label for="LastName" style="margin-left:30px; font-weight:normal;">Apellido:</label></td>
      <td><input style="border: 2px solid #CCC;
    color: #888; height: 30px;line-height:15px; margin-bottom: 14px; margin-right: 0px; margin-left: 0px;
    margin-top: 14px;outline: 0 none; padding: 5px 0px 5px 5px; width: 80%; border-radius: 5px; -webkit-border-radius: 5px;
    -moz-border-radius: 5px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); transition-property: background-color, box-shadow;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease-out, ease-out;
  transition-delay: 0s, 0s;
  box-shadow: 0px 0px 8px transparent; " id="LastName" maxlength="60" name="LastName" size="70" type="text" /></td>
        </tr>
      <tr>
        <td ><label for="Email" style="margin-left:30px; font-weight:normal;">Email:</label></td>
      <td ><input  style="border: 2px solid #CCC;
    color: #888; height: 30px;line-height:15px; margin-bottom: 14px; margin-right: 0px; margin-left: 0px;
    margin-top: 14px;outline: 0 none; padding: 5px 0px 5px 5px; width: 80%; border-radius: 5px; -webkit-border-radius: 5px;
    -moz-border-radius: 5px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); transition-property: background-color, box-shadow;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease-out, ease-out;
  transition-delay: 0s, 0s;
  box-shadow: 0px 0px 8px transparent;" id="Email" maxlength="60" name="Email" size="70" type="text" /></td>
    </tr>
          <tr>
      <td ><label for="account_name" style="margin-left:30px; font-weight:normal;" >Nombre de la Empresa:</label></td>
      <td ><input  style="border: 2px solid #CCC;
    color: #888; height: 30px;line-height:15px; margin-bottom: 14px; margin-right: 0px; margin-left: 0px;
    margin-top: 14px;outline: 0 none; padding: 5px 0px 5px 5px; width: 80%; border-radius: 5px; -webkit-border-radius: 5px;
    -moz-border-radius: 5px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); transition-property: background-color, box-shadow;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease-out, ease-out;
  transition-delay: 0s, 0s;
  box-shadow: 0px 0px 8px transparent;" id="account_name" maxlength="60" name="account_name" size="25%" type="text" /></td>
        </tr>
      <tr>
      <td><label for="phone_work" style="margin-left:30px; font-weight:normal;">Número de teléfono:</label></td>
      <td><input style="border: 2px solid #CCC;
    color: #888; height: 30px;line-height:15px; margin-bottom: 14px; margin-right: 0px; margin-left: 0px;
    margin-top: 14px;outline: 0 none; padding: 5px 0px 5px 5px; width: 80%; border-radius: 5px; -webkit-border-radius: 5px;
    -moz-border-radius: 5px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); transition-property: background-color, box-shadow;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease-out, ease-out;
  transition-delay: 0s, 0s;
  box-shadow: 0px 0px 8px transparent;" id="phone_work" maxlength="60" name="phone_work" size="25%" type="text" />
  </td>
    </tr>
      <tr>
      <td valign="top"><label for="Department" style="margin-left:30px; font-weight:normal; " value="Department" valign="top">Estoy interesado(a) en:<br> (selección multiple)</label></td>
        <td><p style="font-style:normal; font-weight:lighter;">
          <label>
            <input type="checkbox" name="Department_" value="International Freight Forwarding" id="Department_0"   >
            &nbsp;Transporte Internacional de Carga </label>
          <br>
          <label>
            <input type="checkbox" name="Department_" value="American Customs Brokerage" id="Department_1"  >
            &nbsp;Cumplimiento Regulatorio Aduanal EE.UU </label>
          <br>
          <label>
            <input type="checkbox" name="Department_" value="Canadian Customs Brokerage  " id="Department_2"  >
            &nbsp;Cumplimiento Regulatorio Aduanal Canadiense </label>
          <br>
          <label>
            <input type="checkbox" name="Department_" value="Trucking to/from Canada/USA" id="Department_3"   >
           &nbsp;Servicios Terrestres hacia/desde Canada/EE.UU</label>
          <br>
          <label>
            <input type="checkbox" name="Department_" value="Warehousing or Distribution" id="Department_4"   >
            &nbsp;Almacenamiento y/o Distribución </label>
          <br>
          <label>
            <input type="checkbox" name="Department_" value="Cargo Tracking or Order Management Technology" id="Department_5"   >
            &nbsp;Administración de Carga y/o Rastreo </label>
          <br>
          <label>
            <input type="checkbox" name="Department_" value="Please just send me some rates" id="Department_6"  >
            &nbsp;Necesito una Cotización: </label>          
          <br>
           <label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="Department_" value="Please just send me some rates" id="Department_6b" >
            &nbsp;Contáctenme para información adicional, o</label>
            <br>
           <label>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="Department_" value="Please just send me some rates" id="Department_6a"   >
            &nbsp;Información adicional adjunta </label>
          <br>
        </p></td>        
      </tr>
      <tr>
        <td><label for="Description" style="margin-left:30px; font-weight:normal;" value="Description" ></label></td>
        <td> <textarea name="Description" maxlength="500" wrap="soft" id="Description" style="border: 2px solid #CCC;
    color: #888; height: 80px;line-height:15px; margin-bottom: 14px; margin-right: 0px; margin-left: 0px;
    margin-top: 14px;outline: 0 none; padding: 5px 0px 5px 5px; width: 80%; border-radius: 5px; -webkit-border-radius: 5px;
    -moz-border-radius: 5px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); transition-property: background-color, box-shadow;
  transition-duration: 0.5s, 0.5s;
  transition-timing-function: ease-out, ease-out;
  transition-delay: 0s, 0s;
  box-shadow: 0px 0px 8px transparent;"></textarea> </td>      
      </tr>      
      <tr>        
        <td> <label for="campaign_id"></label><input type="hidden" name="campaign_id" value="1abe7ca8-7a98-c782-5a20-536cdbbc8912"/></td>
        <td><label for="lead_source"></label><input type="hidden" name="lead_source" value="Web Site"/></td>
        </tr>      
      <tr>
      <td></td>    
     <td> <input style="background: #316ba8; border: 1px solid #CCC; padding: 5px 25px 5px 25px;  color: #FFF; margin-bottom: 30px;  border-radius: 5px;  " type="submit" name="submit" value="Enviar"></td>
    </tr>    
  </tbody>
</table>
</form>                        
					</div>
					<div class="col-lg-2"></div>
				</div>                
				<div class="d_dividerbar white"></div>
			</div>
	</section>
    </div>
	<!-- [footer -->
<div class="secondb">
   <div class="container">
      <div class="row-fluid" align="center">
              <a href="http://www.ciffa.com/" target="_blank"><img src="../img/footer/ciffalogo_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://cscb.ca/" target="_blank"><img src="../img/footer/cscb_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbp.gov/border-security/ports-entry/cargo-security/c-tpat-customs-trade-partnership-against-terrorism" target="_blank"><img src="../img/footer/ct-pat_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.iata.org/Pages/default.aspx" target="_blank"><img src="../img/footer/iata_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbsa-asfc.gc.ca/security-securite/pip-pep/menu-eng.html" target="_blank"><img src="../img/footer/pip_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="https://www.wcaworld.com/eng/home.asp" target="_blank"><img src="../img/footer/wca_03.png" alt="" style="padding: 0px 35px;"></a>
      </div>
    </div>
  </div>
      <footer id="footer">
    <div class="container">
      <div class="row">     
          <div class="container">
			<div class="row">			
				<div class="footer-copyright">
					© 2015 Delmar International Inc. Derechos de Autor | <a href="legal.html" target="_blank">Legal</a>  
				</div>
			</div>
        </div>          
        </div>
      </div>
  </footer>
  <!-- ]end of footer -->
</div>
<script type="text/javascript" language="JavaScript" src="http://go.delmarcargo.com/js/frs-app-96654.js"></script>
