---
name: "links"
title: "Links"
desc: "Importación de carga en Canadá y los EE.UU. , presentar sus manifiestos electrónicamente 24/7 , respetando Avance Información Comercial iniciativa de la CBSA (ACI) y las regulaciones de Estados Unidos Sistema Automatizado de Manifiesto ( AMS) . "
keywords: "cross dock, transporte de carga, los trabajos de transporte de carga, transporte aéreo, servicios Truckload, Canadá camiones, América del Norte de camiones, corretaje de aduanas, agente de aduanas, agentes de aduanas, corretaje de aduanas Canadá, corretaje de aduanas de Montreal, las costumbres de México, las costumbres de China, costumbres Canadá, transporte agente, agente de bolsa, corretaje, carga, agente de carga, vagón de carga, agente de carga, transitarios, carga expedición Canadá, internacional de transporte de carga, envío, carga, carga, envío, embarque, carga, transporte, fletes, carga, fletes, carga , manejo de carga, transporte de carga, velocidad de carga, cita carga, transportista, transportistas, distribución, logística, logística, servicios de logística, logística global, el transporte global, soluciones logísticas globales, el suministro, el suministro, el suministro, el seguimiento, la pista, el comercio, los servicios de información , servicios, aire, mar, almacén de aduanas, de autobuses, servicios de contenedores, asesores personalizados, exportación, servicios domésticos, ACI, AMS, consultoría PARS, SAFP, servicios de importación, internacional, empaque y embalaje, el coche de la piscina, el ferrocarril, los agentes del buque de vapor, vapor , los servicios de transporte por carretera, camiones, camión, materiales peligrosos, envío, barco de contenedores, el envío, envío, almacenamiento, depósito, almacén, reposición, repositing, importación, exportación, comercialización, distribución complejos, despacho, transporte de mercancías, bienes de llevar, envío de mercancías, EE.UU., Canadá, Montreal, México, China, Taiwán, Vietnam, Hong Kong, Filipinas, Brasil, Camboya, Barbados, la cobertura mundial, el compromiso social, la acción sostenible, la caridad, multimodal, flexibilidad, soluciones a medida, la carga sensible al tiempo, el suministro, el abastecimiento cadena, soluciones de la cadena de suministro, la IATA, CIFFA, C_TPAT, PIP, WCA, carga mundial, DCMS, órdenes de compra, servicios de LTL, guantes blancos, de consolidación, desplegar, capacidades de distribución, de superficie plana, cubiertas de paso, roll-tite flecibility, sobre dimensiones , conocimientos, experiencia, Delmar International Inc., Delmar, Delmarcargo, Delmar carga, grupo Delmar, Delmar International, Delmar-grupo, transpacífico, importación, exportación, transload, RI, el puerto, la vela, el envase, recipiente, ACI, AMS, CBSA , entorno de producción, ambiente de entrenamiento, los datos de carga marítima, CBP, móviles, Océano arancel, tarifa de acceso Formulario de Solicitud "
author: "Adriana Molano, Isabel Quintela, Margarita Mayoral"
format-detection: "telephone=no"
viewport: "width=device-width, initial-scale=1, maximum-scale=1" 
rootdir: ""
---
  <!-- [header --> 
       <div class="header_top">
    <div class="container">
      <!-- Contact Details -->
      <div id="contact-details">
        <ul>
          <li>La logística simplificada</li>
        </ul>
      </div>
      <ul id="owl-tt-menu" class="owl-tt-menu">
		<li> <a href="#">Español</a>
          <ul class="owl-tt-submenu">
            <li><a href="../en/{{this.name}}.html" >English</a></li>
            <li><a href="../fr/{{this.name}}.html" >Français</a></li>
            <li><a href="../pt/{{this.name}}.html" >Português</a></li>
            <li><a href="../ch/{{this.name}}.html" >中文</a></li>
          </ul>
        </li>
        <li> <a href="login-page.html" target="_blank" >Iniciar sesión</a>
        <ul class="owl-tt-submenu">
            <li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
            <li><a href="aci-ams.html" >ACI-AMS</a></li>
            
          </ul>
          </li>
      </ul>
      <div class="social-top"> <a href="http://www.twitter.com/delmarcargo" target="_blank" class="fa fa-twitter"></a> <a href="http://www.facebook.com/delmarcargo" target="_blank" class="fa fa-facebook"></a> <a href="http://www.youtube.com/delmarcargo" target="_blank" class="fa fa-youtube"></a>    <a href="https://plus.google.com/+Delmarcargo" target="_blank" class="fa fa-gplus"></a> <a href="http://www.linkedin.com/company/delmar-international-inc." target="_blank" class="fa fa-github"></a> </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- Navigation -->
  <div id="nav">
    <div class="nav-sticky">
      <div class="container navbar navbar_ clearfix">
        <div class="navbar-inner">
          <div class=" row">
            <!--============================== OWL MENU =================================-->
            <div class="owl-contener col-md-12  clearfix">
              <!-- Logo -->
				<h1 class="brand fleft"><a href="index.html"><img src="../img/logo.png" alt=""></a><span>Delmar International Inc.</span></h1>
				<div class="cat-title"></div>
				<ul class="owl-menu menu-content">
                <li class="single-dropdown loginvisibility">
						<a href="#">Español</a>
          <ul class="owl-submenu" style="width: 100%;">
            <li><a href="../en/{{this.name}}.html" >English</a></li>
            <li><a href="../fr/{{this.name}}.html" >Français</a></li>
            <li><a href="../pt/{{this.name}}.html" >Português</a></li>
            <li><a href="../ch/{{this.name}}.html" >中文</a></li>
          </ul>
				</li>    
                 <li class="single-dropdown loginvisibility">
						<a href="#">Síganos</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="http://www.twitter.com/delmarcargo" target="_blank">Twitter</a></li>
							<li><a href="http://www.facebook.com/delmarcargo" target="_blank">Facebook</a></li>
							<li><a href="http://www.youtube.com/delmarcargo" target="_blank">Youtube</a></li>
							<li><a href="https://plus.google.com/+Delmarcargo" target="_blank">Google + </a></li>
							<li><a href="https://www.linkedin.com/company/delmar-international-inc-" target="_blank">Linkedin</a></li>
						</ul>
				</li>     
                <li class="single-dropdown loginvisibility"> 
                    <a href="login-page.html">Iniciar sesión</a>
                    <ul class="owl-submenu" style="width: 100%;">
							<li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
							<li><a href="aci-ams.html" >ACI-AMS</a></li>
						</ul>
                </li>
              
                <li class="single-dropdown"> 
                    <a href="services.html">Servicios Principales</a>
                    <ul class="owl-submenu" style="width: 250px;">
						<li><a href="services.html#transporteinternacional" >Transporte internacional de carga</a></li>
						<li><a href="services.html#cumplimientoaduanal" >Cumplimiento aduanal</a></li>
						<li><a href="services.html#serviciosterrestres" >Transporte terrestre</a></li>
						<li><a href="services.html#distribucion" >Almacenamiento y Distribución</a></li>
						<li><a href="services.html#technologia" >Nuestra Tecnología</a></li>
					</ul>
                </li>
              
                <li class="single-dropdown"> 
                    <a href="news.html">Noticias</a>
                    <ul class="owl-submenu" style="width: 100%;">
									<li><a href="news.html#latest" >Últimas notícias</a></li>
									<li><a href="news.html#publicaciones" >Publicaciones</a></li>
									<li><a href="news.html#prensa" >En la prensa</a></li>
									<li><a href="news.html#video" >Videos</a></li>
								</ul>
                </li>
              
                <li class="single-dropdown"> 
                    <a href="our-company.html">Nuestra Empresa</a>
                     <ul class="owl-submenu" style="width: 100%;">
								<li><a href="our-company.html#cubrimiento" >Cubrimiento Global</a></li>
								<li><a href="our-company.html#oportunidades" >Oportunidades</a></li>
								<li><a href="our-company.html#compromiso" >Compromiso social</a></li>
								<li><a href="our-company.html#sostenible" >Acción sostenible</a></li>
								<li><a href="our-company.html#mision" >Declaración de misión</a></li>
							
					</ul>
                </li>
              
                <li class="single-dropdown">
                    <a href="links.html">Links</a>
                 <ul class="owl-submenu" style="width: 100%;">
							
								<li><a href="links.html#canada" >Canadá</a></li>
								<li><a href="links.html#usa" >Estados Unidos</a></li>	
					</ul>  
                </li>
              
                <li class="single-dropdown">
                    <a href="contact-delmar.html">Contáctenos
                  <div class="skewed_slide"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
       <!-- ]header -->
		<section id="canada" data-title="links" style="background-color:#FFFFFF;" >
			<div class="d_section d_links_aciams" >
				<div class="d_top parallax">
					<div class="container" >
						<div class="d_titlebar">
								<h1>LINKS</h1>
								<p></p>
						</div>
					</div>
				</div>
              	<div class="d_dividerbar cyan" ></div>
				<div class="d_dividerbar white"></div>
			
					<div class="container" style="background-color:#FFFFFF;">
						<div class="col-lg-2"> </div>
						<div class="col-lg-8">
							<h2 style="text-align:left">Gobierno de Canada</h2>
						
							<h3>Canada Border Services Agency</h3>
						<ul>
                                    <li><a href="http://www.cbsa-asfc.gc.ca/comm-eng.html" target="_blank">Import and Export</a></li>
                                    <li><a href="http://www.cbsa-asfc.gc.ca/publications/cn-ad/menu-eng.html" target="_blank">Customs Notices</a></li>
                                   <li> <a href="http://www.cbsa-asfc.gc.ca/trade-commerce/tariff-tarif/menu-eng.html" target="_blank">Customs Tariff</a></li>
										<li><a href="http://www.cbsa-asfc.gc.ca/import/menu-eng.html" target="_blank">Advanced Commercial Information</a></li>
										<li><a href="http://www.cbp.gov/trade/automated/getting-started" target="_blank">Getting started with AMS and For More Information</a></li>
                                        <li><a href="http://www.cbsa-asfc.gc.ca/publications/forms-formulaires/menu-eng.html" target="_blank">Forms</a></li>
									</ul>
                                    
									<h3>Agriculture and Agri-Food Canada</h3>
						  <ul class="choose-us">
								<li> <a href="http://www.agr.gc.ca/eng/industry-markets-and-trade/?id=1360881916382" target="_blank">Industry, Markets and Trade</a></li>
								<li><a href="http://www.agr.gc.ca/eng/news/news-releases-and-statements/?id=1383076728778" target="_blank">News Releases and Statements</a></li>
								<li><a href="http://www.agr.gc.ca/eng/industry-markets-and-trade/exporting-importing-and-buying-assistance/export-from-canada/?id=1410072148277" target="_blank">Exporting, Importing and Buying Assistance</a></li>
						  </ul>
                          
                          
                                    
                                    <h3>Export Development Canada</h3>
									<ul>
                                    <li><a href="http://www.edc.ca/EN/About-Exporting/Trade-Links/Pages/default.aspx" target="_blank">Trade Links</a></li>
                                    <li><a href="http://www.edc.ca/EN/Country-Info/Pages/country-companies.aspx" target="_blank">International Companies with EDC Financing</a></li>
										<li><a href="http://www.edc.ca/EN/About-Exporting/exporter-faqs/Pages/default.aspx" target="_blank">Exporter FAQs </a></li>
									
									</ul>
                                    
                                    <h3>Transport Canada</h3>
									<ul>
                                    <li><a href="http://www.tc.gc.ca/eng/tdg/safety-menu.htm" target="_blank">Transportation of Dangerous Goods</a></li>
                                    <li><a href="http://www.tc.gc.ca/eng/motorvehiclesafety/safevehicles-importation-index-443.htm" target="_blank">Importing Vehicles into Canada</a></li>
									</ul>
						</div>
						<div class="col-lg-2"></div>
					</div>  
                
              
	  <div class="d_dividerbar white"></div>
                 	<div class="d_dividerbar cyan" ></div>	
				  
				
                </div>

        </section> 

		






			<section id="usa" data-title="USA Government">
				<div class="d_section d_links_tariff" style="background-color:#FFFFFF;">
					<div class="d_top parallax">
						<div class="container">
					
						</div>    
					</div>
                
					<div class="d_dividerbar cyan" >  </div>
					    <div class="d_dividerbar white"></div>
				
						<div class="container "  >
							<div class="col-lg-2"></div>
							<div class="col-lg-8">
                                <h2 style="text-align:left">Gobierno de Estados Unidos</h2>
								
                                 <h3>U.S. Customs and Border Protection</h3>
						  <ul class="choose-us">
								<li> <a href="http://www.agr.gc.ca/eng/industry-markets-and-trade/?id=1360881916382" target="_blank">Industry, Markets and Trade</a></li>
								<li><a href="http://www.cbp.gov/trade/basic-import-export" target="_blank">Basic Importing and Exporting</a></li>
								<li><a href="http://www.cbp.gov/trade/automated" target="_blank">ACE and Automated Systems </a></li>
                                <li><a href="http://www.cbp.gov/border-security/ports-entry/cargo-security/c-tpat-customs-trade-partnership-against-terrorism" target="_blank">C-TPAT: Customs-Trade Partnership Against Terrorism</a></li>
                                <li><a href="http://rulings.cbp.gov/" target="_blank">Customs Rulings Online Search System (CROSS)</a></li>
						  </ul>
                          
                          
                          
                        <h3>International Trade Administration</h3>
									<ul>
                                    <li><a href="http://www.ita.doc.gov/trade-topics.asp" target="_blank">Trade Topics</a></li>
                                    <li><a href="http://www.ita.doc.gov/publications/abstracts/export-programs-guide-2009.asp" target="_blank">Exports Program Guide</a></li>
                                  
									</ul>
                                    
									
                          
                                    
                                    <h3>U.S. Department of Agriculture</h3>
									<ul>
                                    <li><a href="http://www.usda.gov/wps/portal/usda/usdahome?navid=EXPORTING_GOODS" target="_blank">Exporting Goods</a></li>
                                    <li><a href="http://www.usda.gov/wps/portal/usda/usdahome?navid=IMPORTING_GOODS" target="_blank">Importing Goods</a></li>
								
									
									</ul>
                                    
                                    <h3>U.S. Department of Transportation</h3>
									<ul>
                                    <li><a href="http://www.phmsa.dot.gov/portal/site/PHMSA" target="_blank">Pipeline and Hazardous Materials Safety Administration</a></li>
                                    
									</ul>
                                
                                
                                
                                
                                
                                
							</div>
							<div class="col-lg-2"></div>
						</div>
					</div>
					<div class="d_dividerbar white"></div>
				
				</div>
			</section>
		
		<!-- [footer -->
<div class="secondb">
   <div class="container">
      <div class="row-fluid" align="center">
              <a href="http://www.ciffa.com/" target="_blank"><img src="../img/footer/ciffalogo_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://cscb.ca/" target="_blank"><img src="../img/footer/cscb_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbp.gov/border-security/ports-entry/cargo-security/c-tpat-customs-trade-partnership-against-terrorism" target="_blank"><img src="../img/footer/ct-pat_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.iata.org/Pages/default.aspx" target="_blank"><img src="../img/footer/iata_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbsa-asfc.gc.ca/security-securite/pip-pep/menu-eng.html" target="_blank"><img src="../img/footer/pip_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="https://www.wcaworld.com/eng/home.asp" target="_blank"><img src="../img/footer/wca_03.png" alt="" style="padding: 0px 35px;"></a>
      </div>
    </div>
  </div>
      <footer id="footer">
    <div class="container">
      <div class="row">     
          <div class="container">
			<div class="row">			
				<div class="footer-copyright">
					© 2015 Delmar International Inc. Derechos de Autor | <a href="legal.html" target="_blank">Legal</a>  
				</div>
			</div>
        </div>          
        </div>
      </div>
  </footer>
  <!-- ]end of footer -->		
