---
name: "gracias"
title: "Gracias por su interes en Delmar International Inc."
desc: "En Delmar , trabajamos con usted para crear soluciones que sean flexibles y resultar en el servicio más altamente fiable y personalizable en la industria. Póngase en contacto con nosotros y háganos saber acerca de sus necesidades , Delmar siempre puede ofrecerle la mejor solución y una atención personalizada , así como uno de los mejor herramienta de seguimiento en línea que le permiten seguir un solo envío en tiempo real"
keywords: "cross dock, transporte de carga, trabajos de transporte de carga, transporte aéreo, servicios de transporte de carga terrestre, transportes de carga terrestres por Canadá, transporte de carga terrestre en América del Norte, corretaje de aduanas, agente de aduanas, agentes de aduanas, corretaje de aduanas Canadá, corretaje de aduanas de Montreal, servicio personalizado en México, servicio personalizado en China, servicio de fletes personalizado en Canadá, agente de transporte, agente de bolsa, corretaje, carga, agente de carga, vagón de carga, agente de carga, transportistas, carga expedición Canadá, internacional de transporte de carga, envío, carga, carga, envío, embarque, carga, transporte, fletes, carga, fletes, carga , manejo de carga, transporte de carga, velocidad de carga, cita carga, transportista, transportistas, distribución, logística, logística, servicios de logística, logística global, el transporte global, soluciones logísticas globales, el suministro, el suministro, el suministro, el seguimiento, la pista, el comercio, los servicios de información , servicios, aire, mar, almacén de aduanas, de autobuses, servicios de contenedores, asesores personalizados, exportación, servicios domésticos, ACI, AMS, consultoría PARS, SAFP, servicios de importación, internacional, empaque y embalaje, el coche de la piscina, el ferrocarril, los agentes del buque de vapor, vapor , los servicios de transporte por carretera, camiones, camión, materiales peligrosos, envío, barco de contenedores, el envío, envío, almacenamiento, depósito, almacén, reposición, repositing, importación, exportación, comercialización, distribución complejos, despacho, transporte de mercancías, bienes de llevar, envío de mercancías, EE.UU., Canadá, Montreal, México, China, Taiwán, Vietnam, Hong Kong, Filipinas, Brasil, Camboya, Barbados, la cobertura mundial, el compromiso social, la acción sostenible, la caridad, multimodal, flexibilidad, soluciones a medida, la carga sensible al tiempo, el suministro, cadena de abastecimiento, soluciones de logistica de suministro, la IATA, CIFFA, C_TPAT, PIP, WCA, carga mundial, DCMS, órdenes de compra, servicios de LTL, guantes blancos, de consolidación, desplegar, capacidades de distribución, trailers de superficie plana, cubiertas de paso, flexibilidad de transporte, carga sobredimensionada, carga con dimensiones extras, conocimientos aduanales, experiencia con aduanas internacionales, Delmar International Inc., Delmar, Delmarcargo, Delmar fletes, grupo Delmar, Delmar International, Delmar-grupo, transpacífico, importación, exportación, trnasporte de carga, RI, agente de puerto, el embalaje, recipiente, póngase en contacto con nosotros, chat en vivo , contacto, número de teléfono, dirección, teléfono gratuito"
author: "Adriana Molano, Isabel Quintela, Margarita Mayoral"
format-detection: "telephone=no"
viewport: "width=device-width, initial-scale=1, maximum-scale=1" 
rootdir: ""
---
  <!-- [header --> 
        <div class="header_top">
    <div class="container">
      <!-- Contact Details -->
      <div id="contact-details">
        <ul>
          <li>La logística simplificada</li>
        </ul>
      </div>
      <ul id="owl-tt-menu" class="owl-tt-menu">
		<li> <a href="#">Español</a>
          <ul class="owl-tt-submenu">
            <li><a href="../en/{{this.name}}.html" >English</a></li>
            <li><a href="../fr/{{this.name}}.html" >Français</a></li>
            <li><a href="../pt/{{this.name}}.html" >Português</a></li>
            <li><a href="../ch/{{this.name}}.html" >中文</a></li>
          </ul>
        </li>
        <li> <a href="login-page.html" target="_blank" >Iniciar sesión</a>
        <ul class="owl-tt-submenu">
            <li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
            <li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
            <li><a href="aci-ams.html" >ACI-AMS</a></li>
            
          </ul>
          </li>
      </ul>
      <div class="social-top"> <a href="http://www.twitter.com/delmarcargo" target="_blank" class="fa fa-twitter"></a> <a href="http://www.facebook.com/delmarcargo" target="_blank" class="fa fa-facebook"></a> <a href="http://www.youtube.com/delmarcargo" target="_blank" class="fa fa-youtube"></a>    <a href="https://plus.google.com/+Delmarcargo" target="_blank" class="fa fa-gplus"></a> <a href="http://www.linkedin.com/company/delmar-international-inc." target="_blank" class="fa fa-github"></a> </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- Navigation -->
  <div id="nav">
    <div class="nav-sticky">
      <div class="container navbar navbar_ clearfix">
        <div class="navbar-inner">
          <div class=" row">
            <!--============================== OWL MENU =================================-->
            <div class="owl-contener col-md-12  clearfix">
              <!-- Logo -->
				<h1 class="brand fleft"><a href="index.html"><img src="../img/logo.png" alt=""></a><span>Delmar International Inc.</span></h1>
				<div class="cat-title"></div>
				<ul class="owl-menu menu-content">
                <li class="single-dropdown loginvisibility">
						<a href="#">Español</a>
          <ul class="owl-submenu" style="width: 100%;">
            <li><a href="../en/{{this.name}}.html" >English</a></li>
            <li><a href="../fr/{{this.name}}.html" >Français</a></li>
            <li><a href="../pt/{{this.name}}.html" >Português</a></li>
            <li><a href="../ch/{{this.name}}.html" >中文</a></li>
          </ul>
				</li>    
                 <li class="single-dropdown loginvisibility">
						<a href="#">Síganos</a>
						<ul class="owl-submenu" style="width: 100%;">
							<li><a href="http://www.twitter.com/delmarcargo" target="_blank">Twitter</a></li>
							<li><a href="http://www.facebook.com/delmarcargo" target="_blank">Facebook</a></li>
							<li><a href="http://www.youtube.com/delmarcargo" target="_blank">Youtube</a></li>
							<li><a href="https://plus.google.com/+Delmarcargo" target="_blank">Google + </a></li>
							<li><a href="https://www.linkedin.com/company/delmar-international-inc-" target="_blank">Linkedin</a></li>
						</ul>
				</li>     
                <li class="single-dropdown loginvisibility"> 
                    <a href="login-page.html">Iniciar sesión</a>
                    <ul class="owl-submenu"style="width: 250px;">
							<li><a href="https://www.delmarcargo.com/cas/login?service=https%3A%2F%2Fwww.delmarcargo.com%2Fextranet%2F" >Extranet</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/pars" >PARS</a></li>
							<li><a href="http://www.delmarcargo.com/mobile/shipment/status" >PAPS</a></li>
							<li><a href="aci-ams.html" >ACI-AMS</a></li>
						</ul>
                </li>
              
                <li class="single-dropdown"> 
                    <a href="services.html">Servicios Principales</a>
                    <ul class="owl-submenu" style="width: 100%;">
						<li><a href="services.html#transporteinternacional" >Transporte internacional de carga</a></li>
						<li><a href="services.html#cumplimientoaduanal" >Cumplimiento aduanal</a></li>
						<li><a href="services.html#serviciosterrestres" >Transporte terrestre</a></li>
						<li><a href="services.html#distribucion" >Almacenamiento y Distribución</a></li>
						<li><a href="services.html#technologia" >Nuestra Tecnología</a></li>
					</ul>
                </li>
              
                <li class="single-dropdown"> 
                    <a href="news.html">Noticias</a>
                    <ul class="owl-submenu" style="width: 100%;">
									<li><a href="news.html#latest" >Últimas notícias</a></li>
									<li><a href="news.html#publicaciones" >Publicaciones</a></li>
									<li><a href="news.html#prensa" >En la prensa</a></li>
									<li><a href="news.html#video" >Videos</a></li>
								</ul>
                </li>
              
                <li class="single-dropdown"> 
                    <a href="our-company.html">Nuestra Empresa</a>
                     <ul class="owl-submenu" style="width: 100%;">
								<li><a href="our-company.html#cubrimiento" >Cubrimiento Global</a></li>
								<li><a href="our-company.html#oportunidades" >Oportunidades</a></li>
								<li><a href="our-company.html#compromiso" >Compromiso social</a></li>
								<li><a href="our-company.html#sostenible" >Acción sostenible</a></li>
								<li><a href="our-company.html#mision" >Declaración de misión</a></li>
							
					</ul>
                </li>
              
                <li class="single-dropdown">
                    <a href="links.html">Links</a>
                 <ul class="owl-submenu" style="width: 100%;">
							
								<li><a href="links.html#canada" >Canadá</a></li>
								<li><a href="links.html#usa" >Estados Unidos</a></li>	
					</ul>  
                </li>
              
                <li class="single-dropdown">
                    <a href="contact-delmar.html">Contáctenos
                  <div class="skewed_slide"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
       <!-- ]header -->
    <div class="content" style="background-color:#FFFFFF;" >
		<section id="contactus">
			<div class="d_section d_contact">
				<div class="d_top parallax">
					<div class="container" >
						<div class="d_titlebar">
								<h1>CONTÁCTENOS</h1>
								<p></p>
						</div>
					</div>
				</div>
				<div class="d_dividerbar cyan" >  </div>	
				<div class="d_dividerbar white"></div>
				<div class="container" style="background-color:#FFFFFF;">					
				</div>
				<div class="container">
					<div class="col-lg-2"></div>
					<div class="col-lg-8">
                    <div class="row">
						<div class="col-lg-6">
									<h2 style="text-align:left">Delmar International Inc.</h2>
									<p style="text-align:justify">10636 Chemin de la Côte-de-Liesse<br/>Lachine, Québec <br/>H8T 1A5 <br/>Canada<br/><br/>Telefono:   <a href="tel:514-636-8800">514 636 8800</a><br/>Toll Free: <a href="tel:1-888-4-335-627">1 888 4 DELMAR</a><br><a href="our-company.html#global">Mapa global</a></p><p style="text-align:justify;">Lista de oficinas: &nbsp; <a href="worldwide.html" >HTML</a>&nbsp; | &nbsp;<a href="http://www.delmarcargo.com/sales/marketing/pdf/DelmarWorldwide_ES.pdf" target="_blank" >PDF</a> &nbsp;| &nbsp;<a href="http://www.delmarcargo.com/sales/marketing/jpg/DelmarWorldwide_ES.jpg" target="_blank" >JPG</a></p>
								</div>
								<div class="col-lg-6">								
								     <div class="location-map">
							<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script><div style="overflow:hidden;height:400px;width:100%;"><div id="gmap_canvas" style="height:400px;width:600px;"></div><style>#gmap_canvas img{max-width:none!important;background:none!important}</style><a class="google-map-code" href="http://www.themecircle.net" id="get-map-data">Delmar International Inc.</a></div><script type="text/javascript"> function init_map(){var myOptions = {zoom:14,center:new google.maps.LatLng(45.4630999,-73.72146559999999),mapTypeId: google.maps.MapTypeId.ROADMAP};map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(45.4630999, -73.72146559999999)});infowindow = new google.maps.InfoWindow({content:"<b>Delmar International Inc.</b><br/>10636 Cote de Liesse<br/>H8T 1A5 Lachine" });google.maps.event.addListener(marker, "click", function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>
						</div>                       
									<h3 style="text-align:left"></h3>
								</div>
                                </div>
					</div>
					<div class="col-lg-2"></div>
				</div>                      
                <div class="container">
					<div class="col-lg-2"></div>
					<div class="col-lg-8">						
                     <p>&nbsp;</P><p>&nbsp;</P><p style="text-align: center;">Hemos recibido su información/solicitud.<br>
Un representantes de Servicio al Cliente de Delmar comunicará con usteden brevedad.<br><br>
<i>Gracias por su interés en Delmar International Inc.</i>
</p> <p>&nbsp;</P> <p>&nbsp;</P>
					</div>
					<div class="col-lg-2"></div>
				</div>                
				<div class="d_dividerbar white"></div>
			</div>
	</section>
    </div>
	<!-- [footer -->
<div class="secondb">
   <div class="container">
      <div class="row-fluid" align="center">
              <a href="http://www.ciffa.com/" target="_blank"><img src="../img/footer/ciffalogo_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://cscb.ca/" target="_blank"><img src="../img/footer/cscb_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbp.gov/border-security/ports-entry/cargo-security/c-tpat-customs-trade-partnership-against-terrorism" target="_blank"><img src="../img/footer/ct-pat_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.iata.org/Pages/default.aspx" target="_blank"><img src="../img/footer/iata_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="http://www.cbsa-asfc.gc.ca/security-securite/pip-pep/menu-eng.html" target="_blank"><img src="../img/footer/pip_03.png" alt="" style="padding: 0px 35px;"></a>
              <a href="https://www.wcaworld.com/eng/home.asp" target="_blank"><img src="../img/footer/wca_03.png" alt="" style="padding: 0px 35px;"></a>
      </div>
    </div>
  </div>
      <footer id="footer">
    <div class="container">
      <div class="row">     
          <div class="container">
			<div class="row">			
				<div class="footer-copyright">
					© 2015 Delmar International Inc. Derechos de Autor | <a href="legal.html" target="_blank">Legal</a>  
				</div>
			</div>
        </div>          
        </div>
      </div>
  </footer>
  <!-- ]end of footer -->
</div>
<script type="text/javascript" language="JavaScript" src="http://go.delmarcargo.com/js/frs-app-96654.js"></script>
